<div class="panel panel-default">
    <div class="panel-heading">
        <form class="add form-inline" data-bind="submit: $root.addStudent">

            <label>Фамилия:
                <input class="form-control" data-name="second_name"
                       data-bind="value: $root.newStudent.second_name"/>
            </label>
            <label>Имя:
                <input class="form-control" data-name="name" data-bind="value: $root.newStudent.name"/>
            </label>
             <button type="submit" class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </form>
    </div>
</div>