<div class="row">
    <div class="col-md-4">
        <form class="form">
            <label>Почта</label>
            <input type="email" class="form-control" data-bind="value: email,
        valueUpdate: 'input'">
            <label>Телефон </label>
            <input class="form-control" data-bind="value: phone,
        valueUpdate: 'input'">
            <label>vk.com </label>
            <input type="url" class="form-control" data-bind="value: vk,
        valueUpdate: 'input'">
        </form>
    </div>
    <div class="col-md-4">
        <div class="student-photo">
            <a data-bind="visible: photo, attr: { 'href': photo }">
                <button class="btn btn-danger" style="position: absolute" data-bind="click: removePhoto">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <img class="student-photo-img" data-bind="attr: { 'src': photo }">
            </a>

            <form class="student-photo-form" method="post" data-bind="submit: changePhoto">
                <input hidden="hidden" class="form-control" type="file" name="photo">
                <input hidden="hidden" name="student_id" data-bind="value: id">
                {% csrf_token %}
                <button class="btn btn-info" type="submit">
                    <span class="glyphicon glyphicon-file">Photo</span>
                </button>
            </form>
        </div>
    </div>
    <div class="col-md-4">
        <div class="list-group">
            <!-- ko foreach: files -->
            <a class="list-group-item">
                <div>
                    <span data-bind="text: title"></span>
                    <div class="btn-group btn-group-sm pull-right">
                        <button class="btn btn-link" data-bind="click: $parent.getStudentFile">
                            <span class="glyphicon glyphicon-download"></span>
                        </button>
                        <button class="btn btn-link" data-bind="click: $parent.removeStudentFile">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
            </a>
            <!-- /ko -->
            <button class="list-group-item list-group-item-info" style="width: 100%" data-bind="click: addFile">
                <span class="glyphicon glyphicon-plus"></span>

            </button>
            <form hidden="hidden">
                <input type="file" name="file">
                <input type="hidden" name="student_id" data-bind="value: id">
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>