{% load ex_tags %}
<li class="task item {{ complex_choice_tokens|get_item:task.complexity }}{% if task.users %} selected{% endif %}">
    {% if task.users %}
        <ul class="user-info">
            {% for u in task.users %}
                <li><span style="float: right">{{ u.second_name }} {{ u.name.0 }}. | {{ u.group.title }}</span></li>
            {% endfor %}
        </ul>
    {% endif %}
    <div id="task-description-{{ task.id }}" class="task-description">
        {{ task.description|safe }}
    </div>
    <div style="clear: both;"></div>
</li>
