;; 2013.01.21
;; yasushisakai
;;
;; gitignore for Django using pyCharm
;;

;;files to ignore
settings.py

;;extensions to ignore
*.log
*.pot
*.pyc

;;directories to ignore
.idea/
static/
media/
logs/
node_modules/
.git/
.hg/
.pyc
tealeaf.dbs
tealeaf.json
apps.tar.gz
dump_database
dump.json
students_dump.json