Django==1.7.1
Fabric==1.9.0
Markdown==2.4.1
Pillow==2.4.0
South==1.0.1
Unidecode==0.04.16
XlsxWriter==0.5.7
argparse==1.2.1
cmsplugin-filer==0.10.1
colour==0.0.5
cssmin==0.2.0
distlib==0.1.2
django-ace==1.0.1
django-admin-bootstrapped==2.1.0
django-appconf==0.6
django-assets==0.10
django-classy-tags==0.5.1
-e git+https://github.com/divio/django-cms.git@992f70304f7749e353c48ac6acdec4ac70a32a9b#egg=django_cms-origin/support/3.0.x
django-email-obfuscator==0.1.3
django-filebrowser==3.5.7
django-filer==0.9.8
django-grappelli==2.6.2
django-markupfield==1.2.1
django-mptt==0.6.1
django-ordered-model==0.4.0
django-polymorphic==0.6
django-positions==0.5.2
django-sekizai==0.7
django-tracking2==0.2.0
djangocms-admin-style==0.2.2
djangocms-cascade==0.3.2
djangocms-file==0.1
djangocms-flash==0.1
djangocms-text-ckeditor==2.4.1
docutils==0.11
easy-thumbnails==2.2
ecdsa==0.11
html5lib==0.999
jdcal==1.0
jsmin==2.0.11
jsonfield==0.9.20
paramiko==1.14.0
psycopg2==2.5.3
pycrypto==2.6.1
six==1.8.0
sqlparse==0.1.11
textile==2.1.8
trans==2.0.1
urllib3==1.9
webassets==0.10
wsgiref==0.1.2
yuicompressor==2.4.8
