<div class="jumbotron loading" data-bind="visible: showLoading">
    <div class="row">
        <div class="col-md-9">
            <h1 class="">Группа &laquo;<!-- ko text: $root.group()? $root.group().title : '' --><!-- /ko -->&raquo;</h1>

            <p>
                <!-- ko if: isStudentsLoading -->загружаю список...<!-- /ko-->
                <!-- ko ifnot: isStudentsLoading -->список пока не готов<!-- /ko-->
            </p>
        </div>
        <!-- ko if: isStudentsLoading -->
        <div class="col-md-3">
            <div class="loader"></div>
        </div>
        <!-- /ko -->
    </div>
</div>

<!-- ko ifnot: isStudentsLoading -->
<!-- ko if: students && students().length > 0 -->
<div class="marks-table">
    {% include "students/marks/table-students.html" %}
    <div class="m-table-container">
        <!-- ТАБЛИЦА ЛАБОВ -->
        <!-- ko foreach: labs -->
            <!-- ko if: regular -->
                <!-- ko if: visible -->
                    {% include "students/marks/table-labs.html" %}
                <!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
        <!-- конец ТАБЛИЦА ЛАБОВ -->
        {% if not  user.is_authenticated %}
            <!-- ko if: lessons().length -->
            {% include "students/marks/table-marks.html" %}
            <!-- /ko -->
        {% else %}
            {% include "students/marks/table-marks.html" %}
        {% endif %}
    </div>
</div>
<div style="clear: both"></div>
<!-- /ko -->
<!-- /ko -->
{#{% include "students/marks/table-marks-info.html" %}#}
