<!-- ФОРМА УПРАВЛЕНИЯ СПИСКОМ СТУДЕНТОВ -->
<div class="marks-students-list-header-button-group">
    <button class="btn btn-sm btn-link" data-bind="click: toggleStudentsSorting">
        <span class="glyphicon glyphicon-sort"></span>
        <span class="btn-text" data-bind="text: sortMethod() ? sortMethod().title : ''"></span>
    </button>
    <button class="btn btn-sm btn-link" data-bind="click: toggleScorePercents">
        <span class="glyphicon glyphicon-star"></span>
        <span class="btn-text" data-bind="text: scoreMethod"></span>
    </button>
    <button class="btn btn-sm btn-link pull-right"
            data-bind="click: toggleBadStudentHiding">
                    <span class="glyphicon"
                          data-bind="css: {'glyphicon-eye-close': hideBadStudents(), 'glyphicon-eye-open': !hideBadStudents()} "></span>
    </button>
</div>
<!-- КОНЕЦ ФОРМА УПРАВЛЕНИЯ СПИСКОМ СТУДЕНТОВ -->