<table class="m-table l-table" data-bind="css: {'showable': show }">
    <thead class="t-header">
    {% include "students/marks/table-marks-labs-header.html" %}
    </thead>

    <tbody class="t-content" data-bind="foreach: $parent.students">
    <tr class="t-row" data-bind="css: {'collapsed': !$root.visibleStudent($data)() }">
        <!-- ko foreach: $parent.tasks -->
        <td>
            <!-- ko with: $parent.task($data) -->
            <div class="t-cell"
                 data-bind="{% if user.is_authenticated %}
                      click: $data.toggle,
                     {% endif %}
                     css: css">
                <span class="t-cell-icon" data-bind="text: $parent.order"></span>
            </div>
            <!-- /ko -->
        </td>
        <!-- /ko -->
    </tr>
    </tbody>

    <tfoot class="t-footer">
    {% include "students/marks/table-marks-labs-header.html" %}
    </tfoot>
</table>