<table class="m-table">
    <thead class="t-header">
    <tr class="t-row">
        {% include "students/marks/table-marks-header.html" %}

    </tr>
    </thead>
    <tbody class="t-content" data-bind="foreach: students">
    <tr class="t-row" data-bind="css: {'collapsed': !$root.visibleStudent($data)() }">
        <!-- ko foreach: marks -->
        <td>
            <div class="t-cell mark"
                 data-bind="text: $data.mark() < 10 && $data.mark() > 0 ? $data.mark() : '', css: mark_class{% if user.is_authenticated %},click: $root.marksTable.clickMark{% endif %}">
            </div>
        </td>
        <!-- /ko -->
        {% if user.is_authenticated %}
            <td>
                <div class="t-cell"></div>
            </td>{% endif %}
    </tr>
    </tbody>
    <tfoot class="t-footer">
    <tr class="t-row">
        {% include "students/marks/table-marks-header.html" with position='bottom' %}
    </tr>
    </tfoot>
</table>