$color_change_speed: 0.3s;

@mixin transition {
  -webkit-transition: all ease-in-out $color_change_speed;
  -moz-transition: all ease-in-out $color_change_speed;
  -ms-transition: all ease-in-out $color_change_speed;
  -o-transition: all ease-in-out $color_change_speed;
  transition: all ease-in-out $color_change_speed;
}

@mixin complexity($bg, $fg) {
  @include transition;
  background-color: $bg;
  box-shadow: 0 0 1px $fg !important;
  &.selected {
    border-color: $fg !important;
  }
  .user-info {
    border-color: $fg !important;
  }
}

@mixin complex_style {
  .easy {
    @include complexity(#d1ff99, #83b14c);
  }
  .medium {
    @include complexity(#ffff99, #ffde60);
  }
  .hard {
    @include complexity(#ffca99, #ffa75c);
  }
  .nightmare {
    @include complexity(#ffbdb3, #ff7e79);
  }

  .selected {
    @include transition;
    background-color: #dddddd;
    code {
      color: gray;
    }
  }
}

@mixin gallery {
  &.gallery {
    list-style: none;
    float: left;

    .edit {
      .form-group {
        padding-right: 0;
      }
      .form-control {
        width: 100%;
      }
    }

    img {
      box-shadow: none;
      border-radius: 0;
      margin: 0;
    }
    li {
      position: relative;
      padding: 6px;
      margin: 8px 8px 8px 0;
      float: left;
      width: 116px;
      .task_number {
        text-align: center;
        font-weight: bold;
      }
      img {
        border: 1px solid gray;
        border-radius: 8px 8px 0 0;
        padding: 0;
        margin: 0 auto;
        width: 100px;
        display: block;
      }
    }
    .caption {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: center;
      font-size: 0.8em;
      width: 100px;
      padding: 0.25em 0.25em;
      border-radius: 0 0 8px 8px;
      background-color: white;
      border: silver 1px solid;
      border-top: none;
      box-shadow: 0 0 4px white;
      display: block;
      margin: 0 auto;
    }
  }
}

/* labs */

.lab {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  code {
    color: black;
  }
  img {
    margin: 0.5em 0;
    border-radius: 0;
    box-shadow: none;
    border: none;
  }
  h2 {
    color: #003366;
    cursor: pointer;
    border-bottom: dashed 1px;
    display: inline-block;
    margin: 0 0 0.3em;
    padding: 0;
  }
  h2:hover {
    color: black;
  }

  .tasks {
    @include complex_style;

    padding-left: 2em;
    li {
      margin: 0.5em 0;
      padding: 0.5em;
      border-radius: 10px;
      background: #EEEEEE;
      border: #c0c0c0 1px solid;
      position: relative;
    }
    .user-info {
      display: inline-block;
      padding: 0.5em 1em;
      float: right;
      border-radius: 8px;
      background-color: white;
      border: silver 2px solid;
      box-shadow: 0 0 4px white;
      min-width: 9em;
      text-align: center;
      margin-right: 0.25em;
      margin-left: 0.25em;
    }
    .edit {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      .form-inline {
        padding-top: 0.5em;
        .form-group {
          padding-right: 0.5em;
        }
      }
    }
    @include gallery;
  }

}

/* end labs */