<!-- ФОРМА УПРАВЛЕНИЯ СПИСКОМ СТУДЕНТОВ -->
<form class="form form-inline">
    <button class="btn btn-sm btn-default pull-left" data-bind="click: toggleStudentsSorting">
        <span class="glyphicon glyphicon-sort"></span>
        <!-- ko text: $root.sortMethod() ? $root.sortMethod().title : "" --><!-- /ko -->
    </button>
    {% if user.is_authenticated %}
        <!-- КНОПКА СОХРАНЕНИЯ -->
        <div class="form-group  pull-right">
            <button class="btn btn-sm btn-success"
                    data-bind="click: $root.saveMarks, visible: students && discipline">
                <i class="glyphicon glyphicon glyphicon-save"></i>
            </button>
        </div>
        <!-- КОНЕЦ КНОПКИ СОХРАНЕНИЯ -->
    {% endif %}
</form>
<!-- КОНЕЦ ФОРМА УПРАВЛЕНИЯ СПИСКОМ СТУДЕНТОВ -->