<form class="form-inline" style="padding-bottom: 1em"
      {% if not user.is_authenticated %}data-bind="visible: disciplines().length"{% endif %}>
    <div class="form-group">
        <select class="form-control"
                data-bind="visible: disciplines().length, value: discipline, options: disciplines, optionsText: 'title'">
        </select>
    </div>
    {% if user.is_authenticated %}
        <div class="form-group">
            <button class="btn btn-default btn-sm" data-bind="visible: discipline, click: editDiscipline">
                <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button class="btn btn-default btn-sm" data-bind="click: addDiscipline">
                <span class="glyphicon glyphicon-plus"> Добавить дисциплину</span>
            </button>
            <button class="btn btn-danger btn-sm pull-right" data-bind="visible: discipline, click: removeDiscipline">
                <span class="glyphicon glyphicon-minus"></span>
            </button>
        </div>
    {% endif %}
</form>
<div style="clear: both"></div>