{% extends "base-page.html" %}
{% load static sekizai_tags assets %}

{% block basecontent %}
    <noscript>
        <div class="jumbotron">
            <h1>Javascript</h1>

            <h3>Необходимо включить его, чтобы таблица отображалось корректно!</h3>
        </div>
    </noscript>

    <div class="marks-editor nojs">
        <!-- СПИСОК ДИСЦИПЛИН -->
        {% include "students/marks_discipline_list.html" %}
        <!-- КОНЕЦ СПИСОК ДИСЦИПЛИН -->

        <form class="form-inline">
            {% if user.is_authenticated %}
                <!-- СПИСОК ГОДОВ -->
                <div class="form-group">
                    <select class="form-control" name="year"
                            data-bind="value: year, options: years, optionsValue: 'year', optionsText: 'year'"></select>
                </div>
                <!-- КОНЕЦ СПИСОК ГОДОВ -->
            {% endif %}
            <!-- СПИСОК ГРУПП -->
            <div class="form-group" style="padding-bottom: 0">
                <select class="form-control" name="group"
                        data-bind="visible: groups().length, value: group, options: groups, optionsText: 'title'"></select>
            </div>

            {% if user.is_authenticated %}
                <!-- КНОПКА ВЫГРУЗКИ В EXCEL -->
                <button class="btn btn-success" data-bind="click: toExcel">
                    <span>список в *.xls</span>
                </button>
                <!-- КОНЕЦ КНОПКА ВЫГРУЗКИ В EXCEL -->
                <!-- КНОПКА СОХРАНЕНИЯ -->
                {#                <div class="">#}
                <button class="btn btn-sm btn-success"
                        data-bind="click: $root.saveMarks, visible: students && discipline">
                    <i class="glyphicon glyphicon glyphicon-save"></i>
                </button>
                {#                </div>#}
                <button class="btn btn-info pull-right"
                        data-bind="click: $root.loadStudentsControl, visible: students && discipline">
                    <span class="glyphicon glyphicon glyphicon-file"> Аттестация</span>
                </button>
                <!-- КОНЕЦ КНОПКИ СОХРАНЕНИЯ -->
            {% endif %}
            <!-- КОНЕЦ СПИСОК ГРУПП -->

            <div style="clear: both;"></div>
        </form>


        <!-- СПИСОК СТУДЕНТОВ С ОЦЕНКАМИ -->
        {% include "students/marks_students_marks.html" %}
        <!-- КОНЕЦ СПИСОК СТУДЕНТОВ С ОЦЕНКАМИ -->

        {% addtoblock "core_css" %}
            <link rel="stylesheet" href="{% static "css/marks.css" %}"/>
        {% endaddtoblock %}

        {% addtoblock "js" %}
            {% assets "marks_js" %}
                <script type="text/javascript" src="{% static ASSET_URL %}"></script>
            {% endassets %}
        {% endaddtoblock %}

        {% addtoblock "js" %}
            <script>
                $(function () {
                    ko.applyBindings(new MarksViewModel({
                        csrf: "{{ csrf_token }}",
                        url: {
                            years: "{% url "students.views.students.ajax.json.years" %}",
                            groups: "{% url "students.views.students.ajax.json.groups" %}",
                            students: "{% url "students.views.marks.students" %}",
                            disciplines: "{% url "students.views.marks.disciplines.index" %}",
                            to_excel: "{% url "students.views.marks.marks_to_excel" %}",
                            {% if user.is_authenticated %}
                                discipline_add: "{% url "students.views.marks.disciplines.add" %}",
                                discipline_remove: "{% url "students.views.marks.disciplines.remove" %}",
                                discipline_edit: "{% url "students.views.marks.disciplines.edit" %}",
                                students_control: "{% url "students.views.marks.students_control" %}",
                                lesson_add: "{% url "students.views.marks.lesson_add" %}",
                                lesson_remove: "{% url "students.views.marks.lesson_remove" %}",
                                lesson_save: "{% url "students.views.marks.lesson_save" %}",
                                marks_save: "{% url "students.views.marks.marks_save" %}"
                            {% endif %}
                        }
                    }));
                });
            </script>
        {% endaddtoblock "js" %}
    </div>

{% endblock %}