<!-- ko if: group() && (isStudentsLoading() || (students && students().length == 0)) -->
<div class="jumbotron">
    <div class="row">
        <div class="col-md-9">
            <h1 class="">Группа &laquo;<!-- ko text: group()? group().title : '' --><!-- /ko -->&raquo;</h1>

            <p>
                <!-- ko if: isStudentsLoading -->Загружаю список...<!-- /ko-->
                <!-- ko ifnot: isStudentsLoading -->Список пока не готов<!-- /ko-->
            </p>
        </div>
        <!-- ko if: isStudentsLoading -->
        <div class="col-md-3">
            <div class="pull-right loader"></div>
        </div>
        <!-- /ko -->
    </div>
</div>
<!-- /ko -->
<div class="table-responsive">
    <!-- ko ifnot: isStudentsLoading -->
    <table class="table-marks table table-condensed table-bordered table-hover"
           data-bind="visible: students && students().length">
        <thead>
        <tr>
            <th class="headcol" style="text-align: center">
                {% include "students/marks_students_control.html" %}
            </th>
            <!-- СТРОКА ЗАНЯТИЙ -->
            <!-- ko foreach: lessons -->
            <th class="mark" data-bind="css: style">
                {% if user.is_authenticated %}
                    {% include "students/marks_modal_lesson_editor.html" %}
                {% else %}
                    <div class="btn btn-sm btn-default" rel="tooltip" data-html="true" data-toggle="tooltip"
                         data-bind="attr: { 'data-original-title': info }">
                        <!-- ko if: description -->
                        <span class="glyphicon glyphicon-pushpin"></span>
                        <!-- /ko -->
                        <!-- ko ifnot: description -->
                        <span class="" data-bind="text: day"></span>
                        <!-- /ko -->
                    </div>
                {% endif %}
            </th>
            <!-- /ko -->
            <!-- КОНЕЦ СТРОКА ЗАНЯТИЙ -->
            <th>
                {% if user.is_authenticated %}
                    <!-- КНОПКА ДОБАВЛНЕИЯ ЗАНЯТИЯ -->
                    <button class="btn btn-sm btn-primary" data-bind="visible: discipline, click: addLesson">
                        <i class="glyphicon glyphicon glyphicon-plus"></i>
                    </button>
                    <!-- КОНЕЦ КНОПКИ ДОБАВЛНЕИЯ ЗАНЯТИЯ -->
                {% endif %}
            </th>
        </tr>
        </thead>
        <!-- ТАБЛИЦА ОЦЕНОК -->
        <tbody data-bind="foreach: $root.students">
        <tr style="text-align: center">
            <td class="headcol" data-bind="style: color, css: style">
                <table>
                    <tr>
                        <td><span class="pull-left" data-bind="text: (second_name + ' ' + name)"></span></td>
                        <td style="padding-left: 8px">
                            <span class="pull-right badge" style="background: white; color: green"
                                  data-bind="text: sum, style: { color: sum < 0 ? 'red' : 'green' }, visible: sum != 0"></span>
                        </td>
                    </tr>
                </table>
            </td>
            <!-- ko foreach: marks -->
            <td class="mark"
                data-bind="css: mark_class{% if user.is_authenticated %},click: $root.clickMark{% endif %}">
                <span class="mark-text" data-bind="text: mark_text()"></span>
            </td>
            <!-- /ko -->
            <td></td>
        </tr>
        </tbody>
        <!-- КОНЕЦ ТАБЛИЦА ОЦЕНОК -->
        <!-- ko if: lessons().length > 0 -->
        <tfoot>
        <tr>
            <td class="headcol" style="text-align: center">
                {% include "students/marks_students_control.html" %}
            </td>
            <!-- ko foreach: lessons -->
            <td class="mark" data-bind="css: style">
                <div class="btn btn-sm btn-default" rel="tooltip" data-html="true" data-toggle="tooltip"
                     data-bind="attr: { 'data-original-title': info }">
                    <!-- ko if: description -->
                    <span class="glyphicon glyphicon-pushpin"></span>
                    <!-- /ko -->
                    <!-- ko ifnot: description -->
                    <span class="" data-bind="text: day"></span>
                    <!-- /ko -->
                </div>
            </td>
            <!-- /ko -->
        </tr>
        </tfoot>
        <!-- /ko -->
    </table>
    <!-- /ko -->
</div>
{% if user.is_authenticated %}
    {% include "students/mark_selector.html" %}
{% endif %}