{% extends "base_page.html" %}
{% load static sekizai_tags %}

{% block basecontent %}
    {% if user.is_authenticated %}
        <!-- lesson template -->
        <div style="display: none" data-bind="with: lesson">
            <form id="template-lesson-edit" class="form">
                <div class="form-group">
                    <input class="form-control lesson-date" data-bind="value: date">
                </div>
                <div class="form-group">
                    <textarea id="lesson-description" class="form-control"
                              data-bind="value: description_raw"></textarea>
                </div>
                <div class="form-group">
                    <select class="form-control"
                            data-bind="value: lesson_type, options: $root.lesson_types, optionsValue: 'id', optionsText: 'title'">
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary save" data-bind="click: $root.saveLesson">
                        <i class="glyphicon glyphicon-save"></i>
                    </button>
                    <button class="btn btn-danger pull-right delete" data-bind="click: $root.removeLesson">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </div>
            </form>
        </div>
        <!-- END lesson template -->
    {% endif %}

    <noscript>
        <div class="jumbotron">
            <h1>Javascript</h1>

            <h3>Необходимо включить его, чтобы таблица отображалось!</h3>
        </div>
    </noscript>
    <div class="marks-editor nojs">
        <!-- СПИСОК ДИСЦИПЛИН -->
        {% include "students/marks_discipline_list.html" %}
        <!-- КОНЕЦ СПИСОК ДИСЦИПЛИН -->

        <form class="form-inline" style="padding-bottom: 1em">
            {% if user.is_authenticated %}
                <!-- СПИСОК ГОДОВ -->
                <div class="form-group">
                    <select class="form-control" name="year"
                            data-bind="value: year, options: years, optionsValue: 'year', optionsText: 'year'"></select>
                </div>
                <!-- КОНЕЦ СПИСОК ГОДОВ -->
            {% endif %}
            {#            <div class="form-group">#}
            <!-- СПИСОК ГРУПП -->
            <select class="form-control" name="group"
                    data-bind="visible: groups().length, value: group, options: groups, optionsText: 'title'"></select>
            <!-- КОНЕЦ СПИСОК ГРУПП -->
            {#            </div>#}
        </form>

        <!-- СПИСОК СТУДЕНТОВ С ОЦЕНКАМИ -->
        {% include "students/marks_students_marks.html" %}
        <!-- КОНЕЦ СПИСОК СТУДЕНТОВ С ОЦЕНКАМИ -->

        {% addtoblock "css" %}
            <link rel="stylesheet" href="{% static "css/students.css" %}"/>
        {% endaddtoblock %}

        {% addtoblock "js" %}
            <script src="{% static 'bower_components/knockout/dist/knockout.js' %}"></script>
        {% endaddtoblock %}

        {% addtoblock "js" %}
            <script src="{% static "js/ko.modal_confirm.js" %}"></script>
        {% endaddtoblock "js" %}

        {% addtoblock "js" %}
            <script src="{% static "js/students/ko.marks.js" %}"></script>
        {% endaddtoblock "js" %}

        {% addtoblock "js" %}
            <script>
                ko.applyBindings(new MarksViewModel({
                    csrf: "{{ csrf_token }}",
                    url: {
                        years: "{% url "students.views.students.ajax.json.years" %}",
                        groups: "{% url "students.views.students.ajax.json.groups" %}",
                        students: "{% url "students.views.marks.students" %}",
                        disciplines: "{% url "students.views.marks.disciplines.index" %}",
                        {% if user.is_authenticated %}
                            discipline_add: "{% url "students.views.marks.disciplines.add" %}",
                            discipline_remove: "{% url "students.views.marks.disciplines.remove" %}",
                            discipline_edit: "{% url "students.views.marks.disciplines.edit" %}",
                            lesson_add: "{% url "students.views.marks.lesson_add" %}",
                            lesson_remove: "{% url "students.views.marks.lesson_remove" %}",
                            lesson_save: "{% url "students.views.marks.lesson_save" %}",
                            marks_save: "{% url "students.views.marks.marks_save" %}"
                        {% endif %}
                    }
                }));
            </script>
        {% endaddtoblock "js" %}
    </div>

{% endblock %}