<!-- ko if: group() && (isStudentsLoading() || (students && students().length == 0)) -->
<div class="jumbotron">
    <div class="row">
        <div class="col-md-9">
            <h1 class="">Группа &laquo;<!-- ko text: group()? group().title : '' --><!-- /ko -->&raquo;</h1>

            <p>
                <!-- ko if: isStudentsLoading -->Загружаю список...<!-- /ko-->
                <!-- ko ifnot: isStudentsLoading -->Список пока не готов<!-- /ko-->
            </p>
        </div>
        <!-- ko if: isStudentsLoading -->
        <div class="col-md-3">
            <div class="pull-right loader"></div>
        </div>
        <!-- /ko -->
    </div>
</div>

<!-- /ko -->
<!-- ko ifnot: isStudentsLoading -->
<!-- ko if: students && students().length > 0 -->
<div class="marks-table">
    <div class="students-list">
        <table class="table-marks">
            <thead>
            <tr>
                <th>
                    {% include "students/marks_students_control.html" %}
                </th>
            </tr>
            </thead>
            <!-- ТАБЛИЦА КОЛОНА СТУДЕНТОВ -->
            <tbody data-bind="foreach: $root.students">
            <!-- ko if: !$root.hideBadStudents() || (success_factor() >= 0.25) -->
            <tr style="text-align: center">
                <td data-bind="style: color, css: style" class="student">
                    <div class="info">
                        <table width="100%" data-bind="css: { 'god': success_factor() >= 1 } ">
                            <td class="name">
                                <span class="pull-left">
                                    <span class="name-second-name" data-bind="text: second_name"></span>
                                    <span class="name-name" data-bind="text: name"></span>
                                    <span class="name-n" data-bind="text: short_name"></span>
                                </span>
                            </td>
                            <td class="score" style="padding-left: 8px">
                                <span class="pull-right badge student-info-badge"
                                      style="color: green"
                                      data-bind="attr: { 'data-original-title': sum() }, style: { color: sum() < 0 ? 'red' : 'green' }">
                                        <span class="student-info-badge-percent"
                                              data-bind="visible: $root.showPercents(), text: ~~(success_factor() * 100) + '%'"></span>
                                        <span class="student-info-badge-score"
                                              data-bind="visible: !$root.showPercents(), text: sum"></span>
                                      </span>
                            </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <!-- /ko -->
            </tbody>
            <tfoot>
            <tr>
                <th class="headcol">
                    {% include "students/marks_students_control.html" %}
                </th>
            </tr>
            </tfoot>
            <!-- КОНЕЦ КОЛОНА СТУДЕНТОВ -->
        </table>
    </div>

    <div class="marks-list">
        <table class="table-marks">
            <thead>
            <tr>
                <!-- СТРОКА ЗАНЯТИЙ -->
                <!-- ko foreach: lessons -->
                <th class="mark" data-bind="css: style" style="max-height: 20px !important;">
                    <div class="header">
                        {% if user.is_authenticated %}
                            <div class="lesson-edit btn btn-sm btn-default"
                                 data-bind="attr: { 'data-original-title': info, 'data-date': date }, event: { 'mouseenter': $root.lessonHover } ">
                                <span class="" data-bind="text: day"></span>
                            </div>
                        {% else %}
                            <div class="btn btn-sm btn-default" rel="tooltip" data-html="true" data-toggle="tooltip"
                                 data-bind="attr: { 'data-original-title': info }">
                                <span class="" data-bind="text: day"></span>
                            </div>
                        {% endif %}
                    </div>
                </th>
                <!-- /ko -->
                <th>
                    <div class="header">
                        {% if user.is_authenticated %}
                            <!-- КНОПКА ДОБАВЛНЕИЯ ЗАНЯТИЯ -->
                            <button class="btn btn-sm btn-primary"
                                    data-bind="visible: discipline, click: addLesson">
                                <i class="glyphicon glyphicon glyphicon-plus"></i>
                            </button>
                            <!-- КОНЕЦ КНОПКИ ДОБАВЛНЕИЯ ЗАНЯТИЯ -->
                        {% endif %}
                    </div>
                </th>
                <!-- КОНЕЦ СТРОКА ЗАНЯТИЙ -->
            </tr>
            </thead>
            <!-- ТАБЛИЦА ОЦЕНОК -->
            <tbody data-bind="foreach: $root.students">
            <!-- ko if: !$root.hideBadStudents() || (success_factor() >= 0.25) -->
            <tr style="text-align: center">
                <!-- ko foreach: marks -->
                <td class="mark"
                    data-bind="text: $data.mark() < 10 && $data.mark() > 0 ? $data.mark() : '', css: mark_class{% if user.is_authenticated %},click: $root.clickMark{% endif %}">
                </td>
                <!-- /ko -->
                <td></td>
            </tr>
            <!-- /ko -->
            </tbody>
            <tfoot>
            <tr>
                <!-- ko foreach: lessons -->
                <th class="mark" data-bind="css: style">
                    <div class="btn btn-sm btn-default" rel="tooltip" data-html="true" data-toggle="tooltip"
                         data-bind="attr: { 'data-original-title': info }">
                        <span class="" data-bind="text: day"></span>
                    </div>
                </th>
                <!-- /ko -->
                <th></th>
            </tr>
            </tfoot>
            <!-- КОНЕЦ ТАБЛИЦА ОЦЕНОК -->
        </table>
    </div>
</div>

<!-- /ko -->
<div class="row" style="padding-top: 1em">
    <div class="col-md-8">
        <div class="mark-table-description">
            <p>* В таблице представлена эффективность студентов по 100+ бальной шкале.

            <p>** Согласно <a style="display: inline" href="http://math.isu.ru/ru/teacher/docs/polojenie-BRS-2014.pdf">положению
                о балльно-рейтинговой системе оценки успеваемости студентов (пункт 4.3), </a>
                студенты, чья эффективность ниже <b>30%</b>, к экзамену (зачету и т.п.) допущены не будут.

            <div class="visible-sm visible-md visible-lg">
                <p>*** Максимальная возможная итоговая оценка за дисциплину (которая идет в зачетку) рассчитывается
                    согласно
                    таблице:
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Сумма</th>
                        <th> меньше 70%</th>
                        <th> меньше 80%</th>
                        <th> в остальных случаях</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Ваша эффективность + 30%</td>
                        <td>удовл.</td>
                        <td>хорошо</td>
                        <td>отлично</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- /ko -->
<div style="clear: both"></div>

{% if user.is_authenticated %}
    {% include "students/mark_selector.html" %}
{% endif %}
