{% extends "base_page.html" %}
{% load static sekizai_tags %}

{% block basecontent %}

    {% addtoblock "css" %}
        <link rel="stylesheet" href="{% static 'css/students.css' %}"/>
    {% endaddtoblock %}

    <div class="students_plugin years">

        <!-- СПИСОК ГОДОВ -->
        <form class="year_selector form-inline">
            <select class="form-control"
                    data-bind="options: yearsList, optionsValue: 'year', optionsText: 'year', value: year"></select>
            {# кнопка закачки списка студентов #}
            <button class="btn btn-success"
                    data-bind="visible: groupsList().length, click: function() { $root.downloadStudentsList('{% url "students.views.students.ajax.xlsx" %}') }">
                <i class="glyphicon glyphicon-download" data-bind="text: (' ' + year() + '.xlsx')"> </i>
            </button>
        </form>
        <!-- END СПИСОК ГОДОВ -->

        <div style="clear: both"></div>

        <!-- СПИСОК ГРУПП -->
        <div class="groups-content">
            <ul class="groups-nav" data-bind="foreach: groupsList">
                <li>
                    <div class="btn-group">
                        <a href="#" class="btn btn-default submit-link" data-bind="
                            click: $root.listStudents,
                            css: { 'btn-primary': $data == $root.group() }">
                            <span class="glyphicon glyphicon-user" data-bind="text: $data.title"></span>
                        </a>
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" data-bind="css: { 'success' : $data.modified() }">
                            <!-- УДАЛЕНИЕ ГРУППЫ -->
                            <li>
                                <form>
                                    <button type="submit" class="btn btn-danger" data-bind="click: $root.removeGroup">
                                        удалить
                                    </button>
                                </form>
                            </li>
                            <!-- КОНЕЦ УДАЛЕНИЕ ГРУППЫ -->

                            <!-- РЕДАКТИРОВАНИЕ ГРУППЫ -->
                            <li>
                                <form class="update" data-bind="submit: $root.saveGroups">
                                    <div class="form-group">
                                        <input name="title" class="form-control" data-bind="value: title"/>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control"
                                                data-bind="options: $root.yearsList, optionsValue: 'year',
                                             optionsText: 'year', value: year"></select>
                                    </div>
                                    <button type="submit" class="btn btn-default pull-right">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                </form>
                            </li>
                            <!-- КОНЕЦ РЕДАКТИРОВАНИЕ ГРУППЫ -->

                            <!-- КОПИРОВАНИЕ ГРУППЫ В СЛЕДУЮЩИЙ КОД -->
                            <li data-bind="visible: !has_ancestor">
                                <form class="copy_to_next_year"
                                      data-bind="submit: function(form) { $root.copyGroupToNextYear(form, $data) }"
                                      action="{% url "students.views.students.ajax.json.copy_to_next_year" %}"
                                      method="post">
                                    <button type="submit" class="btn btn-default pull-right">
                                        <span class="glyphicon glyphicon-play">copy to next year</span>
                                    </button>
                                </form>
                            </li>
                            <!-- КОНЕЦ КОПИРОВАНИЕ ГРУППЫ В СЛЕДУЮЩИЙ КОД -->

                        </ul>
                    </div>
                </li>
            </ul>
            <!-- ДОБАВЛЕНИЕ ГРУППЫ -->
            <ul class="groups-nav">
                <li>
                    <form class="add form-inline" data-bind="submit: $root.addGroup">
                        <input class="form-control" data-bind="value: $root.newGroup.title"/>
                        <button type="submit" class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </form>
                </li>
            </ul>
            <!-- КОНЕЦ ДОБАВЛЕНИЕ ГРУППЫ -->
        </div>
        <!-- END СПИСОК ГРУПП -->

        <div style="clear: both"></div>

        <!-- СПИСОК СТУДЕНТОВ -->
        <div class="panel-body" data-bind="visible: $root.group()">
            <div class="group-students">
                <div class="content">
                    <table class="students table table-bordered table-hover" data-bind="visible: $root.studentsList().length > 0">
                        <thead>
                        <tr>
                            <th class="counter">#</th>
                            {#                            <th class="counter"><span class="glyphicon glyphicon-ok"></span></th>#}
                            <th><span class="glyphicon glyphicon-user"></span></th>
                            <th class="counter"></th>
                        </tr>
                        </thead>
                        <tbody data-bind="foreach: studentsList">
                        <tr data-bind="css: { 'success' : $data.modified() }">
                            <td class="counter" data-bind="text: ($index() + 1)"></td>

                            <!-- РЕДАКТИРОВАТЬ СТУДЕНТА -->
                            <td>
                                <form class="update form-inline"
                                      data-bind="css: {'has-success': $data.modified() }, submit: $root.saveStudents">
                                    <input class="form-control" data-bind="value: second_name,
                                        valueUpdate: 'input'"/>
                                    <input class="form-control" data-bind="value: name,
                                        valueUpdate: 'input'"/>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-sm"
                                                data-bind="enable: $data.modified(), css: { 'btn-success': $data.modified() }">
                                            <span class="glyphicon glyphicon-save"></span>
                                        </button>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-sm btn-default"
                                                data-bind="visible: $root.group() && id !== $root.group().captain(), click: $root.setAsCaptain">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                        <button class="btn btn-sm btn-success"
                                                data-bind="visible: $root.group() && id === $root.group().captain()">
                                            Староста
                                        </button>
                                    </div>
                                </form>
                            </td>
                            <!-- END РЕДАКТИРОВАТЬ СТУДЕНТА -->

                            <!-- УДАЛИТЬ СТУДЕНТА -->
                            <td>
                                <form>
                                    <button type="submit" class="btn btn-danger btn-sm"
                                            data-bind="click: $root.removeStudent">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </form>
                            </td>
                            <!-- END УДАЛИТЬ СТУДЕНТА -->
                        </tr>
                        </tbody>
                    </table>

                    <!-- ДОБАВИТЬ СТУДЕНТА -->
                    <form class="add form-inline" data-bind="submit: $root.addStudent">
                        <button type="submit" class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <input class="form-control" data-name="second_name"
                               data-bind="value: $root.newStudent.second_name"/>
                        <input class="form-control" data-name="name" data-bind="value: $root.newStudent.name"/>
                    </form>
                    <!-- END ДОБАВИТЬ СТУДЕНТА -->

                </div>
            </div>
        </div>
        <!-- END СПИСОК СТУДЕНТОВ -->
    </div>

    {% addtoblock "js" %}
        <script src="{% static 'bower_components/knockout/dist/knockout.js' %}"></script>
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script src="{% static 'js/ko.modal_confirm.js' %}"></script>
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script src="{% static 'js/students/ko.students.js' %}"></script>
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script>
            ko.applyBindings(new StudentViewModel({
                        url: {
                            years: "{% url "students.views.students.ajax.json.years" %}",
                            groups: "{% url "students.views.students.ajax.json.groups" %}",
                            students: "{% url "students.views.students.ajax.json.students" %}",
                            save_groups: "{% url "students.views.students.ajax.json.save_groups" %}",
                            save_students: "{% url "students.views.students.ajax.json.save_students" %}",
                            set_captain: "{% url "students.views.students.ajax.json.set_captain" %}"
                        }
                    },
                    "#main-modal-form"));
        </script>
    {% endaddtoblock %}

{% endblock %}