<table class="students table table-bordered table-hover">
    {% if students %}
        <thead>
        <tr>
            <!-- столбец под форму удаления студента -->
            {% if user.is_authenticated %}
                <th class="counter"></th>
            {% endif %}
            <!-- конец ячейки под форму удаления студента -->

            <th class="counter">#</th>
            <th><span class="glyphicon glyphicon-user"></span></th>

            <!-- кнопка добавления столбца занятий -->
            {% if user.is_authenticated %}
                <th>
                    <input type="button" class="btn btn-primary btn-sm" value="+"/>
                    <input type="hidden" name="group_id" value="{{ group.pk }}"/>
                    <input type="hidden" name="discipline_id" value="{{ discipline.pk }}"/>
                </th>
            {% endif %}
            <!-- конец кнопки добавления столбца занятий -->

        </tr>
        </thead>
    {% endif %}
    <tbody>
    {% for s in students|dictsort:'second_name' %}
        <tr>
            <!--форма удаления студента -->
            {% if user.is_authenticated %}
                <td>
                    <form class="ajaxed remove" action="{% url "students.views.ajax.student.remove" %}"
                          method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <input type="hidden" name="student_id" value="{{ s.pk }}"/>
                        <input type="hidden" name="group_id" value="{{ group.pk }}"/>
                        <input type="hidden" name="discipline_id" value="{{ discipline.pk }}"/>
                    </form>
                </td>
            {% endif %}
            <!-- конец формы удаления студента -->


            <td class="counter">{{ forloop.counter }}</td>
            <td>

                {% if user.is_authenticated %}
                    <!-- форма редактирования имени -->
                    <form action="{% url "students.views.ajax.student.add" %}" method="post"
                          class="update ajaxed form-inline">
                        {% csrf_token %}
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" name="second_name" value="{{ s.second_name }}"
                                   placeholder="фамилия"/>
                            <input type="text" class="form-control" name="name" value="{{ s.name }}" placeholder="имя"/>
                            <input type="hidden" name="group_id" value="{{ group.pk }}"/>
                            <input type="hidden" name="discipline_id" value="{{ discipline.pk }}"/>
                            <input type="hidden" name="student_id" value="{{ s.pk }}"/>

                            <input type="hidden" name="second_name_old" value="{{ s.second_name }}"/>
                            <input type="hidden" name="name_old" value="{{ s.name }}"/>
                            <span class="glyphicon glyphicon-ok form-control-feedback hidden"></span>
                        </div>
                        <input type="submit" class="hidden"/>
                    </form>
                        <!-- конец формы редактирования имени -->
                {% else %}
                    <span class="text">{{ s.second_name }} {{ s.name }}</span>
                {% endif %}
            </td>
            {% if user.is_authenticated %}
                <td></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if user.is_authenticated %}
    <!-- форма добавления студента -->
    <form action="{% url "students.views.ajax.student.add" %}" method="post"
          class="add ajaxed form-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        <input type="text" id="add_student_family_input" class="form-control" name="second_name" value="" placeholder="фамилия"/>
        <input type="text" class="form-control" name="name" value="" placeholder="имя"/>
        <input type="hidden" name="group_id" value="{{ group.pk }}"/>
        <input type="hidden" name="discipline_id" value="{{ discipline.pk }}"/>
    </form>
    <!-- конец формы добавления студента -->
{% endif %}


