{% extends "base-page.html" %}
{% load static sekizai_tags assets ex_tags %}

{% block basecontent %}
    <noscript>
        <div class="jumbotron loading">
            <h1>Javascript</h1>

            <h3>Необходимо включить его, чтобы таблица отображалось корректно!</h3>
        </div>
    </noscript>

    {% if user.is_authenticated %}
        {% addtoblock "js" %}
            <script src="{% static "bower_components/jquery-impromptu/dist/jquery-impromptu.min.js" %}"></script>
        {% endaddtoblock %}
        {% addtoblock "core_css" %}
            <link rel="stylesheet"
                  href="{% static "bower_components/jquery-impromptu/dist/jquery-impromptu.css" %}"/>
        {% endaddtoblock %}
    {% endif %}

    {% addtoblock "core_css" %}
        <link rel="stylesheet" href="{% static "css/marks.css" %}"/>
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script src="{% static "bower_components/requirejs/require.js" %}"></script>
    {% endaddtoblock %}

    {% include "students/marks/index.html" %}


{% endblock %}