{% load static sekizai_tags assets ex_tags %}

<div id="marks-editor" style="display: none" data-bind="with: marksTable, visible: disciplines().length">
    {% if user.is_authenticated %}
        {% include "students/marks/lesson-template.html" %}
    {% endif %}

    <div class="marks-editor nojs">
        <!-- СПИСОК СТУДЕНТОВ С ОЦЕНКАМИ -->
        {% include "students/marks/students_marks.html" %}
        <!-- КОНЕЦ СПИСОК СТУДЕНТОВ С ОЦЕНКАМИ -->

        {% if user.is_authenticated %}
            {% include "students/marks/mark_selector.html" %}
        {% endif %}
    </div>

</div>
