<!-- ФОРМА УПРАВЛЕНИЯ СПИСКОМ СТУДЕНТОВ -->
<form class="form form-inline">
    <div class="form-group-sm">
        <div class="marks-students-list-header-button-group">
                <button class="btn btn-sm btn-link" data-bind="click: toggleStudentsSorting">
                    <span class="glyphicon glyphicon-sort"></span>
                    <span class="btn-text" data-bind="text: $parents[0].sortMethod ? $parents[0].sortMethod().title : ''"></span>
                </button>
                <button style="padding-left: 0.5em" class="btn btn-sm btn-link" data-bind="click: toggleScorePercents">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="btn-text" data-bind="text: scoreMethod"></span>
                </button>
                <button style="padding-left: 0.5em" class="btn btn-sm btn-link"
                        data-bind="click: toggleBadStudentHiding">
                    <span class="glyphicon"
                          data-bind="css: {'glyphicon-eye-close': hideBadStudents(), 'glyphicon-eye-open': !hideBadStudents()} "></span>
                </button>
        </div>
    </div>
</form>
<!-- КОНЕЦ ФОРМА УПРАВЛЕНИЯ СПИСКОМ СТУДЕНТОВ -->