<!-- ТАБЛИЦА КОЛОНА СТУДЕНТОВ -->
<table class="s-table">
    <thead class="t-header">
    <tr class="t-row">
        <td>
            <div class="t-cell s-table-header">
                {% include "students/marks/table-students-header.html" %}
            </div>
        </td>
    </tr>
    </thead>
    <tbody class="t-content" data-bind="foreach: students">
    <!-- ko if: !$parents[0].hideBadStudents() || regularStudent() -->
    <tr class="t-row">
        <td>
            <div class="info" data-bind="css: { 'god': success_factor() >= 1 }, style: color">
                <table>
                    <tr>
                        <td class="name">
                                <span class="pull-left">
                                    <span class="name-second-name" data-bind="text: second_name"></span>
                                    <span class="name-name" data-bind="text: name"></span>
                                    <span class="name-n" data-bind="text: short_name"></span>
                                </span>
                        </td>
                        <td class="score">
                            <div class="pull-right badge" style="color: green"
                                 data-bind="attr: { 'data-original-title': sum() }, style: { color: sum() < 0 ? 'red' : 'green' }">
                                <span class="percents"
                                      data-bind="visible: $parents[0].showPercents(), text: ~~(success_factor() * 100) + '%'"></span>
                                <span class="points" data-bind="visible: !$parents[0].showPercents(), text: sum"></span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    <!-- /ko -->
    </tbody>
    <tfoot class="t-footer">
    <tr class="t-row">
        <td>
            <div class="t-cell s-table-header">
                {% include "students/marks/table-students-header.html" %}
            </div>
        </td>
    </tr>
    </tfoot>
</table>
<!-- КОНЕЦ КОЛОНА СТУДЕНТОВ -->
