<tr>
    <td data-bind="attr: {'colspan': tasks().length }">
        <div style="position: relative;">
            <div class="lab-title" style="" data-bind="text: title">
            </div>
        </div>
    </td>
</tr>
<tr class="t-row">
    <!-- ko foreach: tasks -->
    <td>
        <div style="position: relative;" rel="tooltip" data-html="true" data-toggle="tooltip"
             data-bind="attr: { 'data-original-title': description }">
            {#            <div class="t-cell task-title" data-bind="text: $index() + 1"></div>#}
            <div class="t-cell task-title" data-bind="style:{'opacity':  0.25 + $root.taskPercentsComplete($data)() }">
                <span data-bind="text: $index() + 1"></span>
            </div>

        </div>
    </td>
    <!-- /ko -->
</tr>