<table class="m-table">
    <thead class="t-header">
    {% include "students/marks/table-marks-labs-header.html" %}
    </thead>

    <tbody class="t-content" data-bind="foreach: $parents[0].students">
    <tr class="t-row">
        <!-- ko foreach: $parent.tasks -->
        <td>
            <div class="t-cell mark empty">
            </div>
        </td>
        <!-- /ko -->
    </tr>
    </tbody>

    <tfoot class="t-footer">
    {% include "students/marks/table-marks-labs-header.html" %}
    </tfoot>
</table>