<div class="row" style="padding-top: 1em">
    <div class="col-md-8">
        <div class="mark-table-description">
            <p>* В таблице представлена эффективность студентов по 100+ бальной шкале.

            <p>** Согласно <a style="display: inline" href="http://math.isu.ru/ru/teacher/docs/polojenie-BRS-2014.pdf">положению
                о балльно-рейтинговой системе оценки успеваемости студентов (пункт 4.3), </a>
                студенты, чья эффективность ниже <b>30%</b>, к экзамену (зачету и т.п.) допущены не будут.

            <div class="visible-sm visible-md visible-lg">
                <p>*** Максимальная возможная итоговая оценка за дисциплину (которая идет в зачетку) рассчитывается
                    согласно
                    таблице:
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Сумма</th>
                        <th> меньше 70%</th>
                        <th> меньше 80%</th>
                        <th> в остальных случаях</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Ваша эффективность + 30%</td>
                        <td>удовл.</td>
                        <td>хорошо</td>
                        <td>отлично</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <p>**** Чтобы получить автомат надо <span class="god"
                                                      style="display: inline-block; margin: 0.25em; padding: 0.25em">светиться</span>
        </div>
    </div>
</div>


