.main-banner {
  .left {
    &.authenticated { // для аутентифицированных пользователей
      max-width: 80%;
      float:left
    }
  }
  .right {
    float: right;
    max-width: 20%;
    ul {
      list-style: none;
    }
  }
}