@import "const.scss";

$item-color: #DDD;

body {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.container {
//  box-shadow: 0px 0px 2px lighten($common_color, 10);
}

#main-banner {
  text-align: center;
  img#preview {
    max-height: 350px;

  }

  img#view {
    max-height: 500px;
    border-radius: 16px;
    border: 6px solid darken($common_color, 40);
    &.borderless {
      box-shadow: none;
      border-radius: 0;
      border: none;
    }
  }

  #editor-panel {
    border: none;
    > .panel-heading {
      @include transition(0.3s);
      background-color: white;
      cursor: pointer;
      &:hover {
        background-color: $common_color;
        color: white;
      }
    }
    > .panel-collapse > .panel-body {
      padding: 0;
      > form {
        margin: 0;
        padding: 0;
      }
    }
  }

  .left {
    &.authenticated {
      // для аутентифицированных пользователей
      clear: none;
      margin-right: 220px;
    }
    .view {
      margin: 0 auto;
      img {
        border: 2px solid #000000;
      }
    }
  }
  .right {
    float: right;
    width: 200px;
    padding-left: 0.5em;

    > ul {
      @include transition(0.2s);
      height: 500px;
      border-radius: 8px;
      padding: 0 1em;
      overflow: scroll;
      overflow-x: hidden;
      list-style: none;
      width: 100%;

      &:hover {
        box-shadow: 0 0 4px $common_color;
      }

      > li {
        //        cursor: pointer;
        margin-top: 0.5em;
        &.add {
        }
        &.item {
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -ms-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;

          border: 2px solid transparent;
          border-radius: 8px;
          &.active {
            border-color: $item-color;
            box-shadow: 0px 0px 2px $item-color;
          }
          position: relative;
          img {
            max-height: 100px;
            margin: 0 auto;
          }
          padding: 0.5em;
          &:hover {
            box-shadow: 0px 0px 8px grey;
          }
          ul.mini-menu {
            padding: 0;
            position: absolute;
            top: 8px;
            right: 8px;
            list-style: none;
            > li {
              padding: 0.1em;
            }
          }
        }
        width: 100%;
      }
    }
  }
  textarea[name="description"] {
    //    margin-top: 1em;
    //    width: 100%;
    //    max-width: 100%;
    //    min-height: 200px;
  }

  .main-page-description {
  }
  .main-page-image {
    //    margin-bottom: 1em;
  }

  .main-page-message {
    @include transition(0.3s);
    padding: 1em;
    border-radius: 8px;
    //    cursor: pointer;

    @include background_size(40px 40px);

    margin-bottom: 1em;
    @media (max-width: 750px) {
      margin-top: 1em;
    }

    border: 1px solid darken($common_color, 20);

    &:hover {

      box-shadow: 0 0 7px lighten($common_color, 25);
    }

    @mixin alert($color) {
      border: none;
      $alter-color: darken($color, 3);
      box-shadow: 0 0 4px darken($color, 15);

      &:hover {
        box-shadow: 0 0 7px darken($color, 15);
        color: darken($color, 70);
        background-image: linear-gradient(
                        45deg, $alter-color 25%, rgba(0, 0, 0, 0) 25%,
                        rgba(0, 0, 0, 0) 50%, $alter-color 50%, $alter-color 75%,
                        rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0)
        );
        @include animation(mainPageMessageAnimation 3s infinite linear);
      }
      color: black; //darken($color, 70);
    }

    &.alert-info {
      @include alert(#d9edf7);
    }
    &.alert-success {
      @include alert(#dff0d8);
    }
    &.alert-warning {
      @include alert(#fcf8e3);
    }
    &.alert-danger {
      @include alert(#f2dede);
    }

  }
}

@include keyframes(mainPageMessageAnimation) {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}