@import "const.scss";

$item-color: #DDD;

body {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.container {
  box-shadow: 0px 4px 16px lighten($common_color, 10);
}

#main-banner {
  text-align: center;
  img#preview {
    max-height: 350px;

  }

  img#view {
    max-height: 500px;
    border-radius: 16px;
    border: 6px solid darken($common_color, 40);
    &.borderless {
      box-shadow: none;
      border-radius: 0;
      border: none;
    }
  }

  #editor-panel {
    border: none;
    > .panel-heading {
      @include transition(0.3s);
      background-color: white;
      cursor: pointer;
      &:hover {
        background-color: $common_color;
        color: white;
      }
    }
    > .panel-collapse > .panel-body {
      padding: 0;
      > form {
        margin: 0;
        padding: 0;
      }
    }
  }

  .left {
    &.authenticated {
      // для аутентифицированных пользователей
      clear: none;
      margin-right: 220px;
    }
    .view {
      margin: 0 auto;
      img {
        border: 2px solid #000000;
      }
    }
  }
  .right {
    float: right;
    width: 200px;
    padding-left: 0.5em;

    > ul {
      @include transition(0.2s);
      height: 500px;
      border-radius: 8px;
      padding: 0 1em;
      overflow: scroll;
      overflow-x: hidden;
      list-style: none;
      width: 100%;

      &:hover {
        box-shadow: 0 0 4px $common_color;
      }

      > li {
        //        cursor: pointer;
        margin-top: 0.5em;
        &.add {
        }
        &.item {
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -ms-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;

          border: 2px solid transparent;
          border-radius: 8px;
          &.active {
            border-color: $item-color;
            box-shadow: 0px 0px 2px $item-color;
          }
          position: relative;
          img {
            max-height: 100px;
            margin: 0 auto;
          }
          padding: 0.5em;
          &:hover {
            box-shadow: 0px 0px 8px grey;
          }
          ul.mini-menu {
            padding: 0;
            position: absolute;
            top: 8px;
            right: 8px;
            list-style: none;
            > li {
              padding: 0.1em;
            }
          }
        }
        width: 100%;
      }
    }
  }
  textarea[name="description"] {
    //    margin-top: 1em;
    //    width: 100%;
    //    max-width: 100%;
    //    min-height: 200px;
  }

  .main-page-description {
  }
  .main-page-image {
  }
}