{% extends "base-page.html" %}
{% load static sekizai_tags ex_tags assets %}

{% block basecontent %}

    {% verbatim %}
    <div ng-app="studentsApp">
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-xs-4">
                        <div ng-controller="YearsCtrl">
                            <div class="list-group years">
                                <a href="#" class="list-group-item"
                                   ng-class="{'active': item.year == $root.year }"
                                   ng-click="setYear(item.year)"
                                   ng-repeat="item in years">
                                    {{ item.year }}
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div ng-controller="GroupsCtrl">
                            <div class="list-group groups">
                                <a href="#/year/{{ year }}/group/{{ item.id }}"
                                   class="list-group-item"
                                   ng-class="item.class()"
                                   ng-repeat="item in groups | orderBy:'title'">
                                    <div class="input-group">
                                        <input type="text" ng-model="item.title" class="form-control"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default"
                                            ng-class="{'btn-success': item.changed(), 'btn-default': !item.changed() }"
                                            ng-click="saveGroups()">
                                        <span class="glyphicon glyphicon-save"></span>
                                    </button>
                                    <button class="btn" ng-click="toggleGroup(item);"
                                            ng-class="{'btn-default': item._destroy, 'btn-danger': !item._destroy }">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                    </button>
                                </span>
                                    </div>
                                </a>

                                <div class="list-group-item" style="padding: 0.25em">
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="newGroupTitle"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-info" ng-click="addGroup(newGroupTitle)">
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                    </button>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 students-manager">
                <div ng-view class="students-view"></div>
            </div>
        </div>
    </div>
    {% endverbatim %}


    {% addtoblock "js" %}
        <script>
            window.commonUrls = {
                base: "{% static "js/students/manager" %}/",
                years: "{% url "students.views.students.ajax.json.years" %}",
                groups: "{% url "students.views.students.ajax.json.groups" %}",
                students: "{% url "students.views.students.ajax.json.students" %}",
                save_groups: "{% url "students.views.students.ajax.json.save_groups" %}",
                save_students: "{% url "students.views.students.ajax.json.save_students" %}",
                set_captain: "{% url "students.views.students.ajax.json.set_captain" %}",
                change_photo: "{% url "students.views.students.ajax.json.change_photo" %}",
                remove_photo: "{% url "students.views.students.ajax.json.remove_photo" %}",
                get_student_file: "{% url "students.views.students.ajax.json.get_student_file" %}",
                add_student_file: "{% url "students.views.students.ajax.json.add_file" %}",
                remove_student_file: "{% url "students.views.students.ajax.json.remove_file" %}"
            };
        </script>
        {% assets 'students_manager_js' %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    {% endaddtoblock %}

    {% addtoblock "css" %}
        <link rel="stylesheet" href="{% static 'css/students_manager.css' %}"/>
    {% endaddtoblock %}

{% endblock %}