<div class="lab">
    <h2 class="title">{{ lab.title }}</h2>

    <div class="description">
        {{ lab.description|safe }}
        {% if lab.image %}
            <a href="{{ lab.image.url }}">
                <img src="{{ lab.image.url }}"/>
            </a>
            <hr>
        {% endif %}
        <div style="clear: both"></div>
        <div class="gallery">
            {% for task in tasks %}
{#                <div class="item {% if task.user %}selected {% endif %}{{ task.complexity }}">#}
{#                    <a href="{{ task.image.url }}">#}
{#                        <img src="{{ task.image.url }}"/>#}
{#                    </a>#}
{##}
{#                    <div class="task_number">#}
{#                        {{ task.task_number }}#}
{#                    </div>#}
{#                </div>#}
                <div class="item {% if task.user %}selected {% endif %}{{ task.complexity }}">
                    <a href="{{ task.image.url }}">
                        <img src="{{ task.image.url }}"/>
                    </a>

                    <div class="caption">
                        {{ task.task_number }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div style="clear: both"></div>
