{% load cms_tags file_upload_form_tags %}
{% if user.is_authenticated and page.publisher_is_draft or lab.visible %}
    <div id="lab_{{ lab.id }}" class="lab">
        <h2 class="title">{{ lab.title }}</h2>

        <div class="description">
            <div id="lab_content_{{ lab.id }}"
                 {% if user.is_authenticated and page.publisher_is_draft %}contenteditable="true"{% endif %}>
                {{ lab.description|safe|default:"..." }}
            </div>

            {% if user.is_authenticated and page.publisher_is_draft %}
                <form name="save" class="lab-save form-inline pull-right"
                      action="{% url "labs.views.update_lab" lab.pk %}"
                      method="post">
                    {% csrf_token %}


                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-default btn-sm">
                            <i class="glyphicon glyphicon-save"></i>
                        </button>
                    </div>
                    <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" class="checkbox-inline" name="visible"
                                   {%  if lab.visible %}checked="checked{% endif %}">включено
                        </label>
                    </div>
                </form>
            {% endif %}
            <div style="clear: both"></div>
            <ol class="tasks">
                {% for task in tasks %}
                    {% render_plugin task %}
                {% endfor %}
            </ol>
            {% if user.is_authenticated and page.publisher_is_draft %}
                {# adding task plugin #}
                <form class="task-add form-inline" action="{% url "labs.views.add_task" lab.pk %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="placeholder_id" value="{{ lab.placeholder.pk }}">
                    <input type="hidden" name="language" value="{{ lab.language }}">
                    <input type="hidden" name="lab_id" value="{{ lab.cmsplugin_ptr.pk }}">
                    <input type="hidden" name="plugin_type" value="">

                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-default btn-sm">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span> добавить задачу</span>
                        </button>
                    </div>
                </form>
                {# end adding task plugin #}
                <script>
                    var editor = new LabEditor('lab_{{ lab.id }}', 'lab_content_{{ lab.id }}');
                    $("#lab_{{ lab.id }} .task-add").ajaxForm({
                        success: function (data) {
                            $("#lab_{{ lab.id }} ol.tasks").append(data);
                        }
                    });
                </script>
            {% endif %}
        </div>
    </div>
{% endif %}
<div style="clear: both"></div>