{% load static %}
<li id="task{{ task.id }}"
    class="item{% if task.user %} selected{% endif %} {{ task.complexity }}">

    {# MAIN TASK INFO VISIBLE FOR EVERYONE #}
    <div class="info">
        {% include "labs/task_info.html" %}
    </div>
    {# END MAIN TASK INFO #}

    {% if user.is_authenticated and page.publisher_is_draft %}
        <div class="edit">
            {% if not is_gallery %}
                <div class="form-inline pull-left">
                    <div class="form-group">
                        <button class="turn-edit-on-btn form-control btn btn-default btn-sm">
                            <i class="glyphicon glyphicon-edit"></i>
                        </button>
                    </div>
                </div>
            {% endif %}
            <form name="save" class="form-inline save" action="{% url "labs.views.update_task" pk=task.id %}"
                  method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control small" type="text" name="user" value="{{ task.user }}"
                           placeholder="фамилия...">
                </div>
                <div class="form-group">
                    <select name="complexity" class="form-control small" autocomplete="off">
                        {% for c in complex_choices %}
                            <option {% if c.0 == task.complexity %}selected{% endif %} value="{{ c.0 }}">
                                {{ c.0 }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control btn-default btn btn-sm">
                        <i class="glyphicon glyphicon-save"></i>
                    </button>
                </div>
                {% if is_gallery %}
                    <input type="hidden" name="is_gallery" value="1">
                {% endif %}
                {% if not is_gallery %}
                    <div class="form-group">
                        <select style="min-width: 300px"
                                multiple="multiple">
                            <option></option>

                        </select>
                    </div>
                {% endif %}
            </form>

            <script>
                var editor = new TaskEditor('task{{ task.id }}', 'task_content_{{ task.id }}');
            </script>
        </div>

    {% endif %}
    <div style="clear: both"></div>
</li>
