{% load static %}
<div id="task{{ task.id }}" class="item {% if task.user %}selected {% endif %}{{ task.complexity }}">
    {#    <a href="{{ task.image.url }}">#}
    <img src="{{ task.image.url }}"/>
    {#    </a>#}
    <div class="caption">
        {{ forloop.counter }}
        {% if task.user %}
            | {{ task.user }}
            {#        {% else %}#}
        {% endif %}
    </div>
    {% if user.is_authenticated and page.publisher_is_draft %}
        {% include "labs/task_edit_form.html" with update_url="labs.views.update_task_gallery" %}
    {% endif %}
</div>
