@import "../common/const";
@import "local_const";

$shrink: 0.7;

@media (max-width: $width-medium) {
  #marks-editor {
    .marks-editor {
      .marks-students-list-header-button-group {
        .btn-text {
          display: none;
        }
        button {
          padding-right: 10px;
        }
      }
      .s-table {
        max-width: $students-list-width*$shrink;
        width: $students-list-width*$shrink;
        .info {
          .name {
            .name-n {
              display: inline;
            }
            .name-name {
              display: none;
            }
          }
        }
      }
      .m-table-container {
        margin-left: $students-list-width*$shrink;
      }
    }
  }
}
