@import "const";

$quater: hsl(100, 80%, 75%);
$half: hsl(100, 80%, 60%);
$full: hsl(100, 80%, 40%);
$awesome: hsl(100, 80%, 30%);
$fantastic: hsl(100, 80%, 20%);
$godlike: hsl(100, 80%, 10%);
$hover-color: grey;
$exam-hue-offset: 90;
$test-hue-offset: 250;
$mix-weight: 70%;
$td-margin: 0px;

$table-border-color: #CCC;

$students-list-width: 220px;
$marks-size: 30px;

@mixin tooltip($hue-offset) {
  .tooltip > .tooltip-inner {
    background-color: white;
    color: adjust_hue($full, $hue-offset);
    border: 1px solid adjust_hue($full, $hue-offset);
  }
}

@mixin btn-default($hue-offset) {
  @if $hue-offset != 0 {
    background-color: adjust_hue(lighten($quater, 21), $hue-offset);
  }
  .btn-default {
    color: adjust_hue($full, $hue-offset);
    border: adjust_hue($full, $hue-offset);
    text-decoration: none;
    &:hover {
      background-color: adjust_hue(lighten($quater, 23), $hue-offset);
    }
  }
}

@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}

.pickmeup-twitter-bootstrap {
  z-index: 20000 !important;
}

#template-lesson-edit {
  textarea {
    max-width: 100%;
  }
}

.marks-editor {

  .marks-legend {
    padding-left: 1em;
    font-size: 0.8em;
    tr {
      padding: 0;

      float: left;
      clear: both;
      list-style: none;
      td {
        border: 1px solid #000000;
      }
      &.marks {
        margin-bottom: 0;
        td {
//          width: 4em;
          height: 2em;
          border-bottom: none;
        }
      }
      &.values {
        td {
          background-color: #EEE;
          text-shadow: 0 0 1px white;
        }
      }

    }
  }

  #mark-selector {
    display: none;
    position: absolute;
    z-index: 1000;
    padding: 0;
    background-color: white;
    float: left;
    border: 1px solid #000000;
    box-shadow: grey 0 4px 6px;

    > ul {
      list-style: none;
      padding: 0;
      margin: 0;
      height: auto;
      > li {
        display: block;
        width: auto;
        &:hover {
          box-shadow: gray 0 0 6px inset;
        }
        &.current {
          -webkit-transition: all 0.1s;
          -moz-transition: all 0.1s;
          -ms-transition: all 0.1s;
          -o-transition: all 0.1s;
          transition: all 0.1s;
          border: 6px solid black;
        }
      }
    }
  }

  .marks-students-list-header-button-group {
    button {
      max-width: $students-list-width/2 - 10;
      font-size: 12px;
      overflow: hidden;
    }
  }

  .students-list {
    max-width: $students-list-width;
    width: $students-list-width;

    overflow: hidden;
    float: left;
    clear: none;
    .hover {
      .student {
        @include transition(0.3s);
        opacity: 1 !important;

      }
    }

    .student .god {
      $stripe-color: #fff871;
      background: linear-gradient(
                      135deg, $stripe-color 25%, transparent 25%,
                      transparent 50%, $stripe-color 50%, $stripe-color 75%,
                      transparent 75%, transparent
      );
      @include background_size(40px 40px);
      @include animation(godAnimation 1s linear infinite);
    }

    > table {
      width: 100%;
      table-layout: fixed;
      border: 1px solid $table-border-color;
      .info {
        height: $marks-size;
        > table {
          height: 100%;
          table-layout: fixed;
          td {
            &.name {
              padding-left: 3px;
            }
            &.score {
              padding-right: 3px;
            }
          }
        }
      }

    }
  }

  .marks-list {
    border-right: 1px solid $table-border-color;
    > table {
      width: 100%;
      border: 1px solid $table-border-color;
      border-left: none;
      border-right: none;
      > thead {
        box-shadow: 0 2px 8px $table-border-color;
      }
    }
    margin-left: $students-list-width;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: hidden;
    cursor: move;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  table.table-marks {
    border-collapse: collapse;
    > tbody, > thead, > tfoot {
      > tr {
        border-bottom: 1px solid #c0c0c0;
        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
        -ms-transition: all 0.1s;
        -o-transition: all 0.1s;
        transition: all 0.1s;
        &.hover {
          box-shadow: 0 0 4px $hover-color;
        }
        > td, > th {
          height: $marks-size - $td-margin * 2 + 1;
          margin: $td-margin;
          border-right: 1px solid #c0c0c0;
          &:first-child {
            white-space: nowrap;
            &.active {
              box-shadow: $hover-color 0 0 4px inset;
            }
          }
          &:last-child {
            border-right: none;
          }
        }
      }
    }

    > thead, > tfoot {
      > tr {
        > th, > td {
          padding: 2px;
          height: 38px;
        }
      }
    }
    > tfoot {
      &:last-child {
        border-bottom: none;
      }
    }

    .header {
      text-align: center;
    }
  }

  // >>> ОЦЕНКА

  .mark {
    width: 1.3*$marks-size;
    //    height: $marks-size - $td-margin * 2 + 1;
    vertical-align: middle;
    text-align: center;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    //    background-color: white;

    @mixin shadow($color) {
      box-shadow: $color 0 0 8px inset;
    }

    @mixin mark-stripes($stripe-color) {
//      $stripe-color2: lighten($stripe-color, 2);
//      background: linear-gradient(
//                      90deg, $stripe-color 25%, $stripe-color2 25%,
//                      $stripe-color2 50%, $stripe-color 50%, $stripe-color 75%,
//                      $stripe-color2 75%, $stripe-color2
//      );
//      @include background_size(40px 40px);
//      @include animation(godAnimation 2s linear infinite);
    }

    @mixin test_exam($color, $use-shadow: false, $stripes: false) {

      $lighten: 10;
      @if ($use-shadow) {
        @include shadow(darken($color, $lighten));
      }
      @if ($stripes) {
        @include mark-stripes($color);
      }
      &.test {
        $clr: adjust_hue($color, $test-hue-offset);
        @if ($use-shadow) {
          @include shadow(darken($clr, $lighten));
        }
        background-color: $clr;
        @if ($stripes) {
          @include mark-stripes($clr)
        }
      }
      &.exam {
        $clr: adjust_hue($color, $exam-hue-offset);
        @if ($use-shadow) {
          @include shadow(darken($clr, $lighten));
        }
        background-color: $clr;
        @if ($stripes) {
          @include mark-stripes($clr)
        }
      }
    }

    @include tooltip(0);
    @include btn-default(0);

    // ТИП ПАРЫ
    &.test {
      @include btn-default($test-hue-offset);
      @include tooltip($test-hue-offset);
    }
    &.exam {
      @include btn-default($exam-hue-offset);
      @include tooltip($exam-hue-offset);
    }

    &.modified {
      box-shadow: #9ebdff 0px 0px 8px inset !important;
    }
    // КОНЕЦ ТИП ПАРЫ

    // ОЦЕНКИ ЗА ПАРУ
    &.absent {
      &:after {
        content: "н";
      }
    }

    &.empty {
    }

    &.normal {
      background-color: $quater;
      @include test_exam($quater);
    }
    &.good {
      background-color: $half; //#c9ff49
      @include test_exam($half);
    }
    &.excellent {
      background-color: $full;
      @include test_exam($full, true);
    }
    &.awesome {
      background-color: $awesome;
      @include test_exam($awesome, true, true);
    }
    &.fantastic {
      background-color: $fantastic;
      @include test_exam($fantastic, true, true);
    }
    &.godlike {
      background-color: $godlike;
      @include test_exam($godlike, true);
    }
    // КОНЕЦ ОЦЕНКИ ЗА ПАРУ
  }
}

// --- ОЦЕНКА

.loader {
  margin: 0 auto;
  font-size: 14px;
  text-indent: -9999em;
  border: 1.1em solid #E8E8E8;
  border-left-color: skyblue;
  -webkit-animation: loaderAnimation 1.1s infinite linear;
  animation: loaderAnimation 1.1s infinite linear;
  border-radius: 50%;
  width: 10em;
  height: 10em;
  &:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }
}

@-webkit-keyframes loaderAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loaderAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@include keyframes(godAnimation) {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}

//.marks-legend {
//  tr.marks td {
//    width: auto;
//  }
//}
//