$quater: hsl(100, 80%, 75%);
$half: hsl(100, 80%, 60%);
$full: hsl(100, 80%, 40%);
$awesome: hsl(100, 80%, 30%);
$fantastic: hsl(100, 80%, 20%);
$godlike: hsl(100, 80%, 10%);
$hover-color: grey;
$exam-hue-offset: -270;
$test-hue-offset: -120;
$mix-weight: 70%;

$table-border-color: #CCC;

$students-list-width: 220px;
$marks-size: 30px;

@mixin tooltip($hue-offset) {
  .tooltip > .tooltip-inner {
    background-color: white;
    color: adjust_hue($full, $hue-offset);
    border: 1px solid adjust_hue($full, $hue-offset);
  }
}

@mixin btn-default($hue-offset) {
  @if $hue-offset != 0 {
    background-color: adjust_hue(lighten($quater, 21), $hue-offset);
  }
  .btn-default {
    color: adjust_hue($full, $hue-offset);
    border: adjust_hue($full, $hue-offset);
    text-decoration: none;
    &:hover {
      background-color: adjust_hue(lighten($quater, 23), $hue-offset);
    }
  }
}

@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}

.pickmeup-twitter-bootstrap {
  z-index: 1000 !important;
}

.marks-editor {

  .marks-legend {
    padding-left: 1em;
    tr {
      padding: 0;
      float: left;
      clear: both;
      list-style: none;
      td {
        border: 1px solid #000000;
      }
      &.marks {
        margin-bottom: 0;
        td {
          width: 4em;
          height: 1.5em;
          border-bottom: none;
        }
      }
      &.values {
        td {
          background-color: #EEE;
          text-shadow: 0 0 1px white;
        }
      }

    }
  }

  #mark-selector {
    display: none;
    position: absolute;
    z-index: 1000;
    padding: 0;
    background-color: white;
    float: left;
    border: 1px solid #000000;
    box-shadow: grey 0 4px 6px;

    > ul {
      list-style: none;
      padding: 0;
      margin: 0;
      height: auto;
      > li {
        display: block;
        width: auto;
        &:hover {
          box-shadow: gray 0 0 6px inset;
        }
        &.current {
          -webkit-transition: all 0.1s;
          -moz-transition: all 0.1s;
          -ms-transition: all 0.1s;
          -o-transition: all 0.1s;
          transition: all 0.1s;
          border: 6px solid black;
        }
      }
    }
  }

  .students-list {
    width: $students-list-width;
    float: left;
    clear: none;
    > table {
      width: 100%;
      border: 1px solid $table-border-color;
      .info {
        height: $marks-size;
        > table {
          height: 100%;
          td {
            &.name {
              padding-left: 3px;
            }
            &.score {
              padding-right: 3px;
            }
          }
        }
      }

    }
  }

  .marks-list {
    border-right: 1px solid $table-border-color;
    > table {
      width: 100%;
      border: 1px solid $table-border-color;
      border-left: none;
      border-right: none;
      > thead {
        box-shadow: 0 2px 8px $table-border-color;
      }
    }
    margin-left: $students-list-width;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: hidden;
    cursor: move;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  table.table-marks {
    border-collapse: collapse;
    > tbody, > thead, > tfoot {
      > tr {
        border-bottom: 1px solid #c0c0c0;
        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
        -ms-transition: all 0.1s;
        -o-transition: all 0.1s;
        transition: all 0.1s;
        &.hover {
          box-shadow: 0 0 4px $hover-color;
        }
        > td, > th {
          border-right: 1px solid #c0c0c0;
          &:first-child {
            white-space: nowrap;
            &.active {
              box-shadow: $hover-color 0 0 4px inset;
            }
          }
          &:last-child {
            border-right: none;
          }
        }
      }
    }

    > thead, > tfoot {
      > tr {
        > th, > td {
          padding: 2px;
          height: 38px;
        }
      }
    }
    > tfoot {
      &:last-child {
        border-bottom: none;
      }
    }

    .header {
      text-align: center;
    }
  }

  // >>> ОЦЕНКА

  .mark {
    $margin: 0px;
    width: 1.3*$marks-size;
    height: $marks-size - $margin * 2 + 1;
    margin: $margin;
    vertical-align: middle;
    text-align: center;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    //    background-color: white;

    @mixin shadow {
//      box-shadow: #ffbbd7 0px 0px 4px inset;
//      border: 1px solid white;
    }

    @mixin test_exam($color) {
      &.test {
        background-color: adjust_hue($color, $test-hue-offset);
      }
      &.exam {
        background-color: adjust_hue($color, $exam-hue-offset);
      }
    }

    @include tooltip(0);
    @include btn-default(0);

    // ТИП ПАРЫ
    &.test {
      @include btn-default($test-hue-offset);
      @include tooltip($test-hue-offset);
    }
    &.exam {
      @include btn-default($exam-hue-offset);
      @include tooltip($exam-hue-offset);
    }

    &.modified {
      box-shadow: #9ebdff 0px 0px 8px inset !important;
    }
    // КОНЕЦ ТИП ПАРЫ

    // ОЦЕНКИ ЗА ПАРУ
    &.absent {
      &:after {
        content: "н";
      }
    }

    &.empty {
    }

    &.normal {
      background-color: $quater;
      @include shadow;
      @include test_exam($quater);
    }
    &.good {
      background-color: $half; //#c9ff49
      @include shadow;
      @include test_exam($half);
    }
    &.excellent {
      background-color: $full;
      @include shadow;
      @include test_exam($full);
    }
    &.awesome {
      background-color: $awesome;
      @include shadow;
      @include test_exam($awesome);
    }
    &.fantastic {
      background-color: $fantastic;
      @include shadow;
      @include test_exam($fantastic);
    }
    &.godlike {
      background-color: $godlike;
      @include shadow;
      @include test_exam($godlike);
    }
    // КОНЕЦ ОЦЕНКИ ЗА ПАРУ
  }
}

// --- ОЦЕНКА

.students_plugin {
  .process {
    display: none;
  }
  .students {
    .list-group-item {
      padding: 8px;
    }
  }
  table {
    .counter {
      width: 3em;
    }
  }

  .year_selector {
    padding: 1em 1em 0;
  }

  .groups-nav, .disciplines-nav {
    //    overflow: hidden;
    float: left;
    list-style: none;
    padding: 1em;
    margin-bottom: 0;
    .btn-group {
      ul {
        padding: 1em 1em 0;
        li {
          padding-bottom: 0.5em;
          .form-control {
            padding: 0.5em;
          }
          .form-group {
            margin-bottom: 0.5em;
          }
        }
      }
    }
    li {
      float: left;
      margin: 0;
      padding-right: 8px;
      padding-bottom: 0;
    }
    ul.group-item {
      list-style: none;
      padding: 0;
      float: left;
      overflow: hidden;
      margin-right: 1em;
      //      border: 1px solid black;
      li:last-child {
        padding-right: 0;
      }
    }
  }
}

.loader {
  margin: 0 auto;
  font-size: 14px;
  text-indent: -9999em;
  border: 1.1em solid #E8E8E8;
  border-left-color: skyblue;
  -webkit-animation: loaderAnimation 1.1s infinite linear;
  animation: loaderAnimation 1.1s infinite linear;
  border-radius: 50%;
  width: 10em;
  height: 10em;
  &:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }
}

@-webkit-keyframes loaderAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loaderAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}