{% load sekizai_tags static %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{% static "css/textpage.css" %}"/>
{% endaddtoblock %}

<div class="textpage-content">
    {% if user.is_authenticated %}

        {#        {% addtoblock "js" %}#}
        {#            <script src="{% static "bower_components/ckeditor/ckeditor.js" %}"></script>#}
        {#        {% endaddtoblock %}#}
        {% addtoblock "js" %}
            <script src="{% static "js/textpage/main.js" %}"></script>{% endaddtoblock %}
        <div contenteditable="true" id="page-content">{{ instance.text|safe }}</div>
        <form id="images-form"></form>
        {% addtoblock "js" %}
            <script>
                new TextPageModel("{% url "textpage.views.save" %}",
                        '{% url "textpage.views.upload_image" %}',
                        '{% url "textpage.views.remove_image" %}',
                        {{ instance.id }});

            </script>
        {% endaddtoblock %}
    {% else %}
        {{ instance.text|safe }}
    {% endif %}
</div>
{#<script>#}
{#    if (!$("html").is(".lt-ie9, .lt-ie8, .lt-ie7")) {#}
{#        $('.textpage-content').hyphenate('ru');#}
{#    }#}
{#</script>#}