<!-- ko if: labsTable.labs().length -->
<div class="panel panel-default" style="display: none" data-bind="visible: labsTable, with: labsTable">
    <div class="panel-heading" style="cursor: pointer" role="tab" id="headingOne" data-toggle="collapse"
         data-target="#labs-editor">
        <h5 class="panel-title pull-left">Лабораторные</h5>
        {% if user.is_authenticated %}
            <div class="pull-right">
                <button class="btn btn-success btn-sm" data-bind="click: addLab"><span
                        class="glyphicon glyphicon-plus"></span></button>
            </div>
            <div style="clear: both"></div>
        {% endif %}
    </div>
    <div class="panel-collapse collapse in" id="labs-editor">
        <div class="panel-body" style=" padding: 0">
            <ul class="m-labs" data-bind="foreach: labs">
                <li class="m-lab">
                    {% include "students/labs/lab.html" %}
                    <div style="clear: both;"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /ko -->