<div class="m-lab-title" data-toggle="collapse" data-bind="attr: {href: '#lab'+id}">
    #<span data-bind="text: $index" style="width: 10px;display: inline-block"></span> | <span data-bind="text: title"></span>
    {% if user.is_authenticated %}
        <div class="pull-right">
{#            <div class="label label-primary" data-bind="text: tasks().length"></div>#}
{#            <div class="label label-primary" data-bind="text: order"></div>#}
            <button class="btn btn-success" data-bind="click: $parents[0].addLab"><span
                    class="glyphicon glyphicon-plus"></span></button>
            <button class="btn btn-danger" data-bind="click: $parents[0].removeLab"><span
                    class="glyphicon glyphicon-remove"></span></button>
        </div>
    {% endif %}
</div>
<div class="m-lab-info collapse" data-bind="attr: {id: 'lab'+id}">
    <div>
        <div class="m-lab-description" data-bind="if: description">
            <span data-bind="html: description"></span>
            <hr>
        </div>
        <ul class="m-tasks" data-bind="foreach: tasks">
            <li class="m-task" data-bind="css: complex">{% include "students/labs/task.html" %}</li>
        </ul>
    </div>
</div>
