{#<div class="label label-default" data-bind="text: $index" style="float: left;"></div>#}
{% if not user.is_authenticated %}
    <table style="table-layout: fixed">
        <tr>
            <td class="m-task-label" data-bind="text: order"></td>
            <td class="m-task-description" data-bind="html: description"></td>
        </tr>
    </table>
{% else %}
    <table style="table-layout: fixed; width: 100%">
        <tr>
            <td class="m-task-label" rowspan=2 data-bind="text: order"></td>
            <td class="m-task-description">
                <div contenteditable="true" data-bind="ckeditorInline: description"></div>
            </td>
        </tr>
        <tr>
            <td class="m-task-menu">
                <!-- СТУДЕНТЫ ВЫБРАВШИЕ ЗАДАЧУ -->
                <div class="m-task-user-selector"
                     data-ajax-url="{% url "students.views.students.ajax.json.list_students" %}"
                     data-ajax-term="filter"
                     data-placeholder="никто не выбрал эту задачу"
                     data-bind="select2: users">

                </div>
                <!-- / СТУДЕНТЫ ВЫБРАВШИЕ ЗАДАЧУ -->

                <!-- СЛОЖНОСТЬ ЗАДАЧИ -->
                <div class="menu-complexity" data-bind="foreach: complex_choices">
                    <div class="menu-complexity-item"
                         data-bind="css: $data.class, click: $parents[0].setComplex,
                                  visible: $parents[0].complexity() != $data.value"></div>
                </div>
                <!-- / СЛОЖНОСТЬ ЗАДАЧИ -->

                <!-- КНОПКИ УПРАВЛЕНИЯ ЗАДАЧЕЙ -->
                <a href="#" class="save" style="margin-left: 8px"
                   data-bind="visible: changed, click: save">сохранить</a>
                <a href="#" class="text-danger pull-right" data-bind="click: $parents[1].removeTask">удалить</a>
                <!-- / КНОПКИ УПРАВЛЕНИЯ ЗАДАЧЕЙ -->
            </td>
        </tr>
    </table>

{% endif %}