/* labs */
.tasks {
  padding-left: 2em; }
  .tasks li, .tasks .item {
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 10px;
    background: #EEEEEE;
    border: silver 1px solid;
    position: relative; }
  .tasks .user-info {
    display: inline-block;
    padding: 0.5em 1em;
    float: right;
    border-radius: 8px;
    background-color: white;
    border: silver 2px solid;
    box-shadow: 0 0 4px white;
    min-width: 9em;
    text-align: center;
    margin-right: 0.25em;
    margin-left: 0.25em; }
  .tasks .edit .form-inline {
    padding-top: 0.5em; }
    .tasks .edit .form-inline .form-group {
      padding-right: 0.5em; }

.lab .easy {
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  background-color: #d1ff99;
  box-shadow: 0 0 1px #83b14c; }
  .lab .easy.selected {
    border-color: #83b14c; }
  .lab .easy .user-info {
    border-color: #83b14c; }
.lab .medium {
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  background-color: #ffff99;
  box-shadow: 0 0 1px #ffde60; }
  .lab .medium.selected {
    border-color: #ffde60; }
  .lab .medium .user-info {
    border-color: #ffde60; }
.lab .hard {
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  background-color: #ffca99;
  box-shadow: 0 0 1px #ffa75c; }
  .lab .hard.selected {
    border-color: #ffa75c; }
  .lab .hard .user-info {
    border-color: #ffa75c; }
.lab .nightmare {
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  background-color: #ffbdb3;
  box-shadow: 0 0 1px #ff7e79; }
  .lab .nightmare.selected {
    border-color: #ff7e79; }
  .lab .nightmare .user-info {
    border-color: #ff7e79; }
.lab .selected {
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  background-color: #dddddd; }
  .lab .selected code {
    color: gray; }
.lab code {
  color: black; }
.lab img {
  margin: 0.5em 0;
  border-radius: 0;
  box-shadow: none;
  border: none; }
.lab li img {
  margin: 0.5em 0 0 0;
  border: none; }
.lab h2 {
  color: #003366;
  cursor: pointer;
  border-bottom: dashed 1px;
  display: inline-block;
  margin: 0 0 0.3em;
  padding: 0; }
.lab h2:hover {
  color: black; }
.lab .gallery {
  float: left; }
  .lab .gallery img {
    box-shadow: none;
    border-radius: 0;
    margin: 0; }
  .lab .gallery .item {
    position: relative;
    padding: 6px;
    margin: 8px 8px 8px 0;
    float: left;
    width: 116px; }
    .lab .gallery .item .task_number {
      text-align: center;
      font-weight: bold; }
    .lab .gallery .item img {
      border: 1px solid gray;
      border-radius: 8px 8px 0 0;
      padding: 0;
      margin: 0 auto;
      width: 100px;
      display: block; }
  .lab .gallery .caption {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 0.8em;
    width: 100px;
    padding: 0.25em 0.25em;
    border-radius: 0 0 8px 8px;
    background-color: white;
    border: silver 1px solid;
    border-top: none;
    box-shadow: 0 0 4px white;
    display: block;
    margin: 0 auto; }

/* end labs */
