<div id="lab lab_{{ lab.id }}" class="panel panel-default lab">
    <div class="panel-heading"
        {% if not user.is_authenticated %}
         data-parent="#labs-accordion"
         data-toggle="collapse"
         data-target="#lab_{{ lab.id }}"
        {% endif %}
         style="position: relative">
        <h1 class="panel-title">
            <span contenteditable="true" class="editable" data-pk="{{ lab.id }}" data-prop="title"
                  data-url="{% url "labs.views.labscontrol.update_lab" %}">
                        {% if user.is_authenticated %}
                            <span class="lab-title" contenteditable="true">{{ lab.title|safe|default:"..." }}</span>
                        {% else %}
                            <span class="lab-title" contenteditable="true">{{ lab.title|safe }}</span>
                        {% endif %}
            </span>
        </h1>
        {% if user.is_authenticated %}
            <div style="position: absolute; right: 4px; top:4px;">
                <button class="form-button-update-lab btn btn-sm btn-success"
                        data-action="{% url "labs.views.labscontrol.update_lab" %}"
                        data-csrfmiddlewaretoken="{{ csrf_token }}"
                        data-pk="{{ lab.id }}">
                    <span class="glyphicon glyphicon-save"></span>
                </button>

                <button class="form-button-add-task btn btn-sm btn-default"
                        data-action="{% url "labs.views.labscontrol.add_task" lab.id %}"
                        data-title="title"
                        data-csrfmiddlewaretoken="{{ csrf_token }}"
                        data-description="description"
                        data-lab_id="{{ lab.id }}">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>

                <button class="form-button-remove-lab btn btn-sm btn-danger"
                        data-action="{% url "labs.views.labscontrol.remove_lab" lab.id %}">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        {% endif %}
    </div>

    <div class="panel-collapse {% if not user.is_authenticated %}collapse{% endif %} {% if show_opened %}in{% endif %}">
        <div class="panel-body">
            {% if user.is_authenticated %}
                <div class="lab-description" contenteditable="true">{{ lab.description|safe|default:"..." }}</div>
            {% else %}
                <div class="lab-description" contenteditable="true">{{ lab.description|safe }}</div>
            {% endif %}

            {% if lab.tasks %}
                <ol class="tasks">
                    {% with lab.tasks as tasks %}
                        {% include "labs-control/task-list.html" %}
                    {% endwith %}
                </ol>
            {% endif %}
        </div>
    </div>
</div>