{% load static %}

<div class="panel-group" id="labs-accordion" data-bind="foreach: labs">
    <div class="panel panel-default lab expanded">
        <div class="panel-heading" style="position: relative">
            <h2 class="panel-title">
                <span class="lab-title" data-bind="text: title"></span>
            </h2>

            {% if user.is_authenticated and not is_plugin %}
                <div style="position: absolute; right: 4px; top:4px;">
                    <button class="form-button-update-lab btn btn-sm btn-success"
                            data-action="{% url "labs.views.labscontrol.update_lab" %}"
                            data-bind="click: Save">
                        <span class="glyphicon glyphicon-save"></span>
                    </button>

                    <button class="form-button-add-task btn btn-sm btn-default"
                            data-bind="click: AddTask">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>

                    <button class="form-button-remove-lab btn btn-sm btn-danger" data-bind="click: Remove">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            {% endif %}
        </div>

        <div class="panel-body">
            <div class="lab-description" contenteditable="true" data-bind="ckeditorInline: description"></div>
            <ol class="tasks" data-bind="foreach: tasks">
                <li class="task item" style="position: relative;" data-bind="css: complexity">

                    <div class="task-description" contenteditable="true" data-bind="ckeditorInline: description"></div>

                    <div class="menu-task">
                        <!-- СТУДЕНТЫ ВЫБРАВШИЕ ЗАДАЧУ -->
                        <div class="task-users-selector"
                             data-ajax-url="{% url "students.views.students.ajax.json.list_students" %}"
                             data-ajax-term="filter"
                             data-placeholder="никто не выбрал эту задачу"
                             data-bind="select2: users"></div>
                        <!-- / СТУДЕНТЫ ВЫБРАВШИЕ ЗАДАЧУ -->

                        <!-- СЛОЖНОСТЬ ЗАДАЧИ -->
                        <div class="menu-complexity" data-bind="foreach: $root.complex_choices">
                            <div class="menu-complexity-item"
                                 data-bind="css: $data, attr: {value: $data},
                                  click: $parent.setComplex,
                                  visible: $parent.complexity() != $data"></div>
                        </div>
                        <!-- / СЛОЖНОСТЬ ЗАДАЧИ -->

                        <!-- КНОПКИ УПРАВЛЕНИЯ ЗАДАЧЕЙ -->
                        <a href="#" class="save" style="margin-left: 8px"
                           data-bind="visible: changed,
                           click: Save.bind($data, '{% url "labs.views.labscontrol.update_task" %}')">
                            сохранить
                        </a>
                        <a href="#" class="text-danger pull-right" data-bind="click: Remove">удалить</a>
                        <!-- / КНОПКИ УПРАВЛЕНИЯ ЗАДАЧЕЙ -->
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>

