{% extends "page.html" %}
{% load sekizai_tags static %}

{# Редактор лабов #}
{% block basecontent %}

    <div class="row">
        {% if user.is_authenticated %}
            <div class="col-md-7" id="labs-preview">
                {% include "labs-control/labs-preview.html" %}
            </div>
            <div class="col-md-5" id="tree">
                {% include "labs-control/labs-tree.html" %}
            </div>
        {% endif %}
    </div>

    {% include "labs-control/labs-static.html" %}

{% endblock %}