<li class="task item {{ task.complexity }}"
    {% if user.is_authenticated and not is_plugin %}
        style="position: relative;"
        data-complexity="{{ task.complexity }}"
        data-id="{{ task.id }}"
    {% endif %}>

    <div class="task-counter">{{ forloop.counter }}</div>
    <div id="task-description-{{ task.id }}" class="task-description" {% if user.is_authenticated and not is_plugin %}contenteditable="true"{% endif %}>
         {{ task.description|safe }}
    </div>

    {% if user.is_authenticated and not is_plugin %}
        <div class="menu-task">
            <div class="menu-complexity">
                {% for c in complex_choices %}
                    <div class="menu-complexity-item {{ c.0 }}" data-value="{{ c.0 }}">
                    </div>
                {% endfor %}
            </div>
            <a href="{% url "labs.views.labscontrol.update_task" %}" class="save"
               style="margin-left: 8px">сохранить</a>
            <a href="{% url "labs.views.labscontrol.remove_task" task.id %}" class="remove text-danger pull-right">удалить</a>
        </div>
    {% endif %}
</li>
