@charset "UTF-8";
@-moz-document url-prefix() {
  fieldset {
    display: table-cell; } }

.pickmeup-twitter-bootstrap {
  z-index: 20000 !important; }

#template-lesson-edit textarea {
  max-width: 100%; }

.lesson-icon-selector img {
  max-width: 100%;
  max-height: 100%; }

.god {
  position: relative;
  box-shadow: 0 0 6px #f49900;
  background-color: #ffe500; }
  .god:after {
    content: ' ';
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    margin: 3px;
    border-radius: 3px;
    -webkit-animation: godAnimation2 3s linear infinite;
    -moz-animation: godAnimation2 3s linear infinite;
    -o-animation: godAnimation2 3s linear infinite;
    animation: godAnimation2 3s linear infinite; }

.jumbotron.loading {
  background-color: #ffe500;
  box-shadow: 0 0 6px #f49900, 0 0 40px white inset;
  border-radius: 0;
  border: 1px solid #f4b500;
  color: #c16400;
  margin-bottom: 1em; }
  .jumbotron.loading h1 {
    color: #f46400;
    font-weight: bold; }
  .jumbotron.loading .loader {
    margin: 0 auto;
    font-size: 14px;
    text-indent: -9999em;
    border: 1.1em solid #ffc700;
    border-left-color: #fff199;
    -webkit-animation: loaderAnimation 1.1s infinite linear;
    animation: loaderAnimation 1.1s infinite linear;
    border-radius: 50%;
    width: 10em;
    height: 10em; }
    .jumbotron.loading .loader:after {
      border-radius: 50%;
      width: 10em;
      height: 10em; }

.marks-editor .marks-legend {
  padding-left: 1em;
  font-size: 0.8em; }
  .marks-editor .marks-legend tr {
    padding: 0;
    float: left;
    clear: both;
    list-style: none; }
    .marks-editor .marks-legend tr td {
      border: 1px solid #000000; }
    .marks-editor .marks-legend tr.marks {
      margin-bottom: 0; }
      .marks-editor .marks-legend tr.marks td {
        height: 2em;
        border-bottom: none; }
    .marks-editor .marks-legend tr.values td {
      background-color: #EEE;
      text-shadow: 0 0 1px white; }
.marks-editor #mark-selector {
  display: none;
  position: absolute;
  z-index: 1000;
  padding: 0; }
  .marks-editor #mark-selector > ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    background-color: rgba(255, 255, 0, 0.55);
    box-shadow: 0 0 6px black; }
    .marks-editor #mark-selector > ul > li {
      position: relative;
      display: block;
      width: 28px;
      height: 28px;
      border-radius: 16px;
      border: 1px solid;
      cursor: pointer; }
      .marks-editor #mark-selector > ul > li:hover {
        box-shadow: gray 0 0 6px inset; }
      .marks-editor #mark-selector > ul > li.current {
        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
        -ms-transition: all 0.1s;
        -o-transition: all 0.1s;
        transition: all 0.1s;
        border: 6px solid black; }
.marks-editor .marks-students-list-header-button-group button {
  padding-right: 0;
  font-size: 12px;
  overflow: hidden; }
.marks-editor .students-list {
  max-width: 220px;
  width: 220px;
  overflow: hidden;
  float: left;
  clear: none; }
  .marks-editor .students-list > table > tbody > tr:nth-child(1) .student .god:after {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
    animation-delay: 0.1s; }
  .marks-editor .students-list > table > tbody > tr:nth-child(2) .student .god:after {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  .marks-editor .students-list > table > tbody > tr:nth-child(3) .student .god:after {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  .marks-editor .students-list > table > tbody > tr:nth-child(4) .student .god:after {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    animation-delay: 0.4s; }
  .marks-editor .students-list > table > tbody > tr:nth-child(5) .student .god:after {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s; }
  .marks-editor .students-list > table > tbody > tr:nth-child(6) .student .god:after {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    animation-delay: 0.6s; }
  .marks-editor .students-list > table > tbody > tr:nth-child(7) .student .god:after {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    -o-animation-delay: 0.7s;
    animation-delay: 0.7s; }
  .marks-editor .students-list > table > tbody > tr:nth-child(8) .student .god:after {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -o-animation-delay: 0.8s;
    animation-delay: 0.8s; }
  .marks-editor .students-list > table > tbody > tr:nth-child(9) .student .god:after {
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    animation-delay: 0.9s; }
  .marks-editor .students-list > table > tbody > tr:nth-child(10) .student .god:after {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s; }
  .marks-editor .students-list .hover .student {
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    -webkit-transition: opacity 0s;
    -moz-transition: opacity 0s;
    -ms-transition: opacity 0s;
    -o-transition: opacity 0s;
    transition: opacity 0s;
    opacity: 1 !important;
    background-color: white !important; }
    .marks-editor .students-list .hover .student .name {
      -webkit-transition: all ease-in-out 0.1s;
      -moz-transition: all ease-in-out 0.1s;
      -ms-transition: all ease-in-out 0.1s;
      -o-transition: all ease-in-out 0.1s;
      transition: all ease-in-out 0.1s;
      border-left: 8px solid #8cacae; }
  .marks-editor .students-list .student .badge {
    background-color: white; }
  .marks-editor .students-list > table {
    width: 100%;
    table-layout: fixed;
    border: 1px solid #cccccc; }
    .marks-editor .students-list > table .info {
      height: 30px; }
      .marks-editor .students-list > table .info > table {
        height: 100%;
        table-layout: fixed; }
        .marks-editor .students-list > table .info > table td.name {
          padding-left: 3px; }
          .marks-editor .students-list > table .info > table td.name .name-n {
            display: none; }
        .marks-editor .students-list > table .info > table td.score {
          padding-right: 3px; }
.marks-editor .marks-list {
  border-right: 1px solid #cccccc;
  margin-left: 220px;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: hidden;
  cursor: move;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .marks-editor .marks-list > table {
    width: 100%;
    border: 1px solid #cccccc;
    border-left: none;
    border-right: none; }
    .marks-editor .marks-list > table > thead {
      box-shadow: 0 2px 8px #cccccc; }
.marks-editor table.table-marks {
  table-layout: fixed;
  border-collapse: collapse; }
  .marks-editor table.table-marks > tbody > tr, .marks-editor table.table-marks > thead > tr, .marks-editor table.table-marks > tfoot > tr {
    border-bottom: 1px solid #c0c0c0;
    -webkit-transition: all ease-in-out 0.1s;
    -moz-transition: all ease-in-out 0.1s;
    -ms-transition: all ease-in-out 0.1s;
    -o-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s; }
    .marks-editor table.table-marks > tbody > tr.hover, .marks-editor table.table-marks > thead > tr.hover, .marks-editor table.table-marks > tfoot > tr.hover {
      background-color: white; }
      .marks-editor table.table-marks > tbody > tr.hover > td.mark, .marks-editor table.table-marks > thead > tr.hover > td.mark, .marks-editor table.table-marks > tfoot > tr.hover > td.mark {
        color: #000000; }
        .marks-editor table.table-marks > tbody > tr.hover > td.mark.excellent, .marks-editor table.table-marks > tbody > tr.hover > td.mark.awesome, .marks-editor table.table-marks > tbody > tr.hover > td.mark.fantastic, .marks-editor table.table-marks > tbody > tr.hover > td.mark.black-hole, .marks-editor table.table-marks > tbody > tr.hover > td.mark.incredible, .marks-editor table.table-marks > thead > tr.hover > td.mark.excellent, .marks-editor table.table-marks > thead > tr.hover > td.mark.awesome, .marks-editor table.table-marks > thead > tr.hover > td.mark.fantastic, .marks-editor table.table-marks > thead > tr.hover > td.mark.black-hole, .marks-editor table.table-marks > thead > tr.hover > td.mark.incredible, .marks-editor table.table-marks > tfoot > tr.hover > td.mark.excellent, .marks-editor table.table-marks > tfoot > tr.hover > td.mark.awesome, .marks-editor table.table-marks > tfoot > tr.hover > td.mark.fantastic, .marks-editor table.table-marks > tfoot > tr.hover > td.mark.black-hole, .marks-editor table.table-marks > tfoot > tr.hover > td.mark.incredible {
          color: white;
          text-shadow: none; }
        .marks-editor table.table-marks > tbody > tr.hover > td.mark.empty, .marks-editor table.table-marks > thead > tr.hover > td.mark.empty, .marks-editor table.table-marks > tfoot > tr.hover > td.mark.empty {
          background-color: white;
          box-shadow: none !important; }
        .marks-editor table.table-marks > tbody > tr.hover > td.mark.shining:after, .marks-editor table.table-marks > thead > tr.hover > td.mark.shining:after, .marks-editor table.table-marks > tfoot > tr.hover > td.mark.shining:after {
          content: "∞"; }
        .marks-editor table.table-marks > tbody > tr.hover > td.mark.mercy:after, .marks-editor table.table-marks > thead > tr.hover > td.mark.mercy:after, .marks-editor table.table-marks > tfoot > tr.hover > td.mark.mercy:after {
          content: "○"; }
        .marks-editor table.table-marks > tbody > tr.hover > td.mark.black-hole:after, .marks-editor table.table-marks > thead > tr.hover > td.mark.black-hole:after, .marks-editor table.table-marks > tfoot > tr.hover > td.mark.black-hole:after {
          content: '∅'; }
        .marks-editor table.table-marks > tbody > tr.hover > td.mark.absent:after, .marks-editor table.table-marks > thead > tr.hover > td.mark.absent:after, .marks-editor table.table-marks > tfoot > tr.hover > td.mark.absent:after {
          content: "-2";
          color: red; }
      .marks-editor table.table-marks > tbody > tr.hover noindex:-o-prefocus, .marks-editor table.table-marks > tbody > tr.hover > td.mark, .marks-editor table.table-marks > thead > tr.hover noindex:-o-prefocus, .marks-editor table.table-marks > thead > tr.hover > td.mark, .marks-editor table.table-marks > tfoot > tr.hover noindex:-o-prefocus, .marks-editor table.table-marks > tfoot > tr.hover > td.mark {
        box-shadow: none !important; }
    .marks-editor table.table-marks > tbody > tr > td, .marks-editor table.table-marks > tbody > tr > th, .marks-editor table.table-marks > thead > tr > td, .marks-editor table.table-marks > thead > tr > th, .marks-editor table.table-marks > tfoot > tr > td, .marks-editor table.table-marks > tfoot > tr > th {
      height: 31px;
      margin: 0px;
      border-right: 1px solid #c0c0c0; }
      .marks-editor table.table-marks > tbody > tr > td:first-child, .marks-editor table.table-marks > tbody > tr > th:first-child, .marks-editor table.table-marks > thead > tr > td:first-child, .marks-editor table.table-marks > thead > tr > th:first-child, .marks-editor table.table-marks > tfoot > tr > td:first-child, .marks-editor table.table-marks > tfoot > tr > th:first-child {
        white-space: nowrap; }
        .marks-editor table.table-marks > tbody > tr > td:first-child.active, .marks-editor table.table-marks > tbody > tr > th:first-child.active, .marks-editor table.table-marks > thead > tr > td:first-child.active, .marks-editor table.table-marks > thead > tr > th:first-child.active, .marks-editor table.table-marks > tfoot > tr > td:first-child.active, .marks-editor table.table-marks > tfoot > tr > th:first-child.active {
          box-shadow: grey 0 0 4px inset; }
      .marks-editor table.table-marks > tbody > tr > td:last-child, .marks-editor table.table-marks > tbody > tr > th:last-child, .marks-editor table.table-marks > thead > tr > td:last-child, .marks-editor table.table-marks > thead > tr > th:last-child, .marks-editor table.table-marks > tfoot > tr > td:last-child, .marks-editor table.table-marks > tfoot > tr > th:last-child {
        border-right: none; }
  .marks-editor table.table-marks > thead > tr > th, .marks-editor table.table-marks > thead > tr > td, .marks-editor table.table-marks > tfoot > tr > th, .marks-editor table.table-marks > tfoot > tr > td {
    padding: 2px;
    height: 38px;
    max-height: 38px; }
  .marks-editor table.table-marks > tfoot:last-child {
    border-bottom: none; }
  .marks-editor table.table-marks .header {
    text-align: center; }
.marks-editor .mark {
  width: 39px;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  color: transparent;
  -webkit-transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  -ms-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s; }
  .marks-editor .mark .tooltip > .tooltip-arrow {
    display: none; }
  .marks-editor .mark .tooltip > .tooltip-inner {
    font-weight: bold;
    background-color: white;
    color: #9cb814;
    border: 1px solid #9cb814; }
  .marks-editor .mark.header-label {
    padding: 0;
    background-color: #f9fdf1;
    font-size: 0.9em;
    color: #4e5c0a;
    font-weight: normal; }
    .marks-editor .mark.header-label .header-label-text {
      height: 37px;
      width: 37px;
      display: table-cell;
      vertical-align: middle; }
    .marks-editor .mark.header-label .lesson-icon {
      max-width: 30px !important;
      max-height: 30px !important; }
    .marks-editor .mark.header-label:hover {
      cursor: pointer;
      background-color: #eaf9cd; }
  .marks-editor .mark.test.header-label {
    padding: 0;
    background-color: #fdf4f1;
    font-size: 0.9em;
    color: #5c110a;
    font-weight: normal; }
    .marks-editor .mark.test.header-label .header-label-text {
      height: 37px;
      width: 37px;
      display: table-cell;
      vertical-align: middle; }
    .marks-editor .mark.test.header-label .lesson-icon {
      max-width: 30px !important;
      max-height: 30px !important; }
    .marks-editor .mark.test.header-label:hover {
      cursor: pointer;
      background-color: #f9d8cd; }
  .marks-editor .mark.test .tooltip > .tooltip-arrow {
    display: none; }
  .marks-editor .mark.test .tooltip > .tooltip-inner {
    font-weight: bold;
    background-color: white;
    color: #b82214;
    border: 1px solid #b82214; }
  .marks-editor .mark.exam.header-label {
    padding: 0;
    background-color: #f1fdfd;
    font-size: 0.9em;
    color: #0a5c4e;
    font-weight: normal; }
    .marks-editor .mark.exam.header-label .header-label-text {
      height: 37px;
      width: 37px;
      display: table-cell;
      vertical-align: middle; }
    .marks-editor .mark.exam.header-label .lesson-icon {
      max-width: 30px !important;
      max-height: 30px !important; }
    .marks-editor .mark.exam.header-label:hover {
      cursor: pointer;
      background-color: #cdf9f9; }
  .marks-editor .mark.exam .tooltip > .tooltip-arrow {
    display: none; }
  .marks-editor .mark.exam .tooltip > .tooltip-inner {
    font-weight: bold;
    background-color: white;
    color: #14b89c;
    border: 1px solid #14b89c; }
  .marks-editor .mark.laba.header-label {
    padding: 0;
    background-color: #fdf1f1;
    font-size: 0.9em;
    color: #5c0a18;
    font-weight: normal; }
    .marks-editor .mark.laba.header-label .header-label-text {
      height: 37px;
      width: 37px;
      display: table-cell;
      vertical-align: middle; }
    .marks-editor .mark.laba.header-label .lesson-icon {
      max-width: 30px !important;
      max-height: 30px !important; }
    .marks-editor .mark.laba.header-label:hover {
      cursor: pointer;
      background-color: #f9cdcd; }
  .marks-editor .mark.laba .tooltip > .tooltip-arrow {
    display: none; }
  .marks-editor .mark.laba .tooltip > .tooltip-inner {
    font-weight: bold;
    background-color: white;
    color: #b81430;
    border: 1px solid #b81430; }
  .marks-editor .mark.modified {
    box-shadow: #9ebdff 0px 0px 8px inset !important; }
  .marks-editor .mark.absent {
    background-color: #f0fadb;
    color: grey; }
    .marks-editor .mark.absent.test {
      background-color: #fee1d7; }
    .marks-editor .mark.absent.exam {
      background-color: #dbfafa; }
    .marks-editor .mark.absent.laba {
      background-color: white; }
    .marks-editor .mark.absent:after {
      content: "н"; }
  .marks-editor .mark.empty {
    background-color: #f0fadb; }
    .marks-editor .mark.empty.test {
      background-color: #fee1d7; }
    .marks-editor .mark.empty.exam {
      background-color: #dbfafa; }
    .marks-editor .mark.empty.laba {
      background-color: white; }
  .marks-editor .mark.normal {
    background-color: #cef08a; }
    .marks-editor .mark.normal.test {
      background-color: #fd9d7c; }
    .marks-editor .mark.normal.exam {
      background-color: #8af0f0; }
    .marks-editor .mark.normal.laba {
      background-color: #f9cdcd; }
  .marks-editor .mark.good {
    background-color: #cfeb47; }
    .marks-editor .mark.good.test {
      background-color: #ff4433; }
    .marks-editor .mark.good.exam {
      background-color: #47ebcf; }
    .marks-editor .mark.good.laba {
      background-color: #f28c9d; }
  .marks-editor .mark.excellent {
    background-color: #9cb814;
    box-shadow: #758a0f 0 0 8px inset; }
    .marks-editor .mark.excellent.test {
      box-shadow: #990d00 0 0 8px inset;
      background-color: #cc1100; }
    .marks-editor .mark.excellent.exam {
      box-shadow: #0f8a75 0 0 8px inset;
      background-color: #14b89c; }
    .marks-editor .mark.excellent.laba {
      box-shadow: #cf1736 0 0 8px inset;
      background-color: #e8304f; }
  .marks-editor .mark.awesome {
    background-color: #758a0f;
    box-shadow: #4e5c0a 0 0 8px inset; }
    .marks-editor .mark.awesome.test {
      box-shadow: #660900 0 0 8px inset;
      background-color: #990d00; }
    .marks-editor .mark.awesome.exam {
      box-shadow: #0a5c4e 0 0 8px inset;
      background-color: #0f8a75; }
    .marks-editor .mark.awesome.laba {
      box-shadow: #a1122a 0 0 8px inset;
      background-color: #cf1736; }
  .marks-editor .mark.fantastic {
    background-color: #4e5b0b;
    box-shadow: #272d06 0 0 8px inset; }
    .marks-editor .mark.fantastic.test {
      box-shadow: #320501 0 0 8px inset;
      background-color: #650901; }
    .marks-editor .mark.fantastic.exam {
      box-shadow: #062d27 0 0 8px inset;
      background-color: #0b5b4e; }
    .marks-editor .mark.fantastic.laba {
      box-shadow: #710e1f 0 0 8px inset;
      background-color: #9f142b; }
  .marks-editor .mark.incredible {
    background-color: #3a4408;
    box-shadow: #131703 0 0 8px inset; }
    .marks-editor .mark.incredible.test {
      box-shadow: #190200 0 0 8px inset;
      background-color: #4c0701; }
    .marks-editor .mark.incredible.exam {
      box-shadow: #031713 0 0 8px inset;
      background-color: #08443a; }
    .marks-editor .mark.incredible.laba {
      box-shadow: #5b0b18 0 0 8px inset;
      background-color: #881125; }
  .marks-editor .mark.godlike {
    background-color: #272e05;
    box-shadow: black 0 0 8px inset; }
    .marks-editor .mark.godlike.test {
      box-shadow: black 0 0 8px inset;
      background-color: #330400; }
    .marks-editor .mark.godlike.exam {
      box-shadow: black 0 0 8px inset;
      background-color: #052e27; }
    .marks-editor .mark.godlike.laba {
      box-shadow: #450812 0 0 8px inset;
      background-color: #730d1e; }
  .marks-editor .mark.black-hole {
    background-color: black;
    z-index: 100;
    box-shadow: 0 0 12px #ff1800 inset;
    -webkit-animation: black-hole-glow 2s infinite;
    -moz-animation: black-hole-glow 2s infinite;
    -o-animation: black-hole-glow 2s infinite;
    animation: black-hole-glow 2s infinite; }
  .marks-editor .mark.shining {
    background-color: #ffe20a;
    z-index: 100;
    box-shadow: 0 0 12px #ffb62c inset;
    -webkit-animation: shinig-glow 4s infinite;
    -moz-animation: shinig-glow 4s infinite;
    -o-animation: shinig-glow 4s infinite;
    animation: shinig-glow 4s infinite; }
  .marks-editor .mark.mercy {
    background-color: white;
    z-index: 100;
    -webkit-animation: mercy-glow 6s infinite;
    -moz-animation: mercy-glow 6s infinite;
    -o-animation: mercy-glow 6s infinite;
    animation: mercy-glow 6s infinite; }

@-webkit-keyframes black-hole-glow {
  0% {
    box-shadow: 0 0 2px #ff1800 inset; }

  50% {
    box-shadow: 0 0 32px #ff1800 inset; }

  100% {
    box-shadow: 0 0 2px #ff1800 inset; } }

@-moz-keyframes black-hole-glow {
  0% {
    box-shadow: 0 0 2px #ff1800 inset; }

  50% {
    box-shadow: 0 0 32px #ff1800 inset; }

  100% {
    box-shadow: 0 0 2px #ff1800 inset; } }

@keyframes black-hole-glow {
  0% {
    box-shadow: 0 0 2px #ff1800 inset; }

  50% {
    box-shadow: 0 0 32px #ff1800 inset; }

  100% {
    box-shadow: 0 0 2px #ff1800 inset; } }

@-webkit-keyframes shinig-glow {
  0% {
    box-shadow: 0 0 2px #ffb62c inset; }

  50% {
    box-shadow: 0 0 32px #ffb62c inset; }

  100% {
    box-shadow: 0 0 2px #ffb62c inset; } }

@-moz-keyframes shinig-glow {
  0% {
    box-shadow: 0 0 2px #ffb62c inset; }

  50% {
    box-shadow: 0 0 32px #ffb62c inset; }

  100% {
    box-shadow: 0 0 2px #ffb62c inset; } }

@keyframes shinig-glow {
  0% {
    box-shadow: 0 0 2px #ffb62c inset; }

  50% {
    box-shadow: 0 0 32px #ffb62c inset; }

  100% {
    box-shadow: 0 0 2px #ffb62c inset; } }

@-webkit-keyframes mercy-glow {
  0% {
    box-shadow: 0 0 0px #cef08a inset; }

  50% {
    box-shadow: 0 0 32px #cef08a inset; }

  100% {
    box-shadow: 0 0 0px #cef08a inset; } }

@-moz-keyframes mercy-glow {
  0% {
    box-shadow: 0 0 0px #cef08a inset; }

  50% {
    box-shadow: 0 0 32px #cef08a inset; }

  100% {
    box-shadow: 0 0 0px #cef08a inset; } }

@keyframes mercy-glow {
  0% {
    box-shadow: 0 0 0px #cef08a inset; }

  50% {
    box-shadow: 0 0 32px #cef08a inset; }

  100% {
    box-shadow: 0 0 0px #cef08a inset; } }

@-webkit-keyframes loaderAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loaderAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes godAnimation {
  0% {
    background-position: 0 0; }

  100% {
    background-position: 40px 0; } }

@-moz-keyframes godAnimation {
  0% {
    background-position: 0 0; }

  100% {
    background-position: 40px 0; } }

@keyframes godAnimation {
  0% {
    background-position: 0 0; }

  100% {
    background-position: 40px 0; } }

@-webkit-keyframes godAnimation2 {
  0% {
    opacity: 0;
    width: 0; }

  50% {
    opacity: .4; }

  100% {
    opacity: 0;
    width: 100%; } }

@-moz-keyframes godAnimation2 {
  0% {
    opacity: 0;
    width: 0; }

  50% {
    opacity: .4; }

  100% {
    opacity: 0;
    width: 100%; } }

@keyframes godAnimation2 {
  0% {
    opacity: 0;
    width: 0; }

  50% {
    opacity: .4; }

  100% {
    opacity: 0;
    width: 100%; } }

@media (max-width: 768px) {
  .marks-editor .marks-students-list-header-button-group .btn-text {
    display: none; }
  .marks-editor .marks-students-list-header-button-group button {
    padding-right: 10px; }
  .marks-editor .students-list {
    max-width: 154px;
    width: 154px; }
    .marks-editor .students-list > table .info > table td.name .name-n {
      display: inline; }
    .marks-editor .students-list > table .info > table td.name .name-name {
      display: none; }
  .marks-editor .marks-list {
    margin-left: 154px; } }
