@charset "UTF-8";
@-moz-document url-prefix() {
  fieldset {
    display: table-cell; } }

.pickmeup-twitter-bootstrap {
  z-index: 20000 !important; }

#template-lesson-edit textarea {
  max-width: 100%; }

.marks-editor .marks-legend {
  padding-left: 1em; }
  .marks-editor .marks-legend tr {
    padding: 0;
    float: left;
    clear: both;
    list-style: none; }
    .marks-editor .marks-legend tr td {
      border: 1px solid #000000; }
    .marks-editor .marks-legend tr.marks {
      margin-bottom: 0; }
      .marks-editor .marks-legend tr.marks td {
        width: 4em;
        height: 1.5em;
        border-bottom: none; }
    .marks-editor .marks-legend tr.values td {
      background-color: #EEE;
      text-shadow: 0 0 1px white; }
.marks-editor #mark-selector {
  display: none;
  position: absolute;
  z-index: 1000;
  padding: 0;
  background-color: white;
  float: left;
  border: 1px solid #000000;
  box-shadow: grey 0 4px 6px; }
  .marks-editor #mark-selector > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: auto; }
    .marks-editor #mark-selector > ul > li {
      display: block;
      width: auto; }
      .marks-editor #mark-selector > ul > li:hover {
        box-shadow: gray 0 0 6px inset; }
      .marks-editor #mark-selector > ul > li.current {
        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
        -ms-transition: all 0.1s;
        -o-transition: all 0.1s;
        transition: all 0.1s;
        border: 6px solid black; }
.marks-editor .students-list {
  max-width: 250px;
  width: 250px;
  overflow: hidden;
  float: left;
  clear: none; }
  .marks-editor .students-list .hover .student {
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    opacity: 1 !important; }
  .marks-editor .students-list .student .god {
    background: linear-gradient(135deg, #fff871 25%, transparent 25%, transparent 50%, #fff871 50%, #fff871 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    -ms-background-size: 40px 40px;
    background-size: 40px 40px;
    -webkit-animation: godAnimation 1s linear infinite;
    -moz-animation: godAnimation 1s linear infinite;
    -o-animation: godAnimation 1s linear infinite;
    animation: godAnimation 1s linear infinite; }
  .marks-editor .students-list > table {
    width: 100%;
    border: 1px solid #cccccc; }
    .marks-editor .students-list > table .info {
      height: 30px; }
      .marks-editor .students-list > table .info > table {
        height: 100%; }
        .marks-editor .students-list > table .info > table td.name {
          padding-left: 3px; }
        .marks-editor .students-list > table .info > table td.score {
          padding-right: 3px; }
.marks-editor .marks-list {
  border-right: 1px solid #cccccc;
  margin-left: 250px;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: hidden;
  cursor: move;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .marks-editor .marks-list > table {
    width: 100%;
    border: 1px solid #cccccc;
    border-left: none;
    border-right: none; }
    .marks-editor .marks-list > table > thead {
      box-shadow: 0 2px 8px #cccccc; }
.marks-editor table.table-marks {
  border-collapse: collapse; }
  .marks-editor table.table-marks > tbody > tr, .marks-editor table.table-marks > thead > tr, .marks-editor table.table-marks > tfoot > tr {
    border-bottom: 1px solid #c0c0c0;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s; }
    .marks-editor table.table-marks > tbody > tr.hover, .marks-editor table.table-marks > thead > tr.hover, .marks-editor table.table-marks > tfoot > tr.hover {
      box-shadow: 0 0 4px grey; }
    .marks-editor table.table-marks > tbody > tr > td, .marks-editor table.table-marks > tbody > tr > th, .marks-editor table.table-marks > thead > tr > td, .marks-editor table.table-marks > thead > tr > th, .marks-editor table.table-marks > tfoot > tr > td, .marks-editor table.table-marks > tfoot > tr > th {
      height: 31px;
      margin: 0px;
      border-right: 1px solid #c0c0c0; }
      .marks-editor table.table-marks > tbody > tr > td:first-child, .marks-editor table.table-marks > tbody > tr > th:first-child, .marks-editor table.table-marks > thead > tr > td:first-child, .marks-editor table.table-marks > thead > tr > th:first-child, .marks-editor table.table-marks > tfoot > tr > td:first-child, .marks-editor table.table-marks > tfoot > tr > th:first-child {
        white-space: nowrap; }
        .marks-editor table.table-marks > tbody > tr > td:first-child.active, .marks-editor table.table-marks > tbody > tr > th:first-child.active, .marks-editor table.table-marks > thead > tr > td:first-child.active, .marks-editor table.table-marks > thead > tr > th:first-child.active, .marks-editor table.table-marks > tfoot > tr > td:first-child.active, .marks-editor table.table-marks > tfoot > tr > th:first-child.active {
          box-shadow: grey 0 0 4px inset; }
      .marks-editor table.table-marks > tbody > tr > td:last-child, .marks-editor table.table-marks > tbody > tr > th:last-child, .marks-editor table.table-marks > thead > tr > td:last-child, .marks-editor table.table-marks > thead > tr > th:last-child, .marks-editor table.table-marks > tfoot > tr > td:last-child, .marks-editor table.table-marks > tfoot > tr > th:last-child {
        border-right: none; }
  .marks-editor table.table-marks > thead > tr > th, .marks-editor table.table-marks > thead > tr > td, .marks-editor table.table-marks > tfoot > tr > th, .marks-editor table.table-marks > tfoot > tr > td {
    padding: 2px;
    height: 38px; }
  .marks-editor table.table-marks > tfoot:last-child {
    border-bottom: none; }
  .marks-editor table.table-marks .header {
    text-align: center; }
.marks-editor .mark {
  width: 39px;
  vertical-align: middle;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .marks-editor .mark .tooltip > .tooltip-inner {
    background-color: white;
    color: #4bb814;
    border: 1px solid #4bb814; }
  .marks-editor .mark .btn-default {
    color: #4bb814;
    border: #4bb814;
    text-decoration: none; }
    .marks-editor .mark .btn-default:hover {
      background-color: #f9fef6; }
  .marks-editor .mark.test {
    background-color: #fdedf2; }
    .marks-editor .mark.test .btn-default {
      color: #b8144b;
      border: #b8144b;
      text-decoration: none; }
      .marks-editor .mark.test .btn-default:hover {
        background-color: #fef6f9; }
    .marks-editor .mark.test .tooltip > .tooltip-inner {
      background-color: white;
      color: #b8144b;
      border: 1px solid #b8144b; }
  .marks-editor .mark.exam {
    background-color: #edfafd; }
    .marks-editor .mark.exam .btn-default {
      color: #149cb8;
      border: #149cb8;
      text-decoration: none; }
      .marks-editor .mark.exam .btn-default:hover {
        background-color: #f6fdfe; }
    .marks-editor .mark.exam .tooltip > .tooltip-inner {
      background-color: white;
      color: #149cb8;
      border: 1px solid #149cb8; }
  .marks-editor .mark.modified {
    box-shadow: #9ebdff 0px 0px 8px inset !important; }
  .marks-editor .mark.absent:after {
    content: "н"; }
  .marks-editor .mark.normal {
    background-color: #aef28c; }
    .marks-editor .mark.normal.test {
      background-color: #f28cae; }
    .marks-editor .mark.normal.exam {
      background-color: #8ce1f2; }
  .marks-editor .mark.good {
    background-color: #7eeb47; }
    .marks-editor .mark.good.test {
      background-color: #eb477e; }
    .marks-editor .mark.good.exam {
      background-color: #47cfeb; }
  .marks-editor .mark.excellent {
    background-color: #4bb814; }
    .marks-editor .mark.excellent.test {
      background-color: #b8144b; }
    .marks-editor .mark.excellent.exam {
      background-color: #149cb8; }
  .marks-editor .mark.awesome {
    background-color: #388a0f; }
    .marks-editor .mark.awesome.test {
      background-color: #8a0f38; }
    .marks-editor .mark.awesome.exam {
      background-color: #0f758a; }
  .marks-editor .mark.fantastic {
    background-color: #255c0a; }
    .marks-editor .mark.fantastic.test {
      background-color: #5c0a25; }
    .marks-editor .mark.fantastic.exam {
      background-color: #0a4e5c; }
  .marks-editor .mark.godlike {
    background-color: #132e05; }
    .marks-editor .mark.godlike.test {
      background-color: #2e0513; }
    .marks-editor .mark.godlike.exam {
      background-color: #05272e; }

.loader {
  margin: 0 auto;
  font-size: 14px;
  text-indent: -9999em;
  border: 1.1em solid #E8E8E8;
  border-left-color: skyblue;
  -webkit-animation: loaderAnimation 1.1s infinite linear;
  animation: loaderAnimation 1.1s infinite linear;
  border-radius: 50%;
  width: 10em;
  height: 10em; }
  .loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em; }

@-webkit-keyframes loaderAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loaderAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes godAnimation {
  0% {
    background-position: 0 0; }

  100% {
    background-position: 40px 0; } }

@-moz-keyframes godAnimation {
  0% {
    background-position: 0 0; }

  100% {
    background-position: 40px 0; } }

@keyframes godAnimation {
  0% {
    background-position: 0 0; }

  100% {
    background-position: 40px 0; } }
