.students_plugin {
  //  .dropdown-menu {
  //    z-index: 100;
  //  }
  .process {
    display: none;
  }
  .students {
    .list-group-item {
      padding: 8px;
    }
  }
  table {
    .counter {
      width: 3em;
    }
  }

  .year_selector {
    padding: 1em 1em 0;
  }

  .groups-nav, .disciplines-nav {
    //    overflow: hidden;
    float: left;
    list-style: none;
    padding: 1em;
    margin-bottom: 0;
    .btn-group {
      ul {
        padding: 1em 1em 0;
        li {
          padding-bottom: 0.5em;
          .form-control {
            padding: 0.5em;
          }
          .form-group {
            margin-bottom: 0.5em;
          }
        }
      }
    }
    li {
      float: left;
      margin: 0;
      padding-right: 8px;
      padding-bottom: 0;
    }
    ul.group-item {
      list-style: none;
      padding: 0;
      float: left;
      overflow: hidden;
      margin-right: 1em;
      //      border: 1px solid black;
      li:last-child {
        padding-right: 0;
      }
    }
  }
}

