#years .process {
  display: none;
}
#years .students .list-group-item {
  padding: 8px;
}
#years table .counter {
  width: 3em;
}
#years #year_selector {
  padding: 1em 1em 0;
}
#years #groups-nav {
  float: left;
  list-style: none;
  padding: 1em;
  margin-bottom: 0;
}
#years #groups-nav li {
  float: left;
  margin: 0;
  padding-right: 8px;
  padding-bottom: 0;
}
#years #groups-nav ul.group-item {
  list-style: none;
  padding: 0;
  float: left;
  overflow: hidden;
  margin-right: 1em;
}
#years #groups-nav ul.group-item li:last-child {
  padding-right: 0;
}
