.students_plugin .process {
  display: none;
}
.students_plugin .students .list-group-item {
  padding: 8px;
}
.students_plugin table .counter {
  width: 3em;
}
.students_plugin .year_selector {
  padding: 1em 1em 0;
}
.students_plugin .groups-nav,
.students_plugin .disciplines-nav {
  float: left;
  list-style: none;
  padding: 1em;
  margin-bottom: 0;
}
.students_plugin .groups-nav .btn-group ul,
.students_plugin .disciplines-nav .btn-group ul {
  padding: 1em 1em 0;
}
.students_plugin .groups-nav .btn-group ul li,
.students_plugin .disciplines-nav .btn-group ul li {
  padding-bottom: 0.5em;
}
.students_plugin .groups-nav .btn-group ul li .form-control,
.students_plugin .disciplines-nav .btn-group ul li .form-control {
  padding: 0.5em;
}
.students_plugin .groups-nav .btn-group ul li .form-group,
.students_plugin .disciplines-nav .btn-group ul li .form-group {
  margin-bottom: 0.5em;
}
.students_plugin .groups-nav li,
.students_plugin .disciplines-nav li {
  float: left;
  margin: 0;
  padding-right: 8px;
  padding-bottom: 0;
}
.students_plugin .groups-nav ul.group-item,
.students_plugin .disciplines-nav ul.group-item {
  list-style: none;
  padding: 0;
  float: left;
  overflow: hidden;
  margin-right: 1em;
}
.students_plugin .groups-nav ul.group-item li:last-child,
.students_plugin .disciplines-nav ul.group-item li:last-child {
  padding-right: 0;
}
