.pickmeup-twitter-bootstrap {
  z-index: 1000 !important; }

.marks-editor thead th {
  border: none !important; }
.marks-editor .mark {
  min-width: 2em;
  width: 3em;
  max-width: 3em;
  margin: 0;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: white; }
  .marks-editor .mark .tooltip > .tooltip-inner {
    background-color: white;
    color: #4bb814;
    border: 1px solid #4bb814; }
  .marks-editor .mark .btn-default {
    color: #4bb814;
    border: #4bb814;
    text-decoration: none; }
    font
    .marks-editor .mark .btn-default:hover {
      background-color: #f5fdf1; }
  .marks-editor .mark.test {
    background-color: #fdedf2; }
    .marks-editor .mark.test .btn-default {
      color: #b8144b;
      border: #b8144b;
      text-decoration: none; }
      font
      .marks-editor .mark.test .btn-default:hover {
        background-color: #fdf1f5; }
    .marks-editor .mark.test .tooltip > .tooltip-inner {
      background-color: white;
      color: #b8144b;
      border: 1px solid #b8144b; }
  .marks-editor .mark.exam {
    background-color: #edfafd; }
    .marks-editor .mark.exam .btn-default {
      color: #149cb8;
      border: #149cb8;
      text-decoration: none; }
      font
      .marks-editor .mark.exam .btn-default:hover {
        background-color: #f1fbfd; }
    .marks-editor .mark.exam .tooltip > .tooltip-inner {
      background-color: white;
      color: #149cb8;
      border: 1px solid #149cb8; }
  .marks-editor .mark.modified {
    box-shadow: #9ebdff 0px 0px 8px inset !important; }
  .marks-editor .mark.normal {
    background-color: #aef28c;
    box-shadow: #ffbbd7 0px 0px 4px inset; }
    .marks-editor .mark.normal.test {
      background-color: #f28cae; }
    .marks-editor .mark.normal.exam {
      background-color: #8ce1f2; }
  .marks-editor .mark.good {
    background-color: #7eeb47;
    box-shadow: #ffbbd7 0px 0px 4px inset; }
    .marks-editor .mark.good.test {
      background-color: #eb477e; }
    .marks-editor .mark.good.exam {
      background-color: #47cfeb; }
  .marks-editor .mark.excelent {
    background-color: #4bb814;
    box-shadow: #ffbbd7 0px 0px 4px inset; }
    .marks-editor .mark.excelent.test {
      background-color: #b8144b; }
    .marks-editor .mark.excelent.exam {
      background-color: #149cb8; }

.students_plugin .process {
  display: none; }
.students_plugin .students .list-group-item {
  padding: 8px; }
.students_plugin table .counter {
  width: 3em; }
.students_plugin .year_selector {
  padding: 1em 1em 0; }
.students_plugin .groups-nav, .students_plugin .disciplines-nav {
  float: left;
  list-style: none;
  padding: 1em;
  margin-bottom: 0; }
  .students_plugin .groups-nav .btn-group ul, .students_plugin .disciplines-nav .btn-group ul {
    padding: 1em 1em 0; }
    .students_plugin .groups-nav .btn-group ul li, .students_plugin .disciplines-nav .btn-group ul li {
      padding-bottom: 0.5em; }
      .students_plugin .groups-nav .btn-group ul li .form-control, .students_plugin .disciplines-nav .btn-group ul li .form-control {
        padding: 0.5em; }
      .students_plugin .groups-nav .btn-group ul li .form-group, .students_plugin .disciplines-nav .btn-group ul li .form-group {
        margin-bottom: 0.5em; }
  .students_plugin .groups-nav li, .students_plugin .disciplines-nav li {
    float: left;
    margin: 0;
    padding-right: 8px;
    padding-bottom: 0; }
  .students_plugin .groups-nav ul.group-item, .students_plugin .disciplines-nav ul.group-item {
    list-style: none;
    padding: 0;
    float: left;
    overflow: hidden;
    margin-right: 1em; }
    .students_plugin .groups-nav ul.group-item li:last-child, .students_plugin .disciplines-nav ul.group-item li:last-child {
      padding-right: 0; }
