{% extends "lesson_article.html" %}
{% load sekizai_tags static %}


{% block lesson_content %}

    {% if user.is_authenticated %}
        {% addtoblock "css" %}
            <link rel="stylesheet" href="{% static "bower_components/select2/select2.css" %}"/>
            {#            <link rel="stylesheet" href="{% static "select2/select2-bootstrap.css" %}"/>#}
        {% endaddtoblock %}
        {% addtoblock "top_js" %}
            <script type="text/javascript" src="{% static "bower_components/select2/select2.min.js" %}"></script>
            <script type="text/javascript" src="{% static "bower_components/select2/select2_locale_ru.js" %}"></script>
        {% endaddtoblock %}
    {% endif %}

    {# STYLES #}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{% static "css/labs.css" %}"/>
    {% endaddtoblock %}
    {# END STYLES #}

    {# SCRIPTS #}
    {% addtoblock "top_js" %}
        <script type="text/javascript" src="{% static "js/labs.js" %}"></script>
    {% endaddtoblock %}
    {% addtoblock "js" %}
        <script type="text/javascript">
            $(document).ready(function () {
                // lab slider toggles
                $('.lab').find('.description').hide().end().find('.title').click(function () {
                    $(this).siblings('.description').slideToggle();
                });

                // lab selected item highlight
                $('.lab .selected').hover(function () {
                    $(this).toggleClass('selected');
                });

            });
            // captions for image tasks
            $('.lab').find(".tasks.gallery .item[data-toggle='tooltip']").tooltip({
                placement: 'top'
            });
            {% if user.is_authenticated %}
                // student select item
                new SelectStudent(".select-control", "{% url "students.views.students.ajax.json.list_students" %}");
            {% endif %}
        </script>
    {% endaddtoblock %}
    {# END SCRIPTS #}


{% endblock %}
