{% load static sekizai_tags assets ex_tags %}
{% if user.is_authenticated %}
    {% addtoblock "js" %}
        {#        <script src="{% static "bower_components/jquery-impromptu/dist/jquery-impromptu.min.js" %}"></script>#}
        <script src="{% static "bower_components/ckeditor/ckeditor.js" %}"></script>
    {% endaddtoblock %}
    {% addtoblock "core_css" %}
        <link rel="stylesheet" href="{% static "bower_components/jquery-impromptu/dist/jquery-impromptu.css" %}"/>
        <link rel="stylesheet" href="{% static "bower_components/select2/select2.css" %}"/>
    {% endaddtoblock %}
{% endif %}

{% addtoblock "core_css" %}
    <link rel="stylesheet" href="{% static "css/marks.css" %}"/>
{% endaddtoblock %}

{#{% addtoblock "js" %}#}
{#    <script src="{% static "bower_components/requirejs/require.js" %}"></script>#}
{#{% endaddtoblock %}#}


{% addtoblock "js" %}
    {% if user.is_authenticated %}
        {% requirejs 'js/students/marks' 'marksadmin' 'dist/marksadmin' 'urls' %}
    {% else %}
        {% requirejs 'js/students/marks' 'marks' 'dist/marks' 'urls' %}
    {% endif %}
{% endaddtoblock %}

{% addtoblock "js" %}
    <script>
        define('urls', {
                    csrf: "{{ csrf_token }}",
                    url: {
                        years: "{% url "students.views.students.ajax.json.years" %}",
                        groups: "{% url "students.views.students.ajax.json.groups" %}",
                        students: "{% url "students.views.marks.students" %}",
                        disciplines: "{% url "students.views.marks.disciplines.index" %}",
                        labs: "{% url "students.views.labsview.index" %}",
                        to_excel: "{% url "students.views.marks.marks_to_excel" %}",
                        {% if user.is_authenticated %}
                            logged: true, // чтобы определять залогинен ли пользователь
                            discipline_add: "{% url "students.views.marks.disciplines.add" %}",
                            discipline_remove: "{% url "students.views.marks.disciplines.remove" %}",
                            discipline_edit: "{% url "students.views.marks.disciplines.edit" %}",
                            students_control: "{% url "students.views.marks.students_control" %}",
                            lesson_add: "{% url "students.views.marks.lesson_add" %}",
                            lesson_remove: "{% url "students.views.marks.lesson_remove" %}",
                            lesson_save: "{% url "students.views.marks.lesson_save" %}",
                            marks_save: "{% url "students.views.marks.marks_save" %}",
                            reset_cache: "{% url "students.views.marks.reset_cache" %}",
                            task_save: "{% url "students.views.tasksview.save" %}",
                            task_delete: "{% url "students.views.tasksview.delete" %}",
                            task_add: "{% url "students.views.tasksview.new" %}",
                            lab_save: "{% url "students.views.labsview.save" %}",
                            lab_delete: "{% url "students.views.labsview.delete" %}",
                            lab_clear_image: "{% url "students.views.labsview.clear_image" %}",
                            lab_add: "{% url "students.views.labsview.new" %}",
                            lab_save_order: "{% url "students.views.labsview.lab_save_order" %}",
                            lab_save_taskmarks: "{% url "students.views.labsview.save_task_marks" %}"
                        {% endif %}
                    }
                }
        );
    </script>
{% endaddtoblock "js" %}