.menu a {
  color: #344649;
  text-decoration: none; }
  .menu a:hover {
    text-decoration: underline; }
.menu > ul {
  z-index: 100;
  position: fixed;
  padding: 0;
  list-style: none; }
  .menu > ul > li {
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    box-shadow: inset -1px 0 2px #c0c0c0;
    border-bottom: 1px solid #789a9e;
    background-color: rgba(255, 255, 255, 0.65);
    display: block;
    position: relative; }
    .menu > ul > li.active, .menu > ul > li.ancestor {
      background-color: white;
      border-right: none;
      box-shadow: none; }
      .menu > ul > li.active a, .menu > ul > li.ancestor a {
        text-decoration: none; }
    .menu > ul > li:hover {
      background-color: rgba(255, 255, 255, 0.94);
      box-shadow: none; }
    .menu > ul > li > a {
      text-shadow: 0 0 1px silver;
      width: 64px;
      display: block;
      text-align: center;
      vertical-align: middle;
      overflow: hidden;
      padding: 10px 6px 6px; }
      .menu > ul > li > a > img {
        width: 100%; }
    .menu > ul > li:hover ul {
      max-width: 192px; }
    .menu > ul > li ul {
      -webkit-transition: all ease-in-out 0.2s;
      -moz-transition: all ease-in-out 0.2s;
      -ms-transition: all ease-in-out 0.2s;
      -o-transition: all ease-in-out 0.2s;
      transition: all ease-in-out 0.2s;
      max-width: 0;
      overflow: hidden;
      background: white url("images/ornaments_v_in_42px.png");
      padding: 0;
      list-style: none;
      position: absolute;
      left: 64px;
      top: -1px;
      box-shadow: 0 0 2px #96b0b3;
      border: 1px none;
      border-radius: 0 8px 8px 0; }
      .menu > ul > li ul > li {
        -webkit-transition: all ease-in-out 0.1s;
        -moz-transition: all ease-in-out 0.1s;
        -ms-transition: all ease-in-out 0.1s;
        -o-transition: all ease-in-out 0.1s;
        transition: all ease-in-out 0.1s;
        box-shadow: inset 0px 0px 2px #c0c0c0;
        border-bottom: 1px solid #789a9e;
        background-color: rgba(209, 221, 222, 0.95);
        width: 192px;
        display: block; }
        .menu > ul > li ul > li:last-child {
          border-bottom: none; }
        .menu > ul > li ul > li.active {
          box-shadow: none;
          background-color: white; }
          .menu > ul > li ul > li.active a {
            border-left: white;
            color: black;
            text-decoration: none; }
        .menu > ul > li ul > li:hover {
          background-color: rgba(255, 255, 255, 0.94);
          box-shadow: none; }
        .menu > ul > li ul > li > a {
          text-shadow: 0 0 3px white;
          border-left: 6px solid #789a9e;
          width: 100%;
          padding: 8px;
          display: block; }
