
body {
    background: gray url("images/tweed_@2X.png");
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

.body.container {
    padding: 42px 2em 12px;
    margin-bottom: 70px;
    background-color: white;
    border-radius: 0 0 16px 16px;
    border: 2px double silver;
}

.body img {
    height: auto;
    max-width: 100%;
}


.navbar, .navbar-default, .navbar-fixed-top {
    min-height: 0;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0.95);
    /*background-image: url("images/menu_gradient_blue.png");*/
    border: none;
    border-bottom: 1px groove black;
    box-shadow: 0 1px 12px #EEE;
}

.navbar-brand, .navbar-nav > li > a  {
    padding-bottom: 8px !important;
    padding-top: 8px !important;
}

.navbar-brand {
    height: auto;
}

.navbar-brand{
    font-size: 24px;
}

.container > .navbar-collapse, .navbar-default .navbar-collapse {
    border: none;
}

.menuicon {
    height: 24px;
    padding: 0;
    margin: 0;
}

.ancestor, .active a, .open > a {
    background-color: rgba(74, 181, 252, 0.2);
    /*background-image: url("images/pw_maze_skyblue.png");*/
    color: black;
}

.email a {
    color: #E2E2E2;
    font-size: 0.7em;
    /*text-shadow: 0 0 1px white*/
}

.dropdown-menu {
    padding: 0;
}

.dropdown li:last-child a {
    border-bottom: none;
}

.dropdown li a {
    padding: 4px 16px;
    border-bottom: 1px solid silver;
    color: #428bca;
}

/* end navbar */

.prettyprint {
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
}



#toc.list-group ul{
    margin-left: 0;
    padding-left: 0
}

#toc.list-group ul a {
    text-decoration: none;
}

#toc .list-group-item {
    padding-top: 8px;
    padding-bottom: 8px;
}

/* bs callout */

.bs-callout{
	margin:8px 0;
	padding:8px;
	border-left:3px solid #eee
}

.bs-callout h4{
	margin-top:0;
	margin-bottom:5px
}

.bs-callout p:last-child{
	margin-bottom:0
}

.bs-callout code{
	background-color:#fff;
	border-radius:3px
}

.bs-callout-danger{
	background-color:#fdf7f7;
	border-color:#d9534f
}

.bs-callout-danger h4{
	color:#d9534f
}

.bs-callout-warning{
	background-color:#fcf8f2;
	border-color:#f0ad4e
}

.bs-callout-warning h4{
	color:#f0ad4e
}

.bs-callout-info{
	background-color:#f4f8fa;
	border-color:#5bc0de
}

.bs-callout-info h4{
	color:#5bc0de
}

/* back-to-top */

#back-to-top {
    position: fixed;
    left: -100px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 10px;
    background-color: rgba(255,255,255, 0.5);
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

/* icons */

a[href$='.pdf'] {
    background:transparent url(images/icons/pdf.png) center left no-repeat;
    display:inline-block;
    padding-left:20px;
    line-height:20px;
}

a[href$='.djvu'] {
    background:transparent url(images/icons/djvu.gif) center left no-repeat;
    display:inline-block;
    padding-left:20px;
    line-height:20px;
}

a[href$='.doc'], a[href$='.docx'] {
    background:transparent url(images/icons/doc.png) center left no-repeat;
    display:inline-block;
    padding-left:20px;
    line-height:20px;
}

/* Style for immitating console in DIV block*/
.console {
  font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
  color: #CCCCCC;
  background: #000000;
  border: 3px double #CCCCCC;
  padding: 5px;
  margin: 1em 0;
  line-height:1.3em;
}

/*Style for immitating console in SPAN block*/
.consoleIn {
  font-family:Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
 color: #CCCCCC;
  background: #000000;
  padding: 2px;
}
