body, html {
  height: 100%; }

.disable-hover {
  pointer-events: none; }

body {
  background: #689294;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  body #bg-fill {
    z-index: -1;
    position: fixed;
    background-image: url("images/flower-ribon_300_top.png"), url("images/flower_ornament_everywhere_300_.png"), url("images/stripe_40px_45deg.png");
    background-attachment: fixed, fixed, fixed;
    background-position: 0 0, 0px 70px, 0 0;
    background-repeat: repeat, repeat, repeat;
    width: 100%;
    height: 100%; }
  body.clr1 {
    background: red; }
  body.clr2 {
    background: white; }
  body.clr3 {
    background: black; }

.nojs {
  display: none; }

.container {
  display: block;
  position: relative;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  border-bottom: 8px solid #384e50;
  padding: 0;
  background-color: white; }
  @media (min-width: 750px) {
    .container {
      margin-bottom: 100px;
      border-radius: 0 0 12px 12px;
      border: 2px solid #4f6e70;
      border-bottom: 8px solid #384e50;
      border-top: 0; } }
  .container .left-board {
    background: #8cacae url("images/ornaments_in_64px.png") repeat-y;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    padding-left: 63px;
    display: block; }
    @media (max-width: 750px) {
      .container .left-board {
        border-left: none;
        padding-left: 48px; } }
    @media (min-width: 750px) {
      .container .left-board {
        border-radius: 0 0 12px 12px; } }
    .container .left-board .content {
      background-color: white;
      min-height: 500px;
      padding: 1em; }
      @media (max-width: 750px) {
        .container .left-board .content {
          font-size: 0.9em; } }
      @media (min-width: 750px) {
        .container .left-board .content {
          border-radius: 0 0 10px 0; } }
      .container .left-board .content img {
        height: auto;
        max-width: 100%; }

/*
@media (max-width: 300px) {
  .container {
    margin-bottom: 0;
    background-color: black;
  }
}*/
.yandex {
  display: none; }

.left_panel {
  width: 64px;
  background-color: black;
  float: left; }

.main-banner {
  margin-top: 0.5em;
  text-align: center; }
  .main-banner h1 {
    margin: 0.25em; }
  .main-banner img {
    border: 2px solid #000000;
    box-shadow: 0 0 0 3px #8cacae;
    max-height: 600px; }

/* end navbar */
.prettyprint {
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; }

#toc.list-group ul {
  margin-left: 0;
  padding-left: 0; }

#toc.list-group ul a {
  text-decoration: none; }

#toc .list-group-item {
  padding-top: 8px;
  padding-bottom: 8px; }

/* bs callout */
.bs-callout {
  margin: 8px 0;
  padding: 8px;
  border-left: 6px solid #eee; }
  .bs-callout p:last-child {
    margin-bottom: 0; }
  .bs-callout code {
    background-color: #fff;
    border-radius: 3px; }
  .bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px; }

.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f; }
  .bs-callout-danger h4 {
    color: #d9534f; }

.bs-callout-warning {
  background-color: #fcf8f2;
  border-color: #f0ad4e; }
  .bs-callout-warning h4 {
    color: #f0ad4e; }

.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #5bc0de; }
  .bs-callout-info h4 {
    color: #5bc0de; }

/* icons */
a[href$='.pdf'] {
  background: transparent url(../css/images/icons/pdf.png) center left no-repeat;
  display: inline-block;
  padding-left: 20px;
  line-height: 20px; }
a[href$='.djvu'] {
  background: transparent url(../css/images/icons/djvu.gif) center left no-repeat;
  display: inline-block;
  padding-left: 20px;
  line-height: 20px; }
a[href$='.doc'], a[href$='.docx'] {
  background: transparent url(../css/images/icons/doc.png) center left no-repeat;
  display: inline-block;
  padding-left: 20px;
  line-height: 20px; }
a[href$='.sqlite'] {
  background: transparent url(../css/images/icons/db.png) center left no-repeat;
  display: inline-block;
  padding-left: 20px;
  line-height: 20px; }

/* Style for immitating console in DIV block*/
.console {
  font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
  color: #CCCCCC;
  background: #000000;
  border: 3px double #CCCCCC;
  padding: 5px;
  margin: 1em 0;
  line-height: 1.3em; }

/*Style for immitating console in SPAN block*/
.consoleIn {
  font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
  color: #CCCCCC;
  background: #000000;
  padding: 2px; }

/*Style for immitating paper leaf */
.text {
  font-family: Times New Roman;
  font-size: 16px;
  background-color: #FFFFF8;
  color: #000;
  border: 3px double #CCC;
  padding: 1em;
  margin: 1em 0px;
  line-height: 1.3em; }

.cke_editable .collapsable .collapsable-body {
  display: block; }

.collapsable {
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s; }
  .collapsable:hover .collapsable-header {
    background-color: #dae4e5; }
  .collapsable.expanded .collapsable-body {
    display: block; }
  .collapsable .collapsable-body {
    display: none;
    overflow: hidden;
    padding: 15px;
    /* list inside collabsable */
    /* end list inside collabsable */ }
    .collapsable .collapsable-body > div:last-child, .collapsable .collapsable-body > p:last-child, .collapsable .collapsable-body > ul:last-child, .collapsable .collapsable-body > ol:last-child {
      margin-bottom: 0;
      padding-bottom: 0; }
    .collapsable .collapsable-body > ul, .collapsable .collapsable-body > ol {
      -webkit-transition: all ease-in-out 0.2s;
      -moz-transition: all ease-in-out 0.2s;
      -ms-transition: all ease-in-out 0.2s;
      -o-transition: all ease-in-out 0.2s;
      transition: all ease-in-out 0.2s;
      padding-left: 0;
      margin-bottom: 0;
      margin-left: -15px;
      margin-right: -15px; }
      .collapsable .collapsable-body > ul:last-child, .collapsable .collapsable-body > ol:last-child {
        margin-bottom: -15px; }
        .collapsable .collapsable-body > ul:last-child > li:last-child, .collapsable .collapsable-body > ol:last-child > li:last-child {
          border-radius: 0 0 4px 4px;
          border-bottom: none; }
      .collapsable .collapsable-body > ul:first-child, .collapsable .collapsable-body > ol:first-child {
        margin-top: -15px; }
        .collapsable .collapsable-body > ul:first-child > li:first-child, .collapsable .collapsable-body > ol:first-child > li:first-child {
          border-top: none; }
      .collapsable .collapsable-body > ul:last-child:first-child > li, .collapsable .collapsable-body > ol:last-child:first-child > li {
        background-color: #FFF; }
        .collapsable .collapsable-body > ul:last-child:first-child > li:hover, .collapsable .collapsable-body > ol:last-child:first-child > li:hover {
          background-color: #f8fafa; }
      .collapsable .collapsable-body > ul > li, .collapsable .collapsable-body > ol > li {
        -webkit-transition: all ease-in-out 0.2s;
        -moz-transition: all ease-in-out 0.2s;
        -ms-transition: all ease-in-out 0.2s;
        -o-transition: all ease-in-out 0.2s;
        transition: all ease-in-out 0.2s;
        position: relative;
        display: block;
        padding: 10px 15px;
        margin-bottom: -1px;
        border: 1px solid #DDD;
        border-left: none;
        border-right: none;
        background-color: #f8fafa; }
        .collapsable .collapsable-body > ul > li:hover, .collapsable .collapsable-body > ol > li:hover {
          background-color: #FFF; }
    .collapsable .collapsable-body.open {
      display: block; }
  .collapsable .collapsable-header {
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    cursor: pointer; }
    .collapsable .collapsable-header b, .collapsable .collapsable-header strong, .collapsable .collapsable-header h1, .collapsable .collapsable-header h2, .collapsable .collapsable-header h3, .collapsable .collapsable-header h4, .collapsable .collapsable-header h5, .collapsable .collapsable-header h6 {
      background-color: inherit; }
    .collapsable .collapsable-header:hover {
      background-color: #c8d7d8; }

.menu a {
  color: #2d3f41;
  text-decoration: none; }
  .menu a:hover {
    text-decoration: underline; }
.menu > ul {
  z-index: 100;
  position: fixed;
  padding: 0;
  list-style: none; }
  .menu > ul > li {
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    box-shadow: inset -1px 0 2px #c0c0c0;
    border-bottom: 1px solid #6e9699;
    background-color: rgba(255, 255, 255, 0.75);
    display: block;
    position: relative; }
    @media (max-width: 750px) {
      .menu > ul > li {
        font-size: 0.75em; } }
    .menu > ul > li.active, .menu > ul > li.ancestor {
      background-color: white;
      border-right: none;
      box-shadow: none; }
      .menu > ul > li.active > a, .menu > ul > li.ancestor > a {
        text-decoration: none; }
    .menu > ul > li:hover {
      background-color: rgba(255, 255, 255, 0.94) !important;
      box-shadow: none  !important; }
    .menu > ul > li > a {
      text-shadow: 0 0 1px silver;
      width: 64px;
      display: block;
      text-align: center;
      vertical-align: middle;
      overflow: hidden;
      padding: 10px 6px 6px; }
      @media (max-width: 750px) {
        .menu > ul > li > a {
          width: 48px; } }
      @media (max-width: 750px) {
        .menu > ul > li > a {
          padding: 10px 2px 2px; } }
      .menu > ul > li > a > img {
        width: 100%; }
        @media (max-width: 750px) {
          .menu > ul > li > a > img {
            padding: 0px 4px; } }
    .menu > ul > li:hover ul {
      opacity: 1;
      max-width: 192px; }
    .menu > ul > li ul {
      -webkit-transition: all ease-in-out 0.2s;
      -moz-transition: all ease-in-out 0.2s;
      -ms-transition: all ease-in-out 0.2s;
      -o-transition: all ease-in-out 0.2s;
      transition: all ease-in-out 0.2s;
      max-width: 0;
      overflow: hidden;
      background: white url("images/ornaments_v_in_42px.png");
      padding: 0;
      list-style: none;
      position: absolute;
      left: 64px;
      top: 0px;
      box-shadow: 0 0 2px #8cacae;
      border: 1px none;
      border-radius: 0 8px 8px 0;
      opacity: 0; }
      @media (max-width: 750px) {
        .menu > ul > li ul {
          left: 48px; } }
      .menu > ul > li ul.email {
        box-shadow: none; }
        .menu > ul > li ul.email > li {
          text-align: center;
          background-color: white; }
          .menu > ul > li ul.email > li a {
            color: black;
            text-decoration: none; }
      .menu > ul > li ul > li {
        -webkit-transition: all ease-in-out 0.1s;
        -moz-transition: all ease-in-out 0.1s;
        -ms-transition: all ease-in-out 0.1s;
        -o-transition: all ease-in-out 0.1s;
        transition: all ease-in-out 0.1s;
        box-shadow: inset 0px 0px 2px #c0c0c0;
        border-bottom: 1px solid #6e9699;
        background-color: rgba(200, 215, 216, 0.95);
        width: 192px;
        display: block; }
        @media (max-width: 750px) {
          .menu > ul > li ul > li {
            font-size: 1.33333em; } }
        .menu > ul > li ul > li:last-child {
          border-bottom: none; }
        .menu > ul > li ul > li.active {
          box-shadow: none;
          background-color: white; }
          .menu > ul > li ul > li.active a {
            border-left: white;
            color: black;
            text-decoration: none; }
        .menu > ul > li ul > li:hover {
          background-color: rgba(255, 255, 255, 0.94);
          box-shadow: none; }
        .menu > ul > li ul > li > a {
          text-shadow: 0 0 3px white;
          border-left: 6px solid #6e9699;
          width: 100%;
          padding: 8px;
          display: block; }

/* lesson */
.lesson {
  font-size: 1em;
  font-family: Verdana, Arial; }
  .lesson h1 {
    margin: 0px;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2d3f41; }
  .lesson h2 {
    margin: 0 0 0.25em;
    padding: 0;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2d3f41;
    font-size: 1.8em; }
  .lesson b, .lesson strong {
    color: #2d3f41; }
  .lesson .breadcrumbs {
    padding-left: 3px;
    font-size: 1em;
    color: #2d3f41;
    font-family: Georgia, 'Times New Roman', Times, serif; }
    .lesson .breadcrumbs > a {
      text-decoration: none; }
  .lesson hr {
    border: 1px inset;
    margin: 0.5em 0;
    color: #2d3f41; }
  .lesson a {
    text-decoration: underline;
    color: #2d3f41;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s; }
    .lesson a:hover {
      color: black; }
  .lesson img {
    display: block;
    background-color: white;
    border: 1px solid #2d3f41;
    padding: 8px;
    max-height: 450px;
    margin: 8px 0; }
    .lesson img.eqn {
      background-color: inherit;
      border: none;
      display: inline-block;
      margin: 0;
      padding: 0;
      max-height: auto; }
  .lesson pre {
    margin: 8px 0; }
  .lesson p {
    margin-bottom: 8px; }
  .lesson .panel-heading h1, .lesson .panel-heading h2, .lesson .panel-heading h3, .lesson .panel-heading h4, .lesson .panel-heading h5, .lesson .panel-heading h6 {
    margin: 0; }
  .lesson .panel.collapsable {
    margin-bottom: 10px; }

#messages {
  z-index: 1000;
  position: fixed;
  display: none;
  right: 0;
  top: 0;
  opacity: 0.85;
  margin-right: 10px;
  margin-top: 10px; }

#enter-button-area {
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  position: fixed;
  right: -2em;
  top: 0;
  padding: 40px;
  padding-right: 0; }
  #enter-button-area:hover {
    right: 0; }
    #enter-button-area:hover #enter-button {
      background-color: rgba(255, 255, 255, 0.55);
      color: #8cacae; }

#enter-button {
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  padding: 1em;
  cursor: pointer;
  border-radius: 8px 0 0 8px;
  color: white; }
  @media (max-width: 800px) {
    #enter-button {
      display: none; } }

/* back-to-top */
#back-to-top {
  z-index: 1;
  position: fixed;
  color: #2d3f41;
  left: -40px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 10px 5px;
  background-color: rgba(255, 255, 255, 0.25);
  cursor: pointer;
  border-radius: 0 8px 8px 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  #back-to-top.show {
    left: 0; }
  #back-to-top:hover {
    background-color: #8cacae;
    color: white; }
