body {
  background-color: gray; }

.container {
  border-bottom-color: #272727; }
  @media (min-width: 750px) {
    .container {
      border-color: #434343;
      border-bottom-color: #272727; } }
  .container .left-board {
    background-color: gray; }

.main-banner img {
  box-shadow-color: gray; }

/* back-to-top */
#back-to-top {
  color: #1a1a1a; }
  #back-to-top:hover {
    background-color: gray; }

#enter-button-area:hover #enter-button {
  color: gray; }

.collapsable:hover .collapsable-header {
  background-color: #c2c2c2; }
.collapsable .collapsable-body {
  /* end list inside collabsable */ }
  .collapsable .collapsable-body > ul:last-child:first-child > li:hover, .collapsable .collapsable-body > ol:last-child:first-child > li:hover {
    background-color: gainsboro; }
  .collapsable .collapsable-body > ul > li, .collapsable .collapsable-body > ol > li {
    background-color: gainsboro; }
.collapsable .collapsable-header:hover {
  background-color: #b3b3b3; }

.menu a {
  color: #1a1a1a; }
.menu > ul > li {
  border-bottom-color: #676767; }
  .menu > ul > li ul {
    box-shadow: 0 0 2px gray; }
    .menu > ul > li ul > li {
      border-bottom-color: #676767;
      background-color: rgba(179, 179, 179, 0.95); }
      .menu > ul > li ul > li > a {
        border-left-color: #676767; }

#main-banner img#view {
  border-color: #272727; }
#main-banner #editor-panel > .panel-heading {
  background-color: white; }
  #main-banner #editor-panel > .panel-heading:hover {
    background-color: gray; }

.students_plugin .student-photo img.student-photo-img {
  border-color: gray; }
  .students_plugin .student-photo img.student-photo-img:hover {
    box-shadow: 0 0 8px gray; }

.marks-editor .students-list .hover .student .name {
  border-left-color: gray; }
.marks-editor .students-list .hover .student .god {
  background: linear-gradient(135deg, rgba(128, 128, 128, 0.05) 25%, white 25%, white 50%, rgba(128, 128, 128, 0.05) 50%, rgba(128, 128, 128, 0.05) 75%, white 75%, white);
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -ms-background-size: 40px 40px;
  background-size: 40px 40px; }

body {
  background: linear-gradient(to bottom, rgba(238, 192, 82, 0), #272727);
  background-color: gray;
  background-attachment: fixed;
  background-position: 0 0;
  background-repeat: repeat, repeat; }

.container {
  box-shadow: 0px 0px 8px #f3d180; }

.collapsable .collapsable-body > ul:last-child:first-child > li:hover, .collapsable .collapsable-body > ol:last-child:first-child > li:hover {
  background-color: #f3f3f3; }
.collapsable .collapsable-body > ul > li, .collapsable .collapsable-body > ol > li {
  background-color: #f3f3f3; }
.collapsable .collapsable-header:hover {
  background-color: #d9d9d9; }

body {
  background: linear-gradient(to bottom, white 10%, rgba(0, 0, 0, 0.85) 100%);
  background-attachment: fixed;
  background-position: 0 0;
  padding-top: 1; }

.container {
  box-shadow: none; }
  .container .left-board {
    background-color: grey; }

.collapsable .collapsable-body > ol > li, .collapsable .collapsable-body > ul > li {
  background-color: white; }
  .collapsable .collapsable-body > ol > li:hover, .collapsable .collapsable-body > ul > li:hover {
    background-color: white; }
