body {
  background-color: #3a6d80; }

.container {
  border-bottom-color: #020405;
  box-shadow: 0px 4px 16px #4a8ba3; }
  @media (min-width: 750px) {
    .container {
      border-color: #14252c;
      border-bottom-color: #020405; } }
  .container .left-board {
    background-color: #3a6d80; }

.main-banner img {
  box-shadow-color: #3a6d80; }

/* back-to-top */
#back-to-top {
  color: black; }
  #back-to-top:hover {
    background-color: #3a6d80; }

#enter-button-area:hover #enter-button {
  color: #3a6d80; }

.collapsable:hover .collapsable-header {
  background-color: #7bb0c3; }
.collapsable .collapsable-body {
  /* end list inside collabsable */ }
  .collapsable .collapsable-body > ul:last-child:first-child > li:hover, .collapsable .collapsable-body > ol:last-child:first-child > li:hover {
    background-color: #9ec5d3; }
  .collapsable .collapsable-body > ul > li, .collapsable .collapsable-body > ol > li {
    background-color: #9ec5d3; }
.collapsable .collapsable-header:hover {
  background-color: #66a3ba; }

.menu a {
  color: black; }
.menu > ul > li {
  border-bottom-color: #305a69; }
  .menu > ul > li ul {
    box-shadow: 0 0 2px #3a6d80; }
    .menu > ul > li ul > li {
      border-bottom-color: #305a69;
      background-color: rgba(102, 163, 186, 0.95); }
      .menu > ul > li ul > li > a {
        border-left-color: #305a69; }

#main-banner img#view {
  border-color: #020405; }
#main-banner #editor-panel > .panel-heading {
  background-color: white; }
  #main-banner #editor-panel > .panel-heading:hover {
    background-color: #3a6d80; }

body {
  background: linear-gradient(to bottom, #3a6d80, #122228);
  background-attachment: fixed;
  background-position: 0 0;
  background-repeat: repeat, repeat; }

.container {
  box-shadow: 0 0 16px #4a8ba3; }
  .container .left-board {
    background-color: #527582; }

.menu > ul > li > ul > li {
  background-color: rgba(155, 195, 210, 0.95); }
  .menu > ul > li > ul > li > a {
    text-shadow: none;
    color: black; }

.collapsable:hover .collapsable-header {
  background-color: #d0e2e9; }
.collapsable .collapsable-body > ul:last-child:first-child > li:hover, .collapsable .collapsable-body > ol:last-child:first-child > li:hover {
  background-color: white; }
.collapsable .collapsable-body > ul > li, .collapsable .collapsable-body > ol > li {
  background-color: #fafcfd; }
.collapsable .collapsable-header:hover {
  background-color: #e1edf1; }
