.task-edit {
    float: right;
    clear: none;
    display: none;
    position: absolute;
    background-color: rgba(78, 199, 124, 0.95);
    border: solid 2px white;
    top: 1em;
    right: 2em;
    width: 200px;
    z-index: 100;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 8px gray;
}

.task-edit-option {
    top: 0;
    right: 0;
    position: absolute;
    margin-right: 8px;
    margin-top: 8px;
    padding: 0 4px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 13px;
    float: right;
    background-color: white;
}

.task-edit-option {
    cursor: pointer;
}

.task-edit-option:hover {
    color: gray;
}
