{% load static %}

<script type="text/javascript" src="{% static "js/jquery-1.11.0.min.js" %}" ></script>
<script type="text/javascript" src="{% static "js/jquery.color.js" %}" ></script>
<script type="text/javascript" src="{% static "js/jquery.form.js" %}" ></script>
<script type="text/javascript" src="{% static "js/jquery.cookie.js" %}" ></script>
<script type="text/javascript" src={% static "bootstrap/bootstrap.js" %}></script>
<script type="text/javascript" src={% static "js/bootstrap-select.js" %}></script>

<!--[if lt IE 9]>
      <script src="{% static "js/ie/html5shiv.js" %}"></script>
<![endif]-->
<!--[if lt IE 9]>
      <script src="{% static "js/ie/respond.min.js" %}" ></script>
<![endif]-->