{% load static sekizai_tags %}

{% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" href="{% static "css/main.min.css" %}"/>
{% endaddtoblock %}

{#{% if DEBUG %}#}
{# В дебажной версии используем главный стиль отдельно от склееного файла #}
{#    {% addtoblock "css" %}#}
{#        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>#}
{#    {% endaddtoblock %}#}
{#{% endif %}#}

<!--[if lt IE 8]>
    <link rel="stylesheet" href="{% static 'css/bootstrap-ie7.css' %}" media="all">
<![endif]-->
