{% load sekizai_tags static thumbnail %}

{% include "main_page/modalSave.html" %}

<div class="right">
    <ul>
        <li>
            <form class="form-inline">
                <button class="btn btn-default" data-bind="click: toggleBorder">
                    <span class="glyphicon" data-bind="css: style()"> Граница</span>
                </button>
            </form>
        </li>
        <!-- ДОБАВЛЕНИЕ ВИДА -->
        <li class="add">
            <form data-bind="submit: $root.addItem">
                <button class="btn btn-info">
                    <i class="glyphicon glyphicon-plus"><span> Добавить</span></i>
                </button>
                {% csrf_token %}
                <input style="display: none" type="file" name="file" accept="image/*">
                <input name="title" placeholder="title" data-bind="value: $root.new_item.title" hidden="">
                <textarea name="description" style="resize:none"
                          data-bind="value: $root.new_item.description" hidden=""></textarea>
{#                <input type="text" name="activate" hidden="" value="true">#}
            </form>
        </li>
        <!-- КОНЕЦ ДОБАВЛЕНИЕ ВИДА -->

        <!-- СПИСОК ВИДОВ -->
        <!-- ko foreach: items -->
        <li class="item" data-bind="css: { 'active': $data == $root.current_item() }">
            <ul class="mini-menu">
                <li>
                    <a href="#" class="remove btn btn-sm btn-warning"
                       data-bind="click: $root.removeItem">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="remove btn btn-sm btn-default"
                       data-bind="click: $root.activateItem,
                                  css: { 'btn-success': active() }">
                        <i class="glyphicon glyphicon-ok"></i>
                    </a>
                </li>
            </ul>

            <a href="#" data-bind="click: $root.selectItem" style="width: 100%; display: block">
                <img data-bind="attr: { src: item_thumb_url, title: title }"/>
            </a>

            {#            <form>#}
            {#                <input class="title form-control" data-bind="value: title">#}
            {#            </form>#}
        </li>
        <!-- /ko -->
        <!-- КОНЕЦСПИСОК ВИДОВ -->
    </ul>
</div>
<div style="clear: both"></div>


{% addtoblock "top_js" %}
    <script src="{% static "js/../../../templates/static/lib/ckeditor/ckeditor.js" %}"></script>
{% endaddtoblock "js" %}
{% addtoblock "top_js" %}
    <script src="{% static "js/../../../templates/static/lib/ckeditor/adapters/jquery.js" %}"></script>
{% endaddtoblock "js" %}

{% addtoblock "js" %}
    <script src="{% static "js/../../../templates/static/lib/knockout.js" %}"></script>
{% endaddtoblock "js" %}

{% addtoblock "js" %}
    <script src="{% static "js/ko.main_page.js" %}"></script>
{% endaddtoblock "js" %}

{% addtoblock "js" %}
    <script src="{% static "js/ko.modal_confirm.js" %}"></script>
{% endaddtoblock "js" %}

{% addtoblock "js" %}
    <script>
        ko.applyBindings(new MainPageModel({
            url: {
                items: "{% url "main_page.views.list_items" %}",
                item: "{% url "main_page.views.item" %}",
                activate_item: "{% url "main_page.views.set_active" %}",
                save_item: "{% url "main_page.views.save_item" %}",
                add_item: "{% url "main_page.views.add_item" %}",
                remove_item: "{% url "main_page.views.remove_item" %}",
                toggle_border: "{% url "main_page.views.toggle_border" %}"
            },
            selector: {
                view: "#main-banner .left .view"
            },
            show_border: {% if show_border %}true{% else %}false{% endif %},
            csrf: "{{ csrf_token }}"
        }));
    </script>
{% endaddtoblock "js" %}