{% extends "base-page.html" %}
{% load static sekizai_tags %}

{% block basecontent %}

    <div id="main-banner">
        {% if user.is_authenticated %}
            {% include "main_page/image_selector.html" %}
        {% endif %}
        <div class="left{% if user.is_authenticated %} authenticated{% endif %}">
            <div class="view">
                {% include "main_page/image.html" %}
            </div>
            {% if user.is_authenticated %}
                <!--  РЕДАКТИРОВАНИЕ СООБЩЕНИЯ  -->
                <div style="clear:left;"></div>
                <div id="editor-panel" class="panel panel-default hidden-xs" style="margin-top: 1em">
                    <div class="panel-heading" data-toggle="collapse" href="#editor">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </div>
                    <div class="panel-collapse collapse" id="editor">
                        <div class="panel-body">
                            <form data-bind="submit: $root.saveItem">
                            <textarea data-icon="{% static "img/main_page/saveme.png" %}" id="description-edit"
                                      style="resize: vertical" class="form-control" name="description"
                                      data-bind="ckeditor: description">
                                {{ description|safe }}
                            </textarea>
                            </form>
                        </div>
                    </div>
                </div>
                <!--  КОНЕЦ РЕДАКТИРОВАНИЯ СООБЩЕНИЯ  -->
            {% endif %}
        </div>
    </div>

    <div style="clear: both"></div>

    {% addtoblock "css" %}
        <link rel="stylesheet" href="{% static 'css/main-page.css' %}"/>
    {% endaddtoblock "css" %}

{% endblock %}