<div class="modal fade" id="modalConfirmDelete" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                Удалить?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-decline>Нет</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" data-confirm>Да</button>
            </div>
        </div>
    </div>
</div>