/* lesson */
@import "const";

$header_colors: darken($common_color, 40%);

.lesson {
  font-size: 1em;
  font-family: Verdana, Arial;

  h1 {
    margin: 0px;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $header_colors;
  }

  h2 {
    margin: 0px 0px 0.25em;
    padding: 0px;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $header_colors;
    font-size: 1.8em;
  }

  b, strong {
    color: $header_colors;
  }

  .breadcrumbs {
    padding-left: 3px;
    font-size: 1em;
    color: $header_colors;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  hr {
    border: 1px inset;
    margin: 0.5em 0;
    color: $header_colors;
  }

  a {
    text-decoration: underline;
    color: $header_colors;
    &:hover {
      color: darken($header_colors, 30%);
    }
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
  }

  img {
    display: block;
    background-color: white;
    border: 1px solid $header_colors;
    padding: 8px;
    max-height: 450px;
    margin: 8px 0;
    &.eqn {
      background-color: none;
      border: none;
      display: inline-block;
      margin: 0;
      padding: 0;
      max-height: auto;
    }
  }

  pre {
    margin: 8px 0;
  }

  p {
    margin-bottom: 8px;
  }

  .panel-heading {
    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }

  }

  .panel.collapsable {
    margin-bottom: 10px;
  }

}

