@import "const";

.menu {
  a {
    color: darken($common_color, 40%);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  > ul {
    z-index: 100;
    position: fixed;
    padding: 0;
    list-style: none;

    > li {
      @include transition(0.3s);
      box-shadow: inset -1px 0 2px #c0c0c0;
      @media (max-width: $min_screen_width) {
        font-size: 1em * $shrink_k;
      }

      &.active, &.ancestor {
        background-color: $container_bg_color;
        border-right: none;
        box-shadow: none;
        > a {
          text-decoration: none;
        }
      }

      border-bottom: 1px solid $menu_border_color;
      background-color: rgba($container_bg_color, 0.75);
      &:hover {
        background-color: rgba($container_bg_color, 0.94) !important;
        box-shadow: none !important;
      }

      > a {
        text-shadow: 0 0 1px silver;
        @media (max-width: $min_screen_width) {
          width: $menu_width_shrinked;
        }
        width: $menu_width;
        display: block;
        text-align: center;
        vertical-align: middle;
        overflow: hidden;
        padding: 10px 6px 6px;
        @media (max-width: $min_screen_width) {
          padding: 10px 2px 2px;
        }
        > img {
          @media (max-width: $min_screen_width) {
            padding: 0px 4px;
          }
          width: 100%;
        }
      }
      display: block;
      position: relative;

      &:hover {
        ul {
          opacity: 1;
          max-width: 3*$menu_width;
        }
      }

      ul {
        @include transition(0.2s);
        max-width: 0;
        overflow: hidden;
        background: $container_bg_color url("images/ornaments_v_in_42px.png");
        padding: 0;
        list-style: none;
        position: absolute;
        @media (max-width: $min_screen_width) {
          left: $menu_width_shrinked;
        }
        left: $menu_width;
        top: 0px;
        box-shadow: 0 0 2px $common_color;
        border: 1px none;
        border-radius: 0 8px 8px 0;

        opacity: 0;

        &.email {
          box-shadow: none;
          > li {
            text-align: center;
            a {
              color: black;
              text-decoration: none;
            }
            background-color: $container_bg_color;
          }
        }

        > li {
          @include transition(0.1s);
          box-shadow: inset 0px 0px 2px #c0c0c0;
          border-bottom: 1px solid $menu_border_color;
          background-color: rgba(lighten($common_color, 20%), 0.95);
          width: 3*$menu_width;
          display: block;
          @media (max-width: $min_screen_width) {
            font-size: 1em / $shrink_k;
          }

          &:last-child {
            border-bottom: none;
          }
          &.active {
            a {
              border-left: white;
              color: black;
              text-decoration: none;
            }
            box-shadow: none;
            background-color: $container_bg_color;
          }
          &:hover {
            background-color: rgba($container_bg_color, 0.94);
            box-shadow: none;
          }
          > a {
            text-shadow: 0 0 3px white;
            border-left: 6px solid $menu_border_color;
            width: 100%;
            padding: 8px;
            display: block;
          }
        }
      }
    }
  }
}

#articles-list {
  >ul {

  }
}