$item_width: 64px;
$item_height: 64px;
$item_padding: 6px;
$sub_item_width: 200px;

$border_color: #BBB;
$item_background_color: #f5f5f5;

$logo_height: 0.2 * $item_height;
$logo_bg_color: #b3cadc;

$body_padding: 20px;
$body_bg_color: white;
$main_background_image: "images/use_your_illusion.png";

$menu_width: 64px;
$container_radius: $menu_width / 3;
$menu_bg_color: #96b0b3;//#aacfd3;
$menu_border_color: lighten(darken($menu_bg_color, 40%), 30%);
$container_bg_color: white;


@mixin transition($speed) {
  -webkit-transition: all ease-in-out $speed;
  -moz-transition: all ease-in-out $speed;
  -ms-transition: all ease-in-out $speed;
  -o-transition: all ease-in-out $speed;
  transition: all ease-in-out $speed;
}
