@import "const";

.menu {
  border-radius: 0 0 0 $container_radius;
  width: $menu_width;
  min-width: $menu_width;
  display: table-cell;
  vertical-align: top;
  background: $menu_bg_color url("images/ornaments_in_#{$menu_width}.png");
  > ul {
    z-index: 100;
    position: fixed;
    padding: 0;
    list-style: none;

    > li {
      @include transition(0.3s);

      box-shadow: inset -1px 0 2px #c0c0c0;

      &.active, &.ancestor {
        background-color: $container_bg_color;
        border-right: none;
        box-shadow: none;
      }

      border-bottom: 1px solid $menu_border_color;
      background-color: rgba(255, 255, 255, 0.65);
      &:hover {
        background-color: rgba(255, 255, 255, 0.94);
        box-shadow: none;
      }

      > a {
        text-shadow: 0 0 1px silver;
        width: $menu_width;
        display: block;
        text-align: center;
        vertical-align: middle;
        overflow: hidden;
        padding: 6px;
        > img {
          width: 100%;
        }
      }
      display: block;
      position: relative;

      &:hover {
        ul {
          max-width: 3*$menu_width;
        }
      }

      ul {
        @include transition(0.2s);
        max-width: 0;
        overflow: hidden;
        background-color: $container_bg_color;
        padding: 0;
        list-style: none;
        position: absolute;
        left: $menu_width;
        top: 0;
        box-shadow: 0 0 2px $menu_bg_color;
        border: 1px none;
        border-radius: 0 8px 8px 0;

        > li {
          width: 3*$menu_width;
          display: block;
          //          border-left: 6px solid $menu_border_color;
          //          border-bottom: 1px solid $menu_border_color;

          &:last-child {
            border-bottom: none;
          }
          &.active {
            a {
              border-left: 6px solid $menu_bg_color;
            }
            background-color: lighten($menu_bg_color, 20%);
          }
          &:hover {
            background-color: lighten($menu_bg_color, 10%);
          }
          > a {

            width: 100%;
            padding: 8px;
            display: block;
          }
        }
      }
    }
  }
}