@import "theme_color";

@include theme_color(#808080);

body {
  background: linear-gradient(to bottom, rgba(#eec052, 0), darken($common_color, 35));
  background-color: $common_color;
  background-attachment: fixed;
  background-position: 0 0;
  background-repeat: repeat, repeat;
}

.container {
  box-shadow: 0px 4px 8px lighten(#eec052, 10);
}

.collapsable {
  .collapsable-body {
    > ul, > ol {
      &:last-child:first-child {
        > li {
          &:hover {
            background-color: lighten($common_color, 45);
          }
        }
      }
      > li {
        background-color: lighten($common_color, 45);
      }
    }
  }
  .collapsable-header {
    &:hover {
      background-color: lighten($common_color, 35);
    }
  }
}