@import "theme_color";

@include theme_color(#808080);

.container {
  box-shadow: 0px 4px 20px lighten(#eec052, 10);

}

.collapsable {
  .collapsable-body {
    > ul, > ol {
      &:last-child:first-child {
        > li {
          &:hover {
            background-color: lighten($common_color, 45);
          }
        }
      }
      > li {
        background-color: lighten($common_color, 45);
      }
    }
  }
}