@import "theme_color";

@include theme_color(#3a6d80);

body {
  background:
              url("images/flower-ribon_300_top.png"),
              url("images/flower_ornament_everywhere_300_.png"),
              url("images/stripe_40px_45deg.png"),
              linear-gradient(to bottom, $common_color, darken($common_color, 25));
  background-attachment: fixed, fixed, fixed, fixed;
  background-position: 0 0, 0 250px, 0 0, 0 0;
  background-repeat: no-repeat, repeat, repeat, repeat;
}

.container {
  box-shadow: 0 0 16px lighten($common_color, 10);
}

.menu {
  > ul > li {
    > ul > li {
      background-color: rgba(lighten($common_color, 35), 0.95);
      > a {
        text-shadow: none;
        color: black;
      }
    }
  }
}

.collapsable {
  .collapsable-body {
    > ul, > ol {
      &:last-child:first-child {
        > li {
          &:hover {
            background-color: lighten($common_color, 67);
          }
        }
      }
      > li {
        background-color: lighten($common_color, 62);
      }
    }
  }
  .collapsable-header {
    &:hover {
      background-color: lighten($common_color, 55);
    }
  }
}