{% load static file_upload_form_tags sekizai_tags %}

<div id="content_{{ instance.pk }}" class="article_content"
     {% if user.is_authenticated %}contenteditable="true"{% endif %}>{{ article|safe }}</div>

{% if user.is_authenticated %}
    {% addtoblock "js" %}
        {# активация встроенного редактирования статьи #}
        <script type="text/javascript">
            var ckEditor = CKEDITOR.inline("content_{{ instance.pk }}", {
                customConfig: "{% static "bower_components/ckeditor/articles_ckeditor_config.js" %}"
            });
            var editor = new Editor(ckEditor, "#instance_{{ instance.pk }}");

            {% file_upload_form_bind_ckeditor "ckEditor" %}
        </script>
    {% endaddtoblock %}
{% endif %}
