body {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.container {
  box-shadow: 0px 4px 16px #aac2c3; }

#main-banner {
  text-align: center; }
  #main-banner img#preview {
    max-height: 350px; }
  #main-banner img#view {
    max-height: 500px;
    border-radius: 16px;
    border: 6px solid #2d3f41; }
    #main-banner img#view.borderless {
      box-shadow: none;
      border-radius: 0;
      border: none; }
  #main-banner #editor-panel {
    border: none; }
    #main-banner #editor-panel > .panel-heading {
      -webkit-transition: all ease-in-out 0.3s;
      -moz-transition: all ease-in-out 0.3s;
      -ms-transition: all ease-in-out 0.3s;
      -o-transition: all ease-in-out 0.3s;
      transition: all ease-in-out 0.3s;
      background-color: white;
      cursor: pointer; }
      #main-banner #editor-panel > .panel-heading:hover {
        background-color: #8cacae;
        color: white; }
    #main-banner #editor-panel > .panel-collapse > .panel-body {
      padding: 0; }
      #main-banner #editor-panel > .panel-collapse > .panel-body > form {
        margin: 0;
        padding: 0; }
  #main-banner .left.authenticated {
    clear: none;
    margin-right: 220px; }
  #main-banner .left .view {
    margin: 0 auto; }
    #main-banner .left .view img {
      border: 2px solid #000000; }
  #main-banner .right {
    float: right;
    width: 200px;
    padding-left: 0.5em; }
    #main-banner .right > ul {
      -webkit-transition: all ease-in-out 0.2s;
      -moz-transition: all ease-in-out 0.2s;
      -ms-transition: all ease-in-out 0.2s;
      -o-transition: all ease-in-out 0.2s;
      transition: all ease-in-out 0.2s;
      height: 500px;
      border-radius: 8px;
      padding: 0 1em;
      overflow: scroll;
      overflow-x: hidden;
      list-style: none;
      width: 100%; }
      #main-banner .right > ul:hover {
        box-shadow: 0 0 4px #8cacae; }
      #main-banner .right > ul > li {
        margin-top: 0.5em;
        width: 100%; }
        #main-banner .right > ul > li.item {
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -ms-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
          border: 2px solid transparent;
          border-radius: 8px;
          position: relative;
          padding: 0.5em; }
          #main-banner .right > ul > li.item.active {
            border-color: #dddddd;
            box-shadow: 0px 0px 2px #dddddd; }
          #main-banner .right > ul > li.item img {
            max-height: 100px;
            margin: 0 auto; }
          #main-banner .right > ul > li.item:hover {
            box-shadow: 0px 0px 8px grey; }
          #main-banner .right > ul > li.item ul.mini-menu {
            padding: 0;
            position: absolute;
            top: 8px;
            right: 8px;
            list-style: none; }
            #main-banner .right > ul > li.item ul.mini-menu > li {
              padding: 0.1em; }
