{% load sekizai_tags static thumbnail ex_tags %}

{% include "main_page/modalSave.html" %}

<div class="right">

    <!-- ДОБАВЛЕНИЕ ВИДА, ПЕРЕКЛЮЧЕНИЕ ГРАНИЦ, ТЕМЫ -->
    <form class="form">
        <select class="form-control" id="cols" style="margin-bottom: 0.5em"
                data-bind="value: img_bootstrap_cols, options: cols"></select>
        <select class="form-control" id="themes" style="margin-bottom: 0.5em"
                data-bind="value: current_theme, options: themes, optionsText: 'name'"></select>

        <button class="btn btn-default" data-bind="click: toggleBorder" style="width: 100%">
            <span class="glyphicon" data-bind="css: style()"> Граница</span>
        </button>
    </form>
    <!-- КОНЕЦ ДОБАВЛЕНИЕ ВИДА -->

    <form class="form" data-bind="submit: $root.addItem" style="padding: 0.5em 0">
        <button class="btn btn-info" style="width: 100%">
            <i class="glyphicon glyphicon-plus"><span> Добавить</span></i>
        </button>
        {% csrf_token %}
        <input style="display: none" type="file" name="file" accept="image/*, video/mp4, video/flv, video/webm" hidden="">
        <input name="title" placeholder="title" data-bind="value: $root.new_item.title" hidden="">
        <textarea name="description" style="resize:none"
                  data-bind="value: $root.new_item.description" hidden=""></textarea>
    </form>
    <ul>

        <!-- СПИСОК ВИДОВ -->
        <!-- ko foreach: items -->
        <li class="item" data-bind="css: { 'active': $data == $root.current_item() }">
            <ul class="mini-menu">
                <li>
                    <a href="#" class="remove btn btn-sm btn-warning"
                       data-bind="click: $root.removeItem">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="remove btn btn-sm btn-default"
                       data-bind="click: $root.activateItem,
                                  css: { 'btn-success': active() }">
                        <i class="glyphicon glyphicon-ok"></i>
                    </a>
                </li>
            </ul>

            <a href="#" data-bind="click: $root.selectItem" style="width: 100%; display: block">
                <img class="lazy" data-bind="attr: { 'src': item_thumb_url, title: title }"/>
            </a>

            {#            <form>#}
            {#                <input class="title form-control" data-bind="value: title">#}
            {#            </form>#}
        </li>
        <!-- /ko -->
        <!-- КОНЕЦСПИСОК ВИДОВ -->
    </ul>
</div>
{#<div style="clear: both"></div>#}


{% addtoblock "js" %}
    <script src="{% static "bower_components/ckeditor/ckeditor.js" %}"></script>
{% endaddtoblock "js" %}

<div id="description" style="display: none">{{ description|safe }}</div>

{% addtoblock "js" %}
    <script>
        define('mainpage-settings', {
            url: {
                items: "{% url "main_page.views.list_items" %}",
                item: "{% url "main_page.views.item" %}",
                activate_item: "{% url "main_page.views.set_active" %}",
                save_item: "{% url "main_page.views.save_item" %}",
                add_item: "{% url "main_page.views.add_item" %}",
                remove_item: "{% url "main_page.views.remove_item" %}",
                toggle_border: "{% url "main_page.views.toggle_border" %}",
                toggle_img_bootstrap_cols: "{% url "main_page.views.toggle_img_bootstrap_cols" %}",
                update_description: "{% url "main_page.views.update_description" %}",

                themes: "{% url "main_page.views.list_themes" %}",
                set_theme: "{% url "main_page.views.set_current_theme" %}"
            },
            selector: {
                view: "#main-banner .left .view"
            },
            description: document.getElementById("description").innerHTML,
            show_border: {% if show_border %}true{% else %}false{% endif %},
            img_bootstrap_cols: {{ img_bootstrap_cols }},
            csrf: "{{ csrf_token }}"
        });
    </script>
{% endaddtoblock "js" %}