{% load static sekizai_tags %}
{% if item.item_url or item.video_url %}
    {% if img_bootstrap_cols >= 0 %}
        {% if img_bootstrap_cols > 0 %}
            <div class="col-sm-{{ img_bootstrap_cols }}"> {% endif %}
        {% if item.item_url %}
            <img src="{{ item.item_url }}" id="view"
                 class="main-page-image{% if not show_border %} borderless{% endif %}"/>
        {% elif item.video_url %}
            <video autoplay loop id="view"
                   poster='{{ item.item_thumb_url }}'
                   class="main-page-image{% if not show_border %} borderless{% endif %}"
                   src="{{ item.video_url }}"
                    >
            </video>
        {% endif %}
    {% endif %}
{% if img_bootstrap_cols > 0 %} </div> {% endif %}
{% endif %}
{% if description and img_bootstrap_cols < 12 %}
    {% if img_bootstrap_cols > 0 %}
        <div class="col-sm-{{ desc_bootstrap_cols }}"> {% endif %}
<div class="main-page-description">
    {{ description|safe }}
</div>
{% if img_bootstrap_cols > 0 %}</div> {% endif %}
{% endif %}
