{% extends "base-page.html" %}
{% load static sekizai_tags ex_tags %}

{% block basecontent %}

    {% addtoblock "js" %}
        {% if user.is_authenticated %}
            {% requirejs 'js/mainpage' 'mainpageadmin' 'dist/mainpageadmin'%}
        {% endif %}
    {% endaddtoblock %}


    <div id="main-banner">
        {% if user.is_authenticated %}
            {% include "main_page/image_selector.html" %}
        {% endif %}
        <div class="left{% if user.is_authenticated %} authenticated{% endif %}">
            <div class="view">
                {% include "main_page/image.html" %}
            </div>
            {% if user.is_authenticated %}
                <!--  РЕДАКТИРОВАНИЕ СООБЩЕНИЯ  -->
                <div style="clear:left;"></div>
                <hr style="margin: 0.5em 0"/>
                <div style="background-color: #EFEFEF" contenteditable=""
                     data-bind="ckeditorOptions: {
                        extraPlugins:  'sourcedialog,divarea,insertpre,div,image,bootstrap-message,showblocks,justify,divarea,colordialog,colorbutton,liststyle,eqneditor'
                     }, ckeditorInline: description"></div>
                <hr style="margin: 0.5em 0"/>
                <button class="btn btn-success pull-right" data-bind="click: update_description">
                    <span class="glyphicon glyphicon-save"></span>
                </button>
                <!--  КОНЕЦ РЕДАКТИРОВАНИЯ СООБЩЕНИЯ  -->
            {% endif %}
        </div>
    </div>

    <div style="clear: both"></div>

    {% addtoblock "css" %}
        <link rel="stylesheet" href="{% static 'css/main-page.css' %}"/>
    {% endaddtoblock "css" %}

{% endblock %}