@import "common/const";

.groups {
  list-style: none;
  padding-left: 0;
  .group-item {
    float: left;
    padding-right: 8px;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
  }
}

/* ANIMATIONS
============================================================================= */

@include keyframes(slideInLeft) {
  from {
    left: -100%
  }
  to {
    left: 0;
  }
}

/* slide in from the bottom */
@include keyframes(fadeIn) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.students-manager {
  overflow: hidden;
  min-height: 500px;
  @include transition(0.3s);
}

.students-view {
}

.student-list {
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  overflow: hidden;
  .student {

    &.ng-enter,
    &.ng-leave.ng-leave-active {
      opacity: 0;
    }

    &.ng-leave,
    &.ng-enter.ng-leave-active {
      opacity: 1;
    }

    @include transition(0.1s);
    padding: 0.5em;
    border-bottom: 1px solid #c0c0c0;
    &:last-child {
      border-bottom: none;
    }
    &.changed {
      background-color: #e4ffbf;
    }
    &.destroyed {
      background-color: #ffe6e6;
    }
  }
}

.students-view.ng-enter {
  position: absolute;
  width: 100%;
  top: 0;
  @include animation(slideInLeft 0.4s);
  //  z-index: 9999;
}

//
.students-view.ng-leave {
  //  @include animation(0.4s);
  @include animation(fadeIn 0.4s);
  z-index: 8888;
}
