<!DOCTYPE html>
{% load static custom_css_tags cms_tags sekizai_tags menu_tags email_obfuscator %}
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>{% page_attribute "page_title" %}</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico"/>

    {% render_block "css" %}
    {% render_block "top_js" %}
    {% include "elements/scripts.html" %}
    {% include "elements/styles.html" %}

</head>
<body>
{% cms_toolbar %}

<div class="container">
    <div>
        <div class="menu">
            <ul>
                <li {% if request.path == "/" %}class="active"{% endif %}>
                    <a {% if not request.path == "/" %} href="/" {% endif %}><span class="glyphicon glyphicon-leaf"></span><br>чаинка
                    </a>
                </li>
                {% show_menu 0 100 100 100 "elements/menu_vertical.html" %}
                <li class="email level0">
                    <a href="#">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content">
            {% block basecontent %}
            {% endblock %}
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static "js/navbar.js" %}"></script>

{% include "elements/back-to-top-button.html" %}
{% render_block "js" %}

{% include "elements/google-analytics.html" %}
</body>
</html>