<!DOCTYPE html>
{% load static custom_css_tags cms_tags sekizai_tags menu_tags email_obfuscator %}
<html ng-app>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico"/>
    <script src="{% static 'js/angular.min.js' %}"></script>
    {% render_block "css" %}
    {% include "elements/scripts.html" %}
    <title>{% page_attribute "page_title" %}</title>
    {% include "elements/styles.html" %}
    {% block styles %}{% endblock %}
    {% include "elements/google-analytics.html" %}
    {% custom_css %}
</head>
<body>
{% cms_toolbar %}

{% include "elements/yandex-metric.html" %}


<div class="container">
    <div id="navbar">
        <div class="navpanel">
            <div class="logo">
                <a href="/">
                </a>
            </div>

            <ul class="main">
                {% show_menu 0 100 100 100 "elements/menu_vertical.html" %}
                <li class="email level0">
                    <a href="#">
                        <img class="menuicon" src="{% static "img/envelope_64x64.png" %}">
                    </a>

                    <div class="dropdown">
                        <ul>
                            <li>
                                {{ 'mmailm.math@mail.ru'|obfuscate_mailto }}
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="body">
        {% block basecontent %}
        {% endblock %}
    </div>
</div>
<script type="text/javascript" src="{% static "js/navbar.js" %}"></script>


{% include "elements/back-to-top-button.html" %}
{% render_block "js" %}
{% block scripts %}

{% endblock %}

</body>
</html>