<!DOCTYPE html>
{% load cms_tags sekizai_tags menu_tags email_obfuscator %}
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico"/>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.0.min.js"></script>
    {% render_block "css" %}

    <title>{% page_attribute "page_title" %}</title>
    {% include "elements/styles.html" %}
    {% block styles %}{% endblock %}
    {% include "elements/google-analytics.html" %}
</head>
<body>
{% cms_toolbar %}

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                {#                <span class="icon-bar"></span>#}
                {#                <span class="icon-bar"></span>#}
            </button>
            <a href="/">
                <div class="navbar-brand">
                    <span class="glyphicon glyphicon-leaf"></span>
                </div>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% show_menu 0 100 100 100 "elements/menu.html" %}
            </ul>
            <div class="navbar-brand email navbar-collapse collapse pull-right">
            {% with 'mmailm.math@mail.ru' as mail %}
                <a class="glyphicon" href="mailto:{{ mail|obfuscate }}">
                    {{ mail|obfuscate }}
                </a>
            {% endwith %}
        </div>
        </div>

    </div>
</div>

<div class="container body">
    {% block basecontent %}
    {% endblock %}
</div>

{% include "elements/scripts.html" %}
{% include "elements/back-to-top-button.html" %}
{% render_block "js" %}
{% block scripts %}{% endblock %}
</body>
</html>