{% extends "lesson_article.html" %}
{% load sekizai_tags static %}

{% block exscripts %}
    {% addtoblock "js" %}
        <script type="text/javascript" src={% static "js/jquery-ui/ui/jquery-ui.js" %}></script>
    {% endaddtoblock %}
    {% addtoblock "js" %}
        <script type="text/javascript">
            $(document).ready(function() {
                // lab slider toggles
                $('.lab').find('.description').hide().end().find('.title').click(function () {
                    $(this).siblings('.description').slideToggle();
                });

                // lab selected item highlight
                $('.lab .selected').hover(function () {
                    $(this).toggleClass('selected', 250);
                });
            });
        </script>
    {% endaddtoblock %}
{% endblock %}