{% extends "base_page.html" %}
{% load static cms_tags sekizai_tags file_upload_form_tags %}

{% block basecontent %}

    {% if user.is_authenticated and current_page.publisher_is_draft %}
        {% file_upload_form current_page.pk %}
    {% endif %}

    <div class="lesson">
        <div class="breadcrumbs">{{ current_page.parent.get_page_title }}</div>
        <h1>{% page_attribute "title" %}</h1>
        <hr>
        {% placeholder "content" %}
    </div>

    {% block lesson_content %}
    {% endblock %}

    {#  TOP SCRIPTS #}
    {% addtoblock "top_js" %}
        {% if user.is_authenticated and current_page.publisher_is_draft %}
            <script src="{% static "lib/ckeditor/ckeditor.js" %}"></script>
        {% endif %}
    {% endaddtoblock %}
    {#  TOP SCRIPTS  END #}

    {# SCRIPTS #}
    {% addtoblock "js" %}
        <script src="{% static "lib/google-code-prettify/prettify.js" %}"></script>
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script type="text/javascript">
            !function ($) {
                $(function () {
                    window.prettyPrint && prettyPrint()
                })
            }(window.jQuery)
        </script>
    {% endaddtoblock %}
    {# SCRIPTS END #}

    {#  STYLES  #}
    {% addtoblock "css" %}
        <link rel="stylesheet" type="text/css" href="{% static "lib/google-code-prettify/prettify-bootstrap.css" %}">
    {% endaddtoblock %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{% static "css/lesson.css" %}"/>
    {% endaddtoblock %}
    {#  STYLES END #}


{% endblock %}
