{% extends "base_page.html" %}
{% load static sekizai_tags %}

{% block basecontent %}

    {% addtoblock "css" %}
        <link rel="stylesheet" href="{% static 'css/students.css' %}"/>
    {% endaddtoblock %}

    <!-- МОДАЛЬНОЕ ОКНО -->
    <div id="main-modal-form" class="modal fade modal_remove" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4>Подтверждение</h4>
                </div>
                <div class="modal-body" data-bind="html: $root.modalConfirm.message()">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-decline data-dismiss="modal">Нет</button>
                    <button type="button" class="btn btn-danger" data-confirm data-dismiss="modal">Да</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END МОДАЛЬНОЕ ОКНО -->

    <div class="students_plugin years">

        <!-- СПИСОК ГОДОВ -->
        <form class="year_selector form-inline">
            <select class="form-control"
                    data-bind="options: yearsList, optionsValue: 'year', optionsText: 'year', value: year"></select>
        </form>
        <!-- END СПИСОК ГОДОВ -->

        <div style="clear: both"></div>

        <!-- СПИСОК ГРУПП -->
        <div class="groups-content">
            <ul class="groups-nav" data-bind="foreach: groupsList">
                <li>
                    <div class="btn-group">
                        <a href="#" class="btn btn-default submit-link" data-bind="
                            click: $root.listStudents,
                            css: { 'btn-primary': $data == $root.group() }">
                            <span class="glyphicon glyphicon-user" data-bind="text: $data.title"></span>
                        </a>
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- форма удаления группы -->
                            <li>
                                <button class="btn btn-danger" data-bind="click: $root.removeGroup">удалить</button>
                            </li>
                            <!-- конец формы удаления группы -->
                            <li>
                                <form class="update">
                                    <div class="form-group">
                                        <input name="title" class="form-control" data-bind="value: title"/>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control"
                                                data-bind="options: $root.yearsList, optionsValue: 'year',
                                             optionsText: 'year', value: year"></select>
                                    </div>
                                    <button data-bind="click: $root.saveGroups"
                                            class="btn btn-default pull-right">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="groups-nav">
                <li>
                    <form class="add form-inline">
                        <input class="form-control" data-bind="value: $root.newGroup.title"/>
                        <button class="btn btn-success btn-sm" data-bind="click: $root.addGroup">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
        <!-- END СПИСОК ГРУПП -->

        <div style="clear: both"></div>

        <!-- СПИСОК СТУДЕНТОВ -->
        <button class="btn btn-sm btn-primary" data-bind="click: $root.saveStudents">
            <span class="glyphicon glyphicon-save"></span>
        </button>
        <div class="panel-body" data-bind="visible: $root.group()">
            <div class="group-students">
                <div class="content">
                    <table class="students table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="counter">#</th>
                            <th><span class="glyphicon glyphicon-user"></span></th>
                        </tr>
                        </thead>
                        <tbody data-bind="foreach: studentsList">
                        <tr>
                            <td class="counter" data-bind="text: $index"></td>
                            <td>
                                <form class="update form-inline">
                                    <input class="form-control" data-bind="value: second_name"/>
                                    <input class="form-control" data-bind="value: name"/>
                                    <button class="btn btn-danger btn-sm" data-bind="click: $root.removeStudent">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </form>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                    <form class="add form-inline">
                        <button class="btn btn-success btn-sm" data-bind="click: $root.addStudent">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <input class="form-control" data-bind="value: $root.newStudent.name"/>
                        <input class="form-control" data-bind="value: $root.newStudent.second_name"/>
                    </form>
                </div>
            </div>
        </div>
        <!-- END СПИСОК СТУДЕНТОВ -->
    </div>

    {% addtoblock "js" %}
        <script src="{% static 'js/jquery.form.js' %}"></script>
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script src="{% static 'js/knockout.js' %}"></script>
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script src="{% static 'js/students_knockout.js' %}"></script>
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script>
            ko.applyBindings(new StudentViewModel({
                        year: 2013,
                        group: 1
                    },
                    "#main-modal-form",
                    "{% url "students.views.ajax.json.years" %}",
                    "{% url "students.views.ajax.json.groups" %}",
                    "{% url "students.views.ajax.json.students" %}",
                    "{% url "students.views.ajax.json.save_students" %}",
                    "{% url "students.views.ajax.json.save_groups" %}"
            ));
        </script>
    {% endaddtoblock %}
    {% addtoblock "js" %}
        {# FOR DROPDOWN-MENU DONT CLOSE ON CLICK#}
        <script>

        </script>
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script src="{% static 'js/students.js' %}" type="text/javascript"></script>
    {% endaddtoblock %}

{% endblock %}