<form class="year_selector form-inline {% if not user.is_authenticated %}hidden{% endif %}" method="post"
      action="{% url 'students.views.ajax.group.index' %}">
    {% csrf_token %}
    <select name="year" class="form-control">
        {% if user.is_authenticated %}
            {% for y in years %}
                <option value="{{ y }}">{{ y }}</option>
            {% endfor %}
        {% else %}
            <option value="{{ year }}">{{ year }}</option>
        {% endif %}
    </select>
</form>
{% if not user.is_authenticated %}
    <h1 style="padding-left: 0.4em;">{{ year }} <small> учебный год</small></h1>
{% endif %}
<!-- сюда список групп загоняется-->
<div class="groups-content">
</div>
<!-- конец списка групп -->